<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
        <link rel="shortcut icon" href="@Url.Content("~/ElaAdmin/images/blogoa.png")" />
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/normalize.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/pe-icon-7-stroke.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/flag-icon.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/cs-skin-elastic.css")">
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/style.css")">
        <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/Common.css")" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <h2 class="align-content-center">
                        <b>S001</b>
                    </h2>
                    <h4>
                        <b>システムエラーが発生しました。プログラムを終了します。</b>
                    </h4>
                </div>
                </div>
            </div>
</body>
</html>

@*<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <h2 class="align-content-center">
                <b>S001</b>
            </h2>
            <h4>
                <b>システムエラーが発生しました。プログラムを終了します。</b>
            </h4>
        </div>
    </div>
</div>*@

