<div id="divSearch" data-iziModal-title="Order Select" data-iziModal-icon="icon-home">
    <div id="divSearch1">

    </div>
</div>

<script type="text/javascript">
    var CD;
    var Name;
    var CD1;
    function LoadSearchForm(typeID, CD, Name,CD1) {
        this.CD = CD;
        this.Name = Name;
        this.CD1 = CD1;
        $("#divSearch1").empty();

        switch (typeID) {
            case 1:
                $(".iziModal-header-title").text("ブランド検索");
                $("#divSearch1").load('@Url.Action("BrandList","Brand")', function () {
                    SearchSetting(typeID);
                });
                break;
            case 2:
                $(".iziModal-header-title").text("ユーザー検索");
                $("#divSearch1").load('@Url.Action("UserList","User")', function () {
                    SearchSetting(typeID);
                });
                break;
            case 3:
                $(".iziModal-header-title").text("品番検索");
                $("#divSearch1").load('@Url.Action("TourokuHinban_List", "TourokuProject")', function () {
                    SearchSetting(typeID);
                });
                break;
            case 4:
            case 7:
                $(".iziModal-header-title").text("金型検索");
                $("#divSearch1").load('@Url.Action("KanagataList", "Kanagata")', function () {
                    SearchSetting(typeID);
                });
                break;
            case 5:
                $(".iziModal-header-title").text("経費検索");
                $("#divSearch1").load('@Url.Action("Touroku_KeihiList", "Touroku_Keihi")', function () {
                    SearchSetting(typeID);
                });
                break;
            case 6:
                $(".iziModal-header-title").text("プロジェクト検索");
                $("#divSearch1").load('@Url.Action("TourokuProject_List", "TourokuProject")', function () {
                    SearchSetting(typeID);
                });
                break;
             case 8:
                $(".iziModal-header-title").text("経費設定検索");
                $("#divSearch1").load('@Url.Action("KeihiSetteiList", "KeihiSettei")', function () {
                    SearchSetting(typeID);
                });
                break;
        }
    }

    function SearchSetting(type) {

        switch (type) {
            case 1:
                $("#BrandType").val("2");
                GetBrand();
                $("#myInput").focus();
                $("#divAddBrand").hide();
                break;
            case 2:
                $("#UserType").val("2");
                GetUser();
                $("#UserInput").focus();
                $("#divAddUser").hide();
                break;
            case 3:
                HinbanList_Load();
                $("#HinbanType").val("2");
                $("#btnAdd").hide();
                $("#btnnext").hide();
                $("#divSearch1 #btnHibanSearch").hide();
                $("#divSearch1 #btnProjectSearch").hide();
                break;
            case 4:
            case 7:
                $("#KanagataType").val("2");
                GetCasting();
                $("#KanagataInput").focus();
                $('#divAddKanagata').hide();
                break;
            case 5:
                $("#KeihiType").val("2");
                KeihiList_Load();
                break;
            case 6:
                $("#ProjectType").val("2");
                ProjectList_Load();
                $("#divSearch1 #divbtn").hide();
                //$("#divSearch1 #btnnext").hide();
                $("#divSearch1 #btnCSV").hide();
                $("#divSearch1 #btnPSearch").hide();
                $("#divSearch1 #btnPUser").hide();
                break;
            case 8:
                $("#KeihiSettieType").val("2");
                GetKeihi();
                $("#myInput").focus();
                $("#divAddKeihiSettie").hide();
                break;
        }

        $("#divSearch").iziModal('open');
    }

    function ReturnSelected(cd, name, cd1) {
        $("#divSearch1").empty();
        $(CD).val(cd);
        $(Name).val(name);
        $(CD1).val(cd1);
        $("#divSearch").iziModal('close');

        //fire keydown of BrandName
        var e = jQuery.Event("keydown");
        e.which = 13; // # Some key code value

        if ($(Name).is('input')) {
            $(Name).trigger(e);
        }
        else if ($(CD).is('input')) {
            $(CD).trigger(e);
        }
        else {
            $(CD1).trigger(e);
        }

        if ($("#formtitle").text() == "品番検索") { Check(); } //BindProjectData as ProjectCD(From ProjectSearch) entered in HinbanList
        else if ($("#formtitle").text() == "品番登録" && (!$(CD1).length)) { ShowProjectData(); }//Bind ProjectData as ProjectCD (From ProjectSearch) entered in HinbanEntry
        else if ($("#formtitle").text() == "品番登録" && ($(CD1).length)) { GetSearchData(); } //Bind HinbanData as HinbanCD and ProjectCD (From HinbanSearch) entered in HinbanEntry
       
        //errortask 200->208 tabcase_2021/05/12 by sypk
        if ($("#divMainList").is(":visible")) {
            do {
                CD = $('#divMainList [tabIndex=' + (+$(CD).attr("tabIndex") + 1) + ']');
                if (!$(CD).length) {
                    ctrl = $('#divMainList [tabIndex=1]');
                    break;
                }
            } while ($(CD).is('[disabled=disabled]'));
            $(CD).select();
            $(CD).focus();
        }
        else if ($("#divMain").is(":visible")) {
            do {
                CD = $('#divMain [tabIndex=' + (+$(CD).attr("tabIndex") + 1) + ']');
                if (!$(CD).length) {
                    ctrl = $('#divMain [tabIndex=1]');
                    break;
                }
            } while ($(CD).is('[disabled=disabled]'));
            $(CD).select();
            $(CD).focus();
        }
    }
       
    
</script>