
@{
    ViewBag.Title = "UserList";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")" />
}

<div class="row">
    <ul class="breadcrumb">
        <li><i class="fa fa-list" style="width:1580px;">&nbsp; <b>User List</b></i></li>
    </ul>
</div>
<br />

@*<div class="col-md-12" style="padding:0px">
        <table class="table table-bordered table-striped nowrap" id="usertbl" style="width:100%">
            <thead>
                <tr>
                    <td class="text-right" width="15%"> <button id="btnAdd">ユーザー名 </button></td>
                    <td width="30%">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search" class="border border-white">

                    </td>
                    <td></td>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
        </table>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                ユーザー追加
            </button>
        </div>

        <div class="col-sm-7">
            <i class="fa fa-search"></i>
            <input type="text" id="myInput" placeholder="Search" class="border border-white"><br /><br />
            <table id="tblUser" class="hrtable col-sm-12">
                <thead>
                    <tr>
                        <td>UserID</td>
                        <td>UserName</td>
                    </tr>
                </thead>               
            </table>
        </div>

        <div class="col-sm-2">
            <div class="table-responsive">
                <table id="tbl">
                    <thead>
                    </thead>                     
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tblUser tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        GetUser();        
    });

       

    function GetUser() {
        $.ajax({
            type: "GET",
            url:"@Url.Action("M_User_Select", "api/UserApi")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                    BindTable(response);
                }
        });
        $(".Previous.paginate_button, .Next.paginate_button").hide();
    }

        function BindTable(response) {
            table = $('#tblUser').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "columns": [
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<b><label>' + data.ID + '</label></b><br/><label>' + data.UserName + '</label>';
                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<a style="color:blue">編集</a><br/><a style="color:red">削除</a>';
                        }
                    },
                ],
                "drawCallback": function (settings) {
                    $("#tblUser thead").remove();
                }
            });

        }
       
    function btnAddClick() {
        location.href = "UserEntry";
    }

    function btnEditClick(UserID) {
        var param = UserID + '_' + 'Edit';
        location.href = '@Url.Action("UserEntry", "User")';
        //var b = document.getElementById('ID').value,
        ////var b= 11,
        //url = 'UserEntry?UserID=' + encodeURIComponent(b) + "_e";

        document.location.href = url;
    }

    function btnDelClick() {
        var b = document.getElementById('ID').value,
            url = 'UserEntry?UserID=' + encodeURIComponent(b) + "_d";

        document.location.href = url;
        }



    </script>

    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/datatables.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/jszip.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/init/datatables-init.js")"></script>
}