@model Models.UserModel
@{
    ViewBag.Title = "UserEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
                <div>
                    <h2 class=" hr-text text-center">ユーザー登録</h2>
                </div>
                <div class="pt-5 md-form">
                    <input type="text" tabindex="1" name="name" id="UserName" onkeydown="KeyDown(event,this)"  class="text-line" maxlength="40"  required placeholder="ユーザー名">
                </div>
                <div class="pt-5 md-form">
                    <input type="text" tabindex="2" name="id" id="UserID" onkeydown="KeyDown(event,this)" class="text-line"  maxlength="20" required placeholder="ユーザーID">
                </div>
                <div class="pt-5 md-form">
                    <input type="password" tabindex="3" class="text-line" id="Password" onkeydown="KeyDown(event,this)" maxlength="10" name="pass" required placeholder="パスワード">
                </div>
                <div class="pt-5 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" tabindex="4" onclick="btnSaveClick()" class="btn btn-dark col-xl-5 text-center"></button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" tabindex="5" onclick="btnCancelClick()" class="btn btn-primary col-xl-5 text-center">戻る</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="APIURL" value="@Url.Action("M_User_ExistsCheck", "api/UserApi")" />
            </div>
            <div class="col-xs-6 col-md-4"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("ユーザー登録");
            $("#UserName").focus();
            var Mode = '@Model.Mode';
            if (Mode == 'New') {
                $('#btnSave').html('登録');

                RequiredCheck($("#UserName"));
                RequiredCheck($("#UserID"));
                RequiredCheck($("#Password"));
                AlreadyExistsCheck($("#UserID"), "User", '@Url.Action("M_User_ExistsCheck", "api/UserApi")');
                DoubleByteCheck($("#UserID"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                DoubleByteCheck($("#Password"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            }
            else if (Mode == 'Edit') {
                $('#btnSave').html('更新');
                $("#UserID").attr('disabled', 'disabled');
                $("#UserName").focus();

                RequiredCheck($("#UserName"));
                RequiredCheck($("#Password"));
                DoubleByteCheck($("#Password"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');

                ShowData();
            }
            else {
                $('#btnSave').html('削除');
                $("#UserID").attr('disabled', 'disabled');
                $("#UserName").attr('disabled', 'disabled');
                $("#Password").attr('disabled', 'disabled');
                $("#btnSave").focus();

                ShowData();
            }
        });

        @*function ByteCheck(result) {
            alert(result);
            if (result == 'OK') {
                DoubleByteCheck($("#UserID"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            }
        }*@
          
        //set data
        function ShowData() {
            var Umodel = {
                UserID: '@Model.UserID',
            };

            var data = CalltoApiController('@Url.Action("M_User_Select", "api/UserApi")', Umodel);
            var userdata = JSON.parse(data);
            $("#UserID").val(userdata[0].ID);
            $("#UserName").val(userdata[0].UserName);
            $("#Password").val(userdata[0].Password);
        }

        //insert,update,delete
        function DoProcess() {
            focusControl = $("#UserID");
            var Umodel = {
                UserID: $("#UserID").val(),
                UserName: $("#UserName").val(),
                Password: $("#Password").val(),
                Mode:'@Model.Mode'
            };

            var data = CalltoApiController('@Url.Action("User_CUD", "api/UserApi")', Umodel);
            ShowSuccessMessage(data,'@Url.Action("UserList", "User")');
        }

        function DeleteConfrim() {
            DoProcess();
        }

        //save
        function btnSaveClick() {
            var res = ErrorCheckOnSave();
             if (res == "0") {
                var Mode = '@Model.Mode';
                //show confirm message
                if (Mode == "Delete") {
                    ShowConfirmMessage("Q102", "DeleteConfrim");
                }
                else {
                    DoProcess();
                }
            }
            else
                ShowErrorMessage(res);
        }

        function btnCancelClick() {
            location.href = '@Url.Action("UserList", "User")';
        }
    </script>
}

