@model Models.BrandModel
@{
    ViewBag.Title = "BrandEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-5">
                <div>
                    <h3 class=" hr-text text-center">ブランド登録</h3>
                </div>
                <div class="pt-5 md-form">

                    <input type="text" tabindex="1" id="BrandCD" name="brandCD"  onkeydown="KeyDown(event,this)" class="text-line" maxlength="6" required placeholder="ブランドコード">

                </div>
                <div class="pt-5 md-form">

                    <input type="text" tabindex="2"  id="BrandName"  name="brandName" onkeydown="KeyDown(event,this)" class="text-line" maxlength="40" required placeholder="ブランド名">
                    <label id="lblBrandNameErr" style="color:red;display:none"></label>

                </div>
                <div>
                    <span id="errexist" class="color-red"></span>
                </div>
                <div class="pt-5 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" tabindex="3" onclick="btnSaveClick()" class="btn btn-dark col-xl-5 text-center"></button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" tabindex="4" onclick="btnCancelClick()" class="btn btn-primary col-xl-5 text-center">戻る</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="APIURL" value="@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")" />
            </div>
            <div class="col-xs-6 col-md-3"></div>
        </div>
    </div>
</div>

    
@section Scripts{
<script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("ブランド登録");
            $("#BrandCD").focus();
            var Mode = '@Model.Mode';
            if (Mode == 'New') {
                $('#btnSave').html('登録');

                RequiredCheck($("#BrandCD"));
                RequiredCheck($("#BrandName"));
                AlreadyExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")');
                DoubleByteCheck($("#BrandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            }
            else if (Mode == 'Edit') {
                $('#btnSave').html('更新');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#BrandName").focus();

                RequiredCheck($("#BrandName"));
                ShowData();
            }
            else {
                $('#btnSave').html('削除');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#BrandName").attr('disabled', 'disabled');
                $("#btnSave").focus();
                ShowData();
                 }


        });

        //set data
        function ShowData() {
            var bmodel = {
                BrandCD: '@Model.BrandCD',
            };

            var data = CalltoApiController('@Url.Action("M_Brand_Select", "api/BrandApi")', bmodel);
            var BrandData = JSON.parse(data);
            $("#BrandCD").val(BrandData[0].BrandCD);
            $("#BrandName").val(BrandData[0].BrandName);
        }

        //insert,update,delete
        function DoProcess() {
          focusControl = $("#BrandCD");
            var bmodel = {
                BrandCD: $("#BrandCD").val(),
                BrandName: $("#BrandName").val(),
                Mode:'@Model.Mode'
            };
            var data = CalltoApiController('@Url.Action("Brand_CUD", "api/BrandApi")', bmodel);
            ShowSuccessMessage(data,'@Url.Action("BrandList", "Brand")');
        }

        function DeleteConfrim() {
            DoProcess();
        }
        
        //save
    function btnSaveClick() {
        var res = ErrorCheckOnSave();
        if (res == "0") {
            var Mode = '@Model.Mode';
            //show confirm message
            if (Mode == "Delete") {
                ShowConfirmMessage("Q102", "DeleteConfrim");
            }
            else {
                DoProcess();
            }
        }
        else
            ShowErrorMessage(res);
    }

    $('#btnCancel').keydown(function (e) {
        var code = e.keyCode || e.which;
        if (code == 9) {
            if (e.shiftKey) {
                //Focus previous input
                if (thisTab == startIndex) {
                    $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                    return false;
                }
                else {
                    e.preventDefault();
                }
            }
            e.preventDefault();
        }
    });
        
        function btnCancelClick() {
            location.href = '@Url.Action("BrandList", "Brand")';
        }
    </script>
}


