
@{
    ViewBag.Title = "BrandList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")" />
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2 col-md-3">
                <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                    ブランド追加
                </button>
            </div>
            
            <div class="col-sm-7 col-md-6">
                <i class="fa fa-search" style="padding-left:15px;"></i>
                <input type="text" id="myInput" placeholder="Search" class="border border-white" style="width:80%;padding-bottom:10px">
                <table id="tblBrand" class="tb1 col-sm-12" style="padding-left:0px;">
                    <thead>
                        <tr>
                            <td>ブランドコード</td>
                            <td>ブランド名</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("ブランド検索");

        //$("#myInput").on("keyup", function () {
        //    var value = $(this).val().toLowerCase();
        //    $("#tblUser tr").filter(function () {
        //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        //    });
        //});


            GetBrand();
        });

        $('#myInput').on("keypress", function (e) {
            if (e.keyCode == 13) {
                GetBrand();
                return false; // prevent the button click from happening
            }
        });

        function GetBrand() {
            var bmodel = {
                BrandName: $('#myInput').val(),
            };

        $.ajax({
            type: "Post",
            url:"@Url.Action("M_Brand_Select", "api/BrandApi")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(bmodel),
            headers:
            {
                Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
            },
            success: function (response) {
                    BindTable(response);
                }
        });
    }

        function BindTable(response) {
            table = $('#tblBrand').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                destroy:true,
                "columns": [
                    {
                        "data": null,
                        className:"Border1",
                        render: function (data, type, row) {
                            return '<b><label>' + data.BrandCD + '</label></b><br/><label>' + data.BrandName + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border2",
                        render: function (data, type, row) {
                            return '<label><a href="#" onClick="btnEditClick(\'' + data.BrandCD + '\')" style="color:blue">編集</a></label><br/><label><a href="#" onClick="btnDelClick(\'' + data.BrandCD +'\')" style="color:red">削除</a></label>';
                        }
                    },
                ],
                "drawCallback": function (settings) {
                    $("#tblBrand thead").remove();
                }
            });

        }

    function btnAddClick() {
        location.href = '@Url.Action("BrandEntry", "Brand")?Mode=New'
    }

    function btnEditClick(BrandCD) {
        location.href = '@Url.Action("BrandEntry", "Brand")?BrandCD='+BrandCD+'&Mode=Edit';
    }

    function btnDelClick(BrandCD) {
        location.href = '@Url.Action("BrandEntry", "Brand")?BrandCD='+BrandCD+'&Mode=Delete';
        }
    </script>

    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/datatables.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/jszip.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/init/datatables-init.js")"></script>

  }

