@model Models.Touroku_KeihiModel
@{
    ViewBag.Title = "Touroku_KeihiList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}


    <div id="divMain" class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-5">
                    <div class="card-body card-block">
                    <div class="row form-group">
                        
                            <button id="btnAdd" tabindex="17" onclick="btnAddClick()" class="btn btn-primary col-xl-4 text-center">
                                経費追加
                            </button>
                            @*<button id="btnDel" onclick="btnDelClick()" class="btn" style="background-color:white; color:#1a8cff; border-radius:3px; border: 1px solid transparent; border-color:#1a8cff; margin-top: 20px;">
                        削除
                    </button>*@
                            <div id="registration" style="padding-top: 1.8rem!important;">
                                <div>
                                    <h4 class=" hr-text text-center">検索条件入力</h4>
                                </div>
                                <div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-sm-12 col-md-12 col-lg-12" style="padding-left:49px;">
                                            <div class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text" style="padding-right: 5px;">経費名</label>
                                                <input type="text" tabindex="1" class="text-line col-xl-3  input-numeral15 text-left" id="CostCD" name="CostCD" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" >
                                                <input type="text" tabindex="2" class="text-line col-xl-7  text-left" id="CostName" name="CostName" maxlength="40" onkeydown="KeyDown(event,this)" required placeholder="入力">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-md-12" style="padding-left:49px;">
                                            <div class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text" style="padding-right: 5px;">計上日</label>
                                                <input type="text" tabindex="3" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this)" id="CostDate1" name="CostDate1" maxlength="10" required placeholder="入力" >
                                                &nbsp;~&nbsp;
                                                <input type="text" tabindex="4" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this,'DateCompareCheck')" id="CostDate2" name="CostDate2" maxlength="10" required placeholder="入力" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-md-12" style="padding-left:64px;">
                                            <div class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text" style="padding-right: 5px;">年度</label>
                                                <input type="text" tabindex="5" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this)" id="year" name="year" maxlength="4" required placeholder="入力">
                                                @*&nbsp;&nbsp;
                                        <button id="btnMove" onclick="btnMoveClick()" class="btn col-xl-10 text-center" tabindex="6" style="background-color:#1a8cff; color:azure;width:90px;border-radius:5px;height:35px;">
                                            移動
                                        </button>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-sm-12 col-md-12 col-lg-12" style="padding-left:32px;">
                                            <div class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text" style="padding-right: 5px;">ブランド</label>
                                                <input type="text" tabindex="6" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this)" id="brandCD" name="brandCD" maxlength="6" required placeholder="入力" >
                                                <input type="text" tabindex="7" class="text-line col-xl-6 text-left" onkeydown="KeyDown(event,this)" id="brandname" name="brandname" maxlength="40" required placeholder="入力" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-md-12" style="padding-left:32px;">
                                            <div id="Seasongp" class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text" style="padding-right:9px;">シーズン</label>
                                                <input type="checkbox" tabindex="8" id="allyear" name="chk"  value="1" onkeydown="KeyDown(event,this)" checked>
                                                <label for="allyear" style="padding-right:20px!important;">通年</label>
                                                <input type="checkbox" tabindex="9" id="SS" name="chk" value="2" onkeydown="KeyDown(event,this)" checked>
                                                <label for="SS" style="padding-right:20px!important;">SS</label>
                                                <input type="checkbox" tabindex="10" id="FW" name="chk" value="3" onkeydown="KeyDown(event,this,'CheckboxCheck')" checked>
                                                <label for="FW" style="padding-right:20px!important;">FW</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-md-12" style="padding-left:0px;">
                                            <div class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text">プロジェクト</label>
                                                <input type="text" tabindex="11" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'ProjectCheck')" id="projectCD" name="projectCD" maxlength="10" required placeholder="入力">
                                                <input type="text" tabindex="12" class="text-line col-xl-6 text-left" onkeydown="KeyDown(event,this)" id="projectname" name="projectname" maxlength="60" required placeholder="入力">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                        <div class="col-md-12" style="padding-left:60px;">
                                            <div class="text-s text-custom1 text-uppercase mb-1">
                                                <label id="text" style="padding-right: 7px;">品番</label>
                                                <input type="text" tabindex="13" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this)" id="PartCD" name="PartCD" maxlength="6" required placeholder="入力" >
                                                <input type="text" tabindex="14" class="text-line col-xl-7 text-left" onkeydown="KeyDown(event,this)" id="PartName" name="PartName" maxlength="60" required placeholder="入力" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3 md-form"  style="padding-left:0px; padding-top:2rem;">
                                        <div class="col-xl-12" >
                                            <div class="col-xl-9" style="float:right;">
                                                <button id="btnCSV" tabindex="15" onclick="btnCSVClick()" class="btn btn-csv col-xl-3 text-center">CSV</button>&nbsp;&nbsp;
                                                <button id="btnSearch" tabindex="16" onclick="btnSearchClick()" class="btn btn-dark col-xl-3 text-center">検索</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-7">
                    <div class="card-body card-block">
                        <table id="tblTouroku_Keihi" class="tb1 col-sm-12" style="margin-left:7px;">
                            <thead>
                                <tr>
                                    <th>経費名</th>
                                    <th>計上日</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>ブランド</th>
                                    <th>シーズン</th>
                                    <th>年度</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>プロジェクト</th>
                                    <th>品番</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                @*<div class="col-xs-12 col-md-1"></div>*@
            </div>
        </div>
    </div>

 @section Scripts{
   <script type="text/javascript">
       var array;
       $(document).ready(function () {
           $("#formtitle").text("経費検索");
           if ('@Model.flg' == "list") {
               $('#CostCD').val('@Model.CostCD');
               $('#CostName').val('@Model.CostName');
               $('#CostDate1').val('@Model.CostDateFrom');
               $('#CostDate2').val('@Model.CostDateTo');
               $('#year').val('@Model.Year');
               $('#brandCD').val('@Model.BrandCD');
               $('#brandname').val('@Model.BrandName');
               $('#projectCD').val('@Model.ProjectCD');
               $('#projectname').val('@Model.ProjectName');
               $('#PartCD').val('@Model.HinbanCD');
               $('#PartName').val('@Model.HinbanName');
               var str = '@Model.Season';
               if (str.includes("1"))
                   $("#allyear").prop("checked", true);
               else $("#allyear").prop("checked", false);
               if (str.includes("2"))
                   $("#SS").prop("checked", true);
               else $("#SS").prop("checked", false);
               if (str.includes("3"))
                   $("#FW").prop("checked", true);
               else $("#FW").prop("checked", false);

           }
            $("#CostCD").focus();
            ExistsCheck($("#CostCD"), "Keihi", '@Url.Action("M_Keihi_ExistsCheck", "api/Touroku_KeihiApi")', "CostName");
            DoubleByteCheck($("#CostCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');

            DateCheck($("#CostDate1"), '@Url.Action("Date_Checking", "api/CommonApi")');
            DateCheck($("#CostDate2"), '@Url.Action("Date_Checking", "api/CommonApi")');

            DoubleByteCheck($("#year"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            YearCheck($("#year"), '@Url.Action("Year_Checking", "api/CommonApi")');

            ExistsCheck($("#brandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/Touroku_KeihiApi")', "brandname");
            DoubleByteCheck($("#brandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');

            ExistsCheck($("#projectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/Touroku_KeihiApi")', "projectname");
            DoubleByteCheck($("#projectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');

            DoubleByteCheck($("#PartCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            ExistsCheck($("#PartCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "PartName", $("#projectCD").val());

          
       });

       function ProjectCheck(result) {
            if (result == 'OK') {
                ExistsCheck($("#PartCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "PartName", $("#projectCD").val());
            }
         }

       function DateCompareCheck(result) {
           if (result == 'OK') {
               if (!($('#CostDate1').val().trim() == '' || $('#CostDate2').val().trim() == '')) {
                   var model = {
                       startDate: $("#CostDate1").val(),
                       endDate: $("#CostDate2").val()
                   };
                   @*var data = CalltoApiController('@Url.Action("DateComapre", "api/CommonApi")', model);
                   var dateData = JSON.parse(data);*@
                   //if (dateData[0].flg != 'false') {
                   if (model.startDate <= model.endDate) {
                       $("#year").focus();
                   }
                   else {
                       $("#CostDate2").focus();
                       ShowErrorMessage("E112");
                   }
               }
            }
       }

       function DateCompareCheckOnSave() {
           if (!($('#CostDate1').val().trim() == '' || $('#CostDate2').val().trim() == '')) {
               var model = {
                   startDate: $("#CostDate1").val(),
                   endDate: $("#CostDate2").val()
               };
               //var data = CalltoApiController('@Url.Action("DateComapre", "api/CommonApi")', model);
               //var dateData = JSON.parse(data);
               //if (dateData[0].flg != 'false') {
               if (model.startDate <= model.endDate) {
                   return "0";
               }
               else {
                   return "E112";
               }
           }
           else return "0";
       }

       function CheckboxCheck(result) {
           if (result == 'OK') {
               var allyear = $("#allyear").is(":checked");
               var ss = $("#SS").is(":checked");
               var fw = $("#FW").is(":checked");
               if (!allyear && !ss && !fw) {
                   $("#FW").focus();
                   ShowErrorMessage("E111");
               }
           }
       }

       function GetData() {
            var kmodel = {
            CostCD: $('#CostCD').val(),
            CostName: $('#CostName').val(),
            CostDateFrom: $('#CostDate1').val(),
            CostDateTo: $('#CostDate2').val(),
            Year: $('#year').val(),
            BrandCD: $('#brandCD').val(),
            BrandName: $('#brandname').val(),
            //Season: $('#season').val(),
            ProjectCD: $('#projectCD').val(),
            ProjectName: $('#projectname').val(),
            HinbanCD: $('#PartCD').val(),
            HinbanName: $('#PartName').val(),
            };

           var selected = new Array();
           $("#Seasongp input[type=checkbox]:checked").each(function () {
               selected.push(this.value);
           });
           if (selected.length > 0)
               kmodel.Season = selected.join(",");

            $.ajax({
                type: "Post",
                url: "@Url.Action("M_Cost_Select_List", "api/Touroku_KeihiApi")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(kmodel),
                headers:
            {
                Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
            },
                success: function (response) {
                    if (response == "[]") {
                        BindTable(response);
                        var data = ShowErrorMessage("E104");
                        return data;
                    }
                    else {
                        BindTable(response);
                    }
                },
            });
        }

       function BindTable(response) {
            table = $('#tblTouroku_Keihi').DataTable({
                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy: true,
                "columns": [
                    {
                        "data": null,
                        className: "Border1",
                        render: function (data, type, row) {
                            return '<label>' + data.CostCD + '  ' + data.CostName + '</label><br/><label>' + data.BrandCD + '</label><br/><label>' + data.ProjectCD + '  ' + data.ProjectName + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Borde2",
                        render: function (data, type, row) {
                            return '<label>' + data.CostDate + '</label><br/><label>' + data.Season + '</label><br/><label>' + data.HinbanCD + '  ' + data.HinbanName + '</label>';;
                        }
                    },
                    {
                        "data": null,
                        className: "Border3",
                        render: function (data, type, row) {
                            return '<br/><label>' + data.Year + '</label><br/><label>' ;
                        }
                    },

                    {
                        "data": null,
                        className: "Border4",
                        render: function (data, type, row) {
                            return '<label><a href="#" onClick="btnEditClick(\'' + data.SEQ  + '\')" style="color:blue">編集</a></label><br/><label><a href="#" onClick="btnDelClick(\'' + data.SEQ + '\')" style="color:red">削除</a></label> <br/> <label><a href="#" onClick="btnCopyClick(\'' + data.SEQ + '\')" style="color:green">複写</a></label><br/>';
                        }
                    },
                ]
                //"drawCallback": function (settings) {
                //    $("#tblKeihi thead").remove();
                //}

            });
        }

        function btnSearchClick(){
            var allyear = $("#allyear").is(":checked");
            var ss = $("#SS").is(":checked");
            var fw = $("#FW").is(":checked");
            if (!allyear && !ss && !fw) {
                $("#FW").focus();
                var data = ShowErrorMessage("E111");
                return data;
            }
            else {
                var res = ErrorCheckOnSave();
                if (res == "0") {
                    var res1 = DateCompareCheckOnSave();
                    if (res1 == "0") {
                        GetData();
                    }
                    else {
                        $("#CostDate2").focus();
                        ShowErrorMessage(res1);
                    }
                }
                else
                    ShowErrorMessage(res);
            }

        }

       function btnCSVClick() {
        var allyear = $("#allyear").is(":checked");
        var ss = $("#SS").is(":checked");
        var fw = $("#FW").is(":checked");
           if (!allyear && !ss && !fw) {
               $("#FW").focus();
                 var data = ShowErrorMessage("E111");
                return data;
            }
        else {
            var res = ErrorCheckOnSave();
                 if (res == "0") {
                     var res1 = DateCompareCheckOnSave();
                     if (res1 == "0") {
                         var kmodel = {
                             CostCD: $('#CostCD').val(),
                             CostName: $('#CostName').val(),
                             CostDateFrom: $('#CostDate1').val(),
                             CostDateTo: $('#CostDate2').val(),
                             Year: $('#year').val(),
                             BrandCD: $('#brandCD').val(),
                             BrandName: $('#brandname').val(),
                             //Season: $('#season').val(),
                             ProjectCD: $('#projectCD').val(),
                             ProjectName: $('#projectname').val(),
                             HinbanCD: $('#PartCD').val(),
                             HinbanName: $('#PartName').val(),
                         };

                         var selected = new Array();
                         $("#Seasongp input[type=checkbox]:checked").each(function () {
                             selected.push(this.value);
                         });
                         if (selected.length > 0)
                             kmodel.Season = selected.join(",");

                         var data = CalltoApiController('@Url.Action("D_Cost_TKeihiCSV", "api/Touroku_KeihiApi")', kmodel);
                       
                         var csv = JSON2CSV(data);
                         if (!(csv == "E104")) {
                             var downloadLink = document.createElement("a");
                             var blob = new Blob(["\ufeff", csv]);
                             var url = URL.createObjectURL(blob);
                             downloadLink.href = url;
                             downloadLink.download = "経費登録.csv";

                             document.body.appendChild(downloadLink);
                             downloadLink.click();
                             document.body.removeChild(downloadLink);
                         }
                     }
                     else {
                         $("#CostDate2").focus();
                         ShowErrorMessage(res1);
                     }
                }
                else
                    ShowErrorMessage(res);
            }
       }   

       //Convert Jsonstring to csv
       function JSON2CSV(objArray) {
           if (!(objArray == "[]")) {
               var array = typeof JSONString != 'object' ? JSON.parse(objArray) : JSONString;
               var fields = Object.keys(array[0]);
               var replacer = function (key, value) { return value === null ? null : value }
               var csv = array.map(function (row) {
                   return fields.map(function (fieldName) {
                       return JSON.stringify(row[fieldName], replacer)
                   }).join(',')
               })
               csv.unshift(fields.join(',')) // add header column
               csv = csv.join('\r\n');
               return csv;
           }
           else {
               return "E104";
           }
       }

       $('#btnAdd').keydown(function (e) {
           var code = e.keyCode || e.which;
           if (code == 9) {
               if (e.shiftKey) {
                   //Focus previous input
                   if (thisTab == startIndex) {
                       $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                       return false;
                   }
                   else {
                       e.preventDefault();
                   }
               }
               e.preventDefault();
           }
       });

       function btnEditClick(SEQ) {
           var kmodel = GetKeihiData();

           location.href = '@Url.Action("Touroku_KeihiEntry","Touroku_Keihi")?CostCD=' + kmodel.CostCD + '&CostName=' + kmodel.CostName + '&CostDateFrom=' + kmodel.CostDateFrom + '&CostDateTo=' + kmodel.CostDateTo + '&Year=' + kmodel.Year + '&BrandCD=' + kmodel.BrandCD + '&BrandName=' + kmodel.BrandName + '&Season=' + kmodel.Season + '&ProjectCD=' + kmodel.ProjectCD + '&ProjectName=' + kmodel.ProjectName + '&HinbanCD=' + kmodel.HinbanCD + '&HinbanName=' + kmodel.HinbanName + '&flg=' + kmodel.flg +'&SEQ='+SEQ+'&Mode=Edit';

       }

       function btnDelClick(SEQ) {
           var kmodel = GetKeihiData();

           location.href = '@Url.Action("Touroku_KeihiEntry", "Touroku_Keihi")?CostCD=' + kmodel.CostCD + '&CostName=' + kmodel.CostName + '&CostDateFrom=' + kmodel.CostDateFrom + '&CostDateTo=' + kmodel.CostDateTo + '&Year=' + kmodel.Year + '&BrandCD=' + kmodel.BrandCD + '&BrandName=' + kmodel.BrandName + '&Season=' + kmodel.Season + '&ProjectCD=' + kmodel.ProjectCD + '&ProjectName=' + kmodel.ProjectName + '&HinbanCD=' + kmodel.HinbanCD + '&HinbanName=' + kmodel.HinbanName + '&flg=' + kmodel.flg  + '&SEQ=' + SEQ +'&Mode=Delete';
        }

       function btnCopyClick(SEQ) {
           var kmodel = GetKeihiData();

           location.href = '@Url.Action("Touroku_KeihiEntry", "Touroku_Keihi")?CostCD=' + kmodel.CostCD + '&CostName=' + kmodel.CostName + '&CostDateFrom=' + kmodel.CostDateFrom + '&CostDateTo=' + kmodel.CostDateTo + '&Year=' + kmodel.Year + '&BrandCD=' + kmodel.BrandCD + '&BrandName=' + kmodel.BrandName + '&Season=' + kmodel.Season + '&ProjectCD=' + kmodel.ProjectCD + '&ProjectName=' + kmodel.ProjectName + '&HinbanCD=' + kmodel.HinbanCD + '&HinbanName=' + kmodel.HinbanName + '&flg=' + kmodel.flg  + '&SEQ=' + SEQ +'&Mode=Copy';
        }

       function btnAddClick() {
           var kmodel = GetKeihiData();
           
           location.href = '@Url.Action("Touroku_KeihiEntry", "Touroku_Keihi")?CostCD=' + kmodel.CostCD + '&CostName=' + kmodel.CostName + '&CostDateFrom=' + kmodel.CostDateFrom + '&CostDateTo=' + kmodel.CostDateTo + '&Year=' + kmodel.Year + '&BrandCD=' + kmodel.BrandCD + '&BrandName=' + kmodel.BrandName + '&Season=' + kmodel.Season + '&ProjectCD=' + kmodel.ProjectCD + '&ProjectName=' + kmodel.ProjectName + '&HinbanCD=' + kmodel.HinbanCD + '&HinbanName=' + kmodel.HinbanName + '&flg=' + kmodel.flg  +'&Mode=New';
       }

       function GetKeihiData() {
           var kmodel = {
               CostCD: $('#CostCD').val(),
               CostName: $('#CostName').val(),
               CostDateFrom: $('#CostDate1').val(),
               CostDateTo: $('#CostDate2').val(),
               Year: $('#year').val(),
               BrandCD: $('#brandCD').val(),
               BrandName: $('#brandname').val(),
               //Season: $('#season').val(),
               ProjectCD: $('#projectCD').val(),
               ProjectName: $('#projectname').val(),
               HinbanCD: $('#PartCD').val(),
               HinbanName: $('#PartName').val(),
               flg: "list"
           };
           var selected = new Array();
           $("#Seasongp input[type=checkbox]:checked").each(function () {
               selected.push(this.value);
           });
           if (selected.length > 0)
               kmodel.Season = selected.join(",");

           return kmodel;
       }

        </script>
    }


