@model Models.Touroku_KeihiModel
@{
    ViewBag.Title = "Touroku_KeihiEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-sm-1 col-md-12 col-lg-1"></div>
            <div class="col-sm-10 col-md-12 col-lg-11">
                <div>
                    <h2 class=" hr-text text-center">経費登録</h2>
                </div>
                <div>
                    <div>
                        <label id="SEQ" hidden></label>
                        <label id="accounting" hidden ><b></b></label>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:69px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    経費
                                </label>
                                <input type="text" tabindex="1" class="text-line col-sm-12 col-md-12 col-lg-2 text-left input-numeral8" onkeydown="KeyDown(event,this,'Cost')" id="CostCD" name="CostCD" maxlength="6" required placeholder="入力">&nbsp;&nbsp;
                                <label id="costname"><b>経費名表示</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:53px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    計上日
                                </label>
                                <input type="text" tabindex="2" class="text-line col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'FiscalDateCheck')" id="CostDate" name="CostDate" maxlength="10" required placeholder="入力">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:37px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    ブランド
                                </label>
                                <input type="text" tabindex="3" class="text-line col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'Brand')" id="BrandCD" name="BrandCD" maxlength="6" required placeholder="入力">&nbsp;&nbsp;
                                <label id="brandname"><b>ブランド表示</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style=" padding-top:1.2rem!important;">
                        <div class="col-xs-12"  style="padding-left:30px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <div id="Seasongp" class="custom-control custom-radio" style="padding-left:0px!important;">
                                    <label class="text" id="season" style="padding-right:10px;">シーズン</label>
                                    <input type="radio" tabindex="4" onkeydown="KeyDown(event,this)" id="allyear" name="radio" checked>
                                    <label for="allyear" style="padding-right:10px;">通年</label>
                                    <input type="radio" tabindex="5" id="SS" onkeydown="KeyDown(event,this)" name="radio">
                                    <label for="SS" style="padding-right:10px;">SS</label>
                                    <input type="radio" tabindex="6" id="FW" onkeydown="KeyDown(event,this)" name="radio">
                                    <label for="FW" style="padding-right:10px;">FW</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xl-12"  style="padding-left:70px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    年度
                                </label>
                                <input type="text" tabindex="7" class="text-line col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this)" id="year" name="year" maxlength="4" required placeholder="入力">
                            </div>
                        </div>
                    </div>

                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:5px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    プロジェクト
                                </label>
                                <input type="text" tabindex="8" class="text-line col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'Project')" id="projectCD" name="projectCD" maxlength="10" required placeholder="入力">&nbsp;&nbsp;
                                <label id="projectName"><b>プロジェクト表示</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:69px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    品番
                                </label>
                                <input type="text" tabindex="9" class="text-line col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'Hinban')" id="HinbanCD" name="HinbanCD" maxlength="10" required placeholder="入力">&nbsp;&nbsp;
                                <label id="HinbanName"><b>品番表示</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:69px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    金型
                                </label>
                                <input type="text" tabindex="10" class="text-line col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'Casting')" id="CastingCD" name="CastingCD" maxlength="10" required placeholder="入力">&nbsp;&nbsp;
                                <label id="CastingName"><b>金型表示</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:5px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    自由配賦項目
                                </label>
                                <input type="text" tabindex="11" class="text-line col-md-12 col-lg-4 text-left" onkeydown="KeyDown(event,this,'Item')" id="Item" name="Item" maxlength="10" required placeholder="入力">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:28px;">
                            <div class="custom-control custom-radio" style="padding-left:0px!important;">
                                <label class="text" id="taxinclude" style="padding-right:10px;">税込区分</label>
                                <input type="radio" tabindex="12" id="taxNotInclude" onkeydown="KeyDown(event,this)" name="radios" checked>
                                <label for="taxNotInclude" style="padding-right:10px;">税別</label>
                                <input type="radio" tabindex="13" id="taxInclude" onkeydown="KeyDown(event,this)" name="radios">
                                <label for="taxInclude" style="padding-right:10px;">税込</label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:0px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    金額/本体金額
                                </label>
                                <input type="text" tabindex="14" class="text-line col-md-12 col-lg-2 text-right input-numeral10" onkeydown="KeyDown(event,this,'CalculateTax')" id="AmountMoney" name="AmountMoney" maxlength="10" required placeholder="入力">
                                &nbsp;
                                <input type="text" tabindex="15" class="text-line col-md-12 col-lg-2 text-right input-numeral9" onkeydown="KeyDown(event,this)" id="BodyAmount" name="BodyAmount" maxlength="10" required placeholder="入力">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12" style="padding-left:69px;">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label id="text" style="padding-right: 5px;">
                                    備考
                                </label>
                                <input type="text" tabindex="16" class="text-line  col-md-12 col-lg-9 text-left" onkeydown="KeyDown(event,this)" id="Remark" name="Remark" maxlength="60" required placeholder="入力">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12 text-center" style="padding-left:0px; ">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <button id="btnSave" tabindex="17" onclick="btnSaveClick()" class="btn btn-dark col-md-12 col-lg-3 text-center"></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="btnCancel" tabindex="18" onclick="btnCancelClick()" class="btn btn-primary col-md-12 col-lg-3 text-center">戻る</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           @* <div class="col-sm-1 col-md-12 col-lg-1"></div>*@
        </div>
    </div>

</div>



@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {     
        $("#formtitle").text("経費登録");
        $("#CostCD").focus();
            var Mode = '@Model.Mode';
            if (Mode == 'New') {
                $('#btnSave').html('登録');

                RequiredCheck($("#CostCD"));
                DoubleByteCheck($("#CostCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CostCD"), "Keihi", '@Url.Action("M_Keihi_ExistsCheck", "api/Touroku_KeihiApi")', "costname", "accounting");
               
                RequiredCheck($("#CostDate"));
                DateCheck($("#CostDate"), '@Url.Action("Date_Checking", "api/CommonApi")');

                DoubleByteCheck($("#year"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                YearCheck($("#year"), '@Url.Action("Year_Checking", "api/CommonApi")');

                DoubleByteCheck($("#BrandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/Touroku_KeihiApi")', "brandname");

                DoubleByteCheck($("#projectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#projectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/Touroku_KeihiApi")', "projectName");

                DoubleByteCheck($("#HinbanCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                //ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_HinBan_ExistsCheck", "api/Touroku_KeihiApi")', "HinbanName");
               // ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "HinbanName", $("#projectCD").val());

                DoubleByteCheck($("#CastingCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/Touroku_KeihiApi")', "CastingName");

                RequiredCheck($("#AmountMoney"));                
                LessthanZeroCheck($("#AmountMoney"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');
            }
            else if (Mode == 'Edit') {
                $('#btnSave').html('更新');
                $("#CostCD").focus();
                
                $("SEQ").text(@Model.SEQ);
                ShowData();

                RequiredCheck($("#CostCD"));
                DoubleByteCheck($("#CostCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CostCD"), "Keihi", '@Url.Action("M_Keihi_ExistsCheck", "api/Touroku_KeihiApi")', "costname", "accounting");

                DateCheck($("#CostDate"), '@Url.Action("Date_Checking", "api/CommonApi")');

                DoubleByteCheck($("#year"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                YearCheck($("#year"), '@Url.Action("Year_Checking", "api/CommonApi")');
               
                DoubleByteCheck($("#BrandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/Touroku_KeihiApi")', "brandname");

                DoubleByteCheck($("#projectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#projectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/Touroku_KeihiApi")', "projectName");

                DoubleByteCheck($("#HinbanCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                //ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "HinbanName", $("#projectCD").val());

                DoubleByteCheck($("#CastingCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/Touroku_KeihiApi")', "CastingName");

                RequiredCheck($("#AmountMoney"));
                LessthanZeroCheck($("#AmountMoney"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                Cost('OK');
            } 
            else if (Mode == 'Copy') {
                $('#btnSave').html('登録');
                $("#CostCD").focus();
                
                $("SEQ").text(@Model.SEQ) ;
                ShowData();

                RequiredCheck($("#CostCD"));
                DoubleByteCheck($("#CostCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CostCD"), "Keihi", '@Url.Action("M_Keihi_ExistsCheck", "api/Touroku_KeihiApi")', "costname", "accounting");

                DateCheck($("#CostDate"), '@Url.Action("Date_Checking", "api/CommonApi")');

                DoubleByteCheck($("#year"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                YearCheck($("#year"), '@Url.Action("Year_Checking", "api/CommonApi")');
                
                DoubleByteCheck($("#BrandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/Touroku_KeihiApi")', "brandname");

                DoubleByteCheck($("#projectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#projectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/Touroku_KeihiApi")', "projectName");

                DoubleByteCheck($("#HinbanCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                //ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "HinbanName", $("#projectCD").val());

                DoubleByteCheck($("#CastingCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/Touroku_KeihiApi")', "CastingName");

                RequiredCheck($("#AmountMoney"));
                LessthanZeroCheck($("#AmountMoney"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                Cost('OK');
            }
            else if (Mode == 'Delete') {              
                $('#btnSave').html('削除');
                $("#CostCD").attr('disabled', 'disabled');
                $("#CostDate").attr('disabled', 'disabled');
                $("#year").attr('disabled', 'disabled');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#season").attr('disabled', 'disabled');
                $("#HinbanCD").attr('disabled', 'disabled');
                $("#CastingCD").attr('disabled', 'disabled');
                $("#Item").attr('disabled', 'disabled');
                $("#AmountMoney").attr('disabled', 'disabled');
                $("#BodyAmount").attr('disabled', 'disabled');
                $("#Remark").attr('disabled', 'disabled');
                $("#btnSave").focus();
                ShowData();
            }
    });

    //set data
    function ShowData() {
            var Kmodel = {
                SEQ: '@Model.SEQ',
            };
            var data = CalltoApiController('@Url.Action("D_Cost_Edit_List", "api/Touroku_KeihiApi")', Kmodel);
            var ProjectData = JSON.parse(data);
            $("#SEQ").text(ProjectData[0].SEQ);
            $("#accounting").text(ProjectData[0].Accounting);
       
            $("#CostCD").val(ProjectData[0].CostCD);
            
            if (!ProjectData[0].CostName) 
                $("#costname").text("経費名表示");
            else $("#costname").text(ProjectData[0].CostName);

            $("#CostDate").val(ProjectData[0].CostDate);
            $("#year").val(ProjectData[0].Year);
            $("#BrandCD").val(ProjectData[0].BrandCD);

            if (!ProjectData[0].BrandName) 
                $("#brandname").text("ブランド表示");
            else $("#brandname").text(ProjectData[0].BrandName);

            $("#projectCD").val(ProjectData[0].ProjectCD);

            if (!ProjectData[0].ProjectName) 
                $("#projectName").text("プロジェクト表示");
            else $("#projectName").text(ProjectData[0].ProjectName);

            $("#HinbanCD").val(ProjectData[0].HinbanCD);

            if (!ProjectData[0].HinbanName) 
                $("#HinbanName").text("品番表示");
            else $("#HinbanName").text(ProjectData[0].HinbanName);

            $("#CastingCD").val(ProjectData[0].CastingCD);

            if (!ProjectData[0].CastingName) 
                $("#CastingName").text("金型表示"); 
            else $("#CastingName").text(ProjectData[0].CastingName);

            $("#Item").val(ProjectData[0].FreeItem1);
            $("#AmountMoney").val(ProjectData[0].CostAmount);
            $("#BodyAmount").val(ProjectData[0].InputAmount);
            $("#Remark").val(ProjectData[0].Remarks);

        if (ProjectData[0].Season == "1")
            $("#allyear").prop("checked", true);
        else if (ProjectData[0].Season == "2") {
            //$("#allyear").prop("checked", false);
            $("#SS").prop("checked", true);
        }
        else if (ProjectData[0].Season == "3") {
            // $("#allyear").prop("checked", false);
            $("#FW").prop("checked", true);
        }
        else {
            $("#allyear").prop("checked", false);
            $("#SS").prop("checked", false);
            $("#FW").prop("checked", false);
        }

            if (ProjectData[0].ZeikomiKBN == "1")
                $("#taxNotInclude").prop("checked", true);
            else {
                $("#taxNotInclude").prop("checked", false);
                $("#taxInclude").prop("checked", true);
            }
        $("#costname").css("font-weight", "Bold");
        $("#accounting").css("font-weight", "Bold");
        $("#brandname").css("font-weight", "Bold");
        $("#projectName").css("font-weight", "Bold");
        $("#HinbanName").css("font-weight", "Bold");
        $("#CastingName").css("font-weight", "Bold");

        
    }

    function FiscalDateCheck(result) {
        if (result == 'OK') {
            var model = {
                inputdate: $("#CostDate").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Control_FiscalCheck", "api/CommonApi")', model);
            var dateData = JSON.parse(data);
            if (dateData[0].MessageID != 'E115') {
                $("#BrandCD").focus();
            }
            else {
                $("#CostDate").focus();
                ShowErrorMessage("E115");
            }
        }
    }

    function FiscalDateCheckOnSave() {
            var model = {
                inputdate: $("#CostDate").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Control_FiscalCheck", "api/CommonApi")', model);
            var dateData = JSON.parse(data);
            if (dateData[0].MessageID != 'E115') {
                $("#BrandCD").focus();
                return "0";
            }
            else {
                return "E115";
            }
    }

    function Cost(result) {
        if (result == 'OK') {
            $("#costname").css("font-weight", "Bold");

            if ($("#accounting").text() == "1") {
                $("#projectCD").removeAttr('disabled');
                $("#HinbanCD").removeAttr('disabled');
                RequiredCheck($("#projectCD"));
                RequiredCheck($("#HinbanCD"));

                RemoveRequired("#year");
                RemoveRequired("#BrandCD");
                RemoveRequired("#CastingCD");
                RemoveRequired("#Item");

                $("#year").attr('disabled', 'disabled');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#Seasongp").children().attr('disabled', 'disabled');
                $("#CastingCD").attr('disabled', 'disabled');
                $("#Item").attr('disabled', 'disabled');

                $("#year").val('');
                $("#BrandCD").val('');
                $("#brandname").text('ブランド表示');
                $("#CastingCD").val('');
                $("#CastingName").text('金型表示');
                $("#Item").val('');
             }
            else if ($("#accounting").text() == "2") {
                $("#year").removeAttr('disabled');
                $("#BrandCD").removeAttr('disabled');
                $("#Seasongp").children().removeAttr('disabled');
                RequiredCheck($("#year"));
                RequiredCheck($("#BrandCD"));

                RemoveRequired("#projectCD");
                RemoveRequired("#HinbanCD");
                RemoveRequired("#CastingCD");
                RemoveRequired("#Item");

                $("#projectCD").attr('disabled', 'disabled');
                $("#HinbanCD").attr('disabled', 'disabled');
                $("#CastingCD").attr('disabled', 'disabled');
                $("#Item").attr('disabled', 'disabled');

                $("#projectCD").val('');
                $("#projectName").text('プロジェクト表示');
                $("#HinbanCD").val('');
                $("#HinbanName").text('品番表示');
                $("#CastingCD").val('');
                $("#CastingName").text('金型表示');
                $("#Item").val('');
             }
             else if ($("#accounting").text() == "3") {
                $("#projectCD").removeAttr('disabled');
                RequiredCheck($("#projectCD"));

                RemoveRequired("#year");
                RemoveRequired("#BrandCD");
                RemoveRequired("#HinbanCD");
                RemoveRequired("#CastingCD");
                RemoveRequired("#Item");

                 $("#year").attr('disabled', 'disabled');
                 $("#BrandCD").attr('disabled', 'disabled');
                 $("#Seasongp").children().attr('disabled', 'disabled');
                 $("#HinbanCD").attr('disabled', 'disabled');
                 $("#CastingCD").attr('disabled', 'disabled');
                 $("#Item").attr('disabled', 'disabled');

                $("#year").val('');
                $("#BrandCD").val('');
                $("#brandname").text('ブランド表示');
                $("#HinbanCD").val('');
                $("#HinbanName").text('品番表示');
                $("#CastingCD").val('');
                $("#CastingName").text('金型表示');
                $("#Item").val('');
            }
             else if ($("#accounting").text() == "4") {
                $("#CastingCD").removeAttr('disabled');
                 RequiredCheck($("#CastingCD"));

                RemoveRequired("#year");
                RemoveRequired("#BrandCD");
                RemoveRequired("#HinbanCD");
                RemoveRequired("#projectCD");
                RemoveRequired("#Item");

                 $("#year").attr('disabled', 'disabled');
                 $("#BrandCD").attr('disabled', 'disabled');
                 $("#Seasongp").children().attr('disabled', 'disabled');
                 $("#HinbanCD").attr('disabled', 'disabled');
                 $("#projectCD").attr('disabled', 'disabled');
                 $("#Item").attr('disabled', 'disabled');

                $("#year").val('');
                $("#BrandCD").val('');
                $("#brandname").text('ブランド表示');
                $("#HinbanCD").val('');
                $("#HinbanName").text('品番表示');
                $("#projectCD").val('');
                $("#projectName").text('プロジェクト表示');
                $("#Item").val('');
             }
             else if ($("#accounting").text() == "5") {
                $("#Item").removeAttr('disabled');
                RequiredCheck($("#Item"));

                RemoveRequired("#year");
                RemoveRequired("#BrandCD");
                RemoveRequired("#HinbanCD");
                RemoveRequired("#projectCD");
                RemoveRequired("#CastingCD");

                 $("#year").attr('disabled', 'disabled');
                 $("#BrandCD").attr('disabled', 'disabled');
                 $("#Seasongp").children().attr('disabled', 'disabled');
                 $("#HinbanCD").attr('disabled', 'disabled');
                 $("#CastingCD").attr('disabled', 'disabled');
                 $("#projectCD").attr('disabled', 'disabled');

                $("#year").val('');
                $("#BrandCD").val('');
                $("#brandname").text('ブランド表示');
                $("#HinbanCD").val('');
                $("#HinbanName").text('品番表示');
                $("#CastingCD").val('');
                $("#CastingName").text('金型表示');
                $("#projectCD").val('');
                $("#projectName").text('プロジェクト表示');
             }
        }
        else {
            $("#costname").text('経費名表示');
        }
    }

    function Brand(result) {
        if (result == 'OK') {
            var Mode = '@Model.Mode';
                if (Mode == 'Edit') {
                    if ($('#allyear').is(':checked')) {
                        $("#allyear").focus();
                    }
                    else if ($('#SS').is(':checked')) {
                        $("#SS").focus();
                    }
                    else if ($('#FW').is(':checked')) {
                        $("#FW").focus();
                    }
                }
              //  else $("#allyear").focus();
        }
        else {
            $("#brandname").text('ブランド表示');
        }
        $("#brandname").css("font-weight", "Bold");
    }

    function Project(result) {
        if (result == 'OK') {
            if ($("#projectCD").val()) {
                ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "HinbanName", $("#projectCD").val());
            }
            else
                $("#projectName").text('プロジェクト表示');

            $("#projectName").css("font-weight", "Bold");
        }
        else {
            $("#projectName").text('プロジェクト表示');
        }
        $("#projectName").css("font-weight", "Bold");
    }

    function Hinban(result) {
        if (result == 'OK') {
            $("#HinbanName").css("font-weight", "Bold");
        }
        else {
            $("#HinbanName").text('品番表示');
        }
        $("#HinbanName").css("font-weight", "Bold");
    }

    function Casting(result) {
        if (result == 'OK') {
            $("#CastingName").css("font-weight", "Bold");
        }
        else {
            $("#CastingName").text('金型表示');
        }
        $("#CastingName").css("font-weight", "Bold");
    }

    function Item(result) {
        if (result == 'OK') {
             var Mode = '@Model.Mode';
            if (Mode == 'Edit') {
                if ($('#taxNotInclude').is(':checked')) {
                    $("#taxNotInclude").focus();
                }
                else if ($('#taxInclude').is(':checked')) {
                    $("#taxInclude").focus();
                }
            }
            else {
                $("#taxNotInclude").focus();
            }
        }
    }

    function CalculateTax(result) {
        if (result == 'OK') {
            //alert("a");
            if ($('#taxInclude').is(':checked')) {
                var Kmodel = {
                    Mode: 2,
                    CostDate: $('#CostDate').val(),
                    flg: 1,
                    CostAmount: ($('#AmountMoney').val()).replace(",", ""),
                };
                var data = CalltoApiController('@Url.Action("Fnc_TAXCalculation", "api/Touroku_KeihiApi")', Kmodel);
                var tax = JSON.parse(data);
                if (tax[0].Kingaku1) {
                    $("#BodyAmount").val(tax[0].Kingaku1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                }
            }
            else {
                //$("#BodyAmount").val('');
            }
        }
    }

        function DoProcess() {
            focusControl = $("#CostCD");
            var Kmodel = {
                 SEQ: $('#SEQ').text(),
                 CostCD: $('#CostCD').val(),
                 CostDate: $('#CostDate').val(),
                 Year: $('#year').val(),
                 CostAmount: ($('#AmountMoney').val()).replace(",",""),
                 InputAmount: ($('#BodyAmount').val()).replace(",",""),
                 Remarks: $('#Remark').val(),                
                 Mode:'@Model.Mode'
            };

            //For Brand 
            if ($('#accounting').text() == "2") {
                Kmodel.BrandCD = $('#BrandCD').val();
            }
            else Kmodel.BrandCD = "@@@@@@";
            
            //For Season
            if ($('#accounting').text() == "2" || $('#accounting').text() == "1" || $('#accounting').text() == "3") {
                if ($('#allyear').is(':checked'))
                    Kmodel.Season = "1";
                else if ($('#SS').is(':checked'))
                    Kmodel.Season = "2";
                else if ($('#FW').is(':checked'))
                    Kmodel.Season = "3";
            }
            else  {
                Kmodel.Season = "9";
            }

            //For Project
            if ( $('#accounting').text() == "1" || $('#accounting').text() == "3") {
                Kmodel.ProjectCD= $('#projectCD').val();
            }
            else Kmodel.ProjectCD = "@@@@@@";

            //For Hinban
            if ($('#accounting').text() == "1") {
                Kmodel.HinbanCD = $('#HinbanCD').val();
            }
            else Kmodel.HinbanCD = "@@@@@@";

            //For CastingCD
            if ($('#accounting').text() == "4") {
                Kmodel.CastingCD = $('#CastingCD').val();
            }
            else Kmodel.CastingCD = "@@@@@@";

            //For Item
            if ($('#accounting').text() == "5") {
                Kmodel.Item = $('#Item').val();
            }
            else Kmodel.Item = "@@@@@@";

            if ($('#taxNotInclude').is(':checked'))
                Kmodel.ZeikomiKBN = "1";
            else if ($('#taxInclude').is(':checked'))
                Kmodel.ZeikomiKBN = "2";

           
            var data = CalltoApiController('@Url.Action("D_Cost_CUD", "api/Touroku_KeihiApi")', Kmodel);
            ShowSuccessMessage(data,'@Url.Action("Touroku_KeihiList", "Touroku_Keihi")?CostCD=' + '@Model.CostCD' + '&CostName=' + '@Model.CostName' + '&CostDateFrom=' + '@Model.CostDateFrom' + '&CostDateTo=' + '@Model.CostDateTo' + '&Year=' + '@Model.Year' + '&BrandCD=' + '@Model.BrandCD' + '&BrandName=' + '@Model.BrandName' + '&Season=' + '@Model.Season' + '&ProjectCD=' + '@Model.ProjectCD' + '&ProjectName=' + '@Model.ProjectName' + '&HinbanCD=' + '@Model.HinbanCD' + '&HinbanName=' + '@Model.HinbanName' +'&flg=' + '@Model.flg');
        }

        //save
        function btnSaveClick(){
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var Mode = '@Model.Mode';
               
                if (Mode == "Delete") {   //Delete
                    ShowConfirmMessage("Q102", "DeleteConfrim");
                    DoProcess();
                }
                else {     // Insert/Update
                    var res1 = FiscalDateCheckOnSave();
                    if (res1 == "0") {
                        CalculateTax('OK');
                        DoProcess();
                    }
                    else {
                        $("#CostDate").focus();
                        ShowErrorMessage(res1);
                    }
                }
            }
            else
                ShowErrorMessage(res);
         }

    $('#btnCancel').keydown(function (e) {
        var code = e.keyCode || e.which;
        if (code == 9) {
            if (e.shiftKey) {
                //Focus previous input
                if (thisTab == startIndex) {
                    $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                    return false;
                }
                else {
                    e.preventDefault();
                }
            }
            e.preventDefault();
        }
    });

    function btnCancelClick() {
        location.href = '@Url.Action("Touroku_KeihiList", "Touroku_Keihi")?CostCD=' + '@Model.CostCD' + '&CostName=' + '@Model.CostName' + '&CostDateFrom=' + '@Model.CostDateFrom' + '&CostDateTo=' + '@Model.CostDateTo' + '&Year=' + '@Model.Year' + '&BrandCD=' + '@Model.BrandCD' + '&BrandName=' + '@Model.BrandName' + '&Season=' + '@Model.Season' + '&ProjectCD=' + '@Model.ProjectCD' + '&ProjectName=' + '@Model.ProjectName' + '&HinbanCD=' + '@Model.HinbanCD' + '&HinbanName=' + '@Model.HinbanName' +'&flg=' + '@Model.flg';
    }

</script>
    <script src="@Url.Content("~/Scripts/datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/datepicker.en.js")"></script>

}