@model Models.Touroku_KeihiModel
@{
    ViewBag.Title = "Touroku_KeihiList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}


<div class="card">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-12">
                        <button id="btnAdd" onclick="btnAddClick()" class="btn" style="background-color:#1a8cff; color:azure;width:150px;border-radius:10px;height:40px;">
                            経費追加
                        </button>
                        &nbsp;
                        <button id="btnDel" onclick="btnDelClick()" class="btn" style="background-color:white; color:#1a8cff;width:100px; border:1px groove #1a8cff; border-radius:10px;height:40px;">
                            削除
                        </button>
                        <div id="registration" style="padding-top: 1.8rem!important;">
                            <div>
                                <h4 class=" hr-text text-center">検索条件入力</h4>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:40px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 24px;">経費名</label>
                                        <input type="text" tabindex="1" class="text-line text-left" id="CostCD" name="CostCD" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:100px;">
                                        <input type="text" tabindex="2" class="text-line text-left" id="CostName" name="CostName" maxlength="40" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:100px;">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:40px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 24px;">計上日</label>
                                        <input type="text" tabindex="3" class="text-line text-left" onkeydown="KeyDown(event,this,'Keihi')" id="CostDate1" name="CostDate1" maxlength="10" required placeholder="入力" style="width:100px;">
                                        <input type="text" tabindex="4" class="text-line text-left" onkeydown="KeyDown(event,this)" id="CostDate2" name="CostDate2" maxlength="10" required placeholder="入力" style="width:100px;">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:60px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 24px;">年度</label>
                                        <input type="text" tabindex="5" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="year" name="year" maxlength="4" required placeholder="入力" style="width:100px;">
                                        <button id="btnMove" onclick="btnMoveClick()" class="btn col-xl-10 text-center" tabindex="6" style="background-color:#1a8cff; color:azure;width:60px;border-radius:5px;height:35px;">
                                            移動
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:30px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 24px;">ブランド</label>
                                        <input type="text" tabindex="7" class="text-line text-left" onkeydown="KeyDown(event,this)" id="brandCD" name="brandCD" maxlength="20" required placeholder="入力" style="width:100px;">
                                        <input type="text" tabindex="8" class="text-line text-left" onkeydown="KeyDown(event,this)" id="brandname" name="brandname" maxlength="40" required placeholder="入力" style="width:100px;">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:30px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right:20px;">シーズン</label>
                                        <input type="checkbox" tabindex="9" id="allyear" name="allyear">
                                        <label style="padding-right:25px!important;">通年</label>
                                        <input type="checkbox" tabindex="10" id="SS" name="SS">
                                        <label style="padding-right:25px!important;">SS</label>
                                        <input type="checkbox" tabindex="11" id="FW" name="FW">
                                        <label style="padding-right:25px!important;">FW</label>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:15px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text">プロジェクト</label>&nbsp;&nbsp;
                                        <input type="text" tabindex="12" class="text-line text-left" onkeydown="KeyDown(event,this)" id="projectCD" name="projectCD" maxlength="10" required placeholder="入力" style="width:100px;">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;"> 
                                <div class="col-md-12" style="padding-left:120px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <input type="text" tabindex="13" class="text-line text-left" onkeydown="KeyDown(event,this)" id="projectname" name="projectname" maxlength="60" required placeholder="入力" style="width:210px;">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:75px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text">品番</label>
                                        <input type="text" tabindex="14" class="text-line text-left" onkeydown="KeyDown(event,this)" id="PartCD" name="PartCD" maxlength="10" required placeholder="入力" style="width:100px;">
                                        <input type="text" tabindex="15" class="text-line text-left" onkeydown="KeyDown(event,this)" id="PartName" name="PartName" maxlength="60" required placeholder="入力" style="width:100px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:150px; padding-top:2rem;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <button id="btnCSV" onclick="btnCSVClick()" class="btn text-center" tabindex="16" style="background-color:#1a8cff; color:azure;width:60px; border:1px groove black; border-radius:5px;height:40px;">
                                            CSV
                                        </button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="btnSearch" tabindex="17" onclick="btnSearchClick()" class="btn btn-primary text-center" style="background-color:#413839; color:azure;width:80px; height:35px;">検索</button>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card-body card-block">
                    <table id="tblTouroku_Keihi" class="tb1 col-sm-12" style="margin-left:10px;">
                        <thead>
                            <tr>
                                <th>経費名</th>
                                <th>計上日</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>年度</th>
                                <th>ブランド</th>
                                <th>シーズン</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>プロジェクト</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>


@section Scripts{
<script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("経費検索");
            $("#CostCD").focus();
            ExistsCheck($("#CostCD"), "Keihi", '@Url.Action("M_Keihi_ExistsCheck", "api/Touroku_KeihiApi")', "CostName");
            DateCheck($("#CostDate1"), '@Url.Action("Date_Checking", "api/CommonApi")');
            @*DateCheck($("#CostDate2"), '@Url.Action("Date_Checking", "api/CommonApi")');*@
            DateCheck($("#year"), '@Url.Action("Date_Checking", "api/CommonApi")');
            ExistsCheck($("#brandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/Touroku_KeihiApi")', "brandname");
            ExistsCheck($("#projectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/Touroku_KeihiApi")', "projectname");
            ExistsCheck($("#PartCD"), "Hinban", '@Url.Action("M_HinBan_ExistsCheck", "api/Touroku_KeihiApi")', "PartName");
            GetData();
        });
        function Keihi(result) {
            if (result == 'OK') {
                //alert(result);
                //alert($("#CostDate1").val());
                DateCheck($("#CostDate2"), '@Url.Action("Date_Checking", "api/CommonApi")', "1", $("#CostDate1").val());
            }
        }

        function GetData() {
            var kmodel = {
            CostCD: $('#CostCD').val(),
            CostName: $('#CostName').val(),
            CostDateFrom: $('#CostDate1').val(),
            CostDateTo: $('#CostDate2').val(),
            Year: $('#year').val(),
            BrandCD: $('#brandCD').val(),
            BrandName: $('#brandname').val(),
            //Season: $('#season').val(),
            ProjectCD: $('#projectCD').val(),
            ProjectName: $('#projectname').val(),
            HinbanCD: $('#PartCD').val(),
            HinbanName: $('#PartName').val(),
        };

            if ($('#degreeyear').is(':checked'))
                kmodel.Season = "1";
            else if ($('#SS').is(':checked'))
                kmodel.Season = "2";
            else if ($('#FW').is(':checked'))
                kmodel.Season = "3";

            $.ajax({
                type: "Post",
                url: "@Url.Action("M_Cost_Select_List", "api/Touroku_KeihiApi")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(kmodel),
                headers:
            {
                Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
            },
                success: function (response) {
                    if (response == "[]") {
                        BindTable(response);
                        var data = ShowErrorMessage("E104");
                        return data;
                    }
                    else {
                        BindTable(response);
                    }
                },
            });
        }

        function BindTable(response) {
            table = $('#tblTouroku_Keihi').DataTable({
                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy: true,
                "columns": [
                    {
                        "data": null,
                        className: "Border1",
                        render: function (data, type, row) {
                            return '<label>' + data.CostCD + '  ' + data.CostName + '</label><br/><label>' + data.Year + '</label><br/><label>' + data.ProjectCD + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Borde2",
                        render: function (data, type, row) {
                            return '<label>' + data.CostDate + '</label><br/><label>' + data.BrandCD + '</label><br/><label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border3",
                        render: function (data, type, row) {
                            return '<br/><label>' + data.Season + '</label><br/><label>' ;
                        }
                    },

                    {
                        "data": null,
                        className: "Border4",
                        render: function (data, type, row) {
                            return '<label><a href="#" onClick="btnEditClick(\'' + data.SEQ + '\')" style="color:blue">編集</a></label><br/><label><a href="#" onClick="btnDelClick(\'' + data.SEQ + '\')" style="color:red">削除</a></label> <br/> <label><a href="#" onClick="btnCopyClick(\'' + data.SEQ + '\')" style="color:green">編集</a></label><br/>';
                        }
                    },
                ]
                //"drawCallback": function (settings) {
                //    $("#tblKeihi thead").remove();
                //}

            });
        }

        function btnSearchClick(){
            var allyear = $("#allyear").is(":checked");
            var ss = $("#SS").is(":checked");
            var fw = $("#FW").is(":checked");
            if (!allyear && !ss && !fw) {
                var data = ShowErrorMessage("E111");
                return data;
            }
            else {
                var res = ErrorCheckOnSave();
                if (res == "0") {
                    GetData()
                }
                else
                    ShowErrorMessage(res);
            }

        }

    function btnCSVClick(){
        var kmodel = {
            CostCD: $('#CostCD').val(),
            CostName: $('#CostName').val(),
            CostDateFrom: $('#CostDate1').val(),
            CostDateTo: $('#CostDate2').val(),
            Year: $('#year').val(),
            BrandCD: $('#brandCD').val(),
            BrandName: $('#brandname').val(),
            //Season: $('#season').val(),
            ProjectCD: $('#projectCD').val(),
            ProjectName: $('#projectname').val(),
            HinbanCD: $('#PartCD').val(),
            HinbanName: $('#PartName').val(),
        };

        if ($('#degreeyear').is(':checked'))
            kmodel.Season = "1";
        else if ($('#SS').is(':checked'))
            kmodel.Season = "2";
        else if ($('#FW').is(':checked'))
            kmodel.Season = "3";

        var csvdata = CalltoApiController('@Url.Action("D_Cost_TKeihiCSV", "api/Touroku_KeihiApi")', kmodel);
        var kmodel = {
            value: csvdata,
            value1: "経費登録"
        };
        var data = CalltoApiController('@Url.Action("ExportCSVfile", "api/CommonApi")', kmodel);

     
    }

        function btnEditClick(SEQ) {
            location.href = '@Url.Action("Touroku_KeihiEntry","Touroku_Keihi")?SEQ='+SEQ+'&Mode=Edit';
            
            @*var kmodel = {
                SEQ: $('#SEQ').val(),
            };
            var data = CalltoApiController('@Url.Action("M_Cost_Edit_List", "api/Touroku_KeihiApi")', kmodel);*@
        }

        function btnDelClick(SEQ) {
            location.href = '@Url.Action("Touroku_KeihiEntry", "Touroku_Keihi")?SEQ='+SEQ+'&Mode=Delete';
        }

        function btnCopyClick(SEQ) {
            location.href = '@Url.Action("Touroku_KeihiEntry", "Touroku_Keihi")?SEQ='+SEQ+'&Mode=Copy';
        }

    function btnAddClick() {
         location.href = '@Url.Action("Touroku_KeihiEntry", "Touroku_Keihi")?Mode=New';
    }

</script>
}


