
@{
    ViewBag.Title = "KeihiSetteiList";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")" />
}
<style>
    .tb1 td {
        border-top: 1px solid #d3dcd3;
    }
    @@media only screen and (min-width: 400px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 60%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 800px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 80%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 900px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 80%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1020px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
    @@media only screen and (min-width: 1200px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1300px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 80%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1400px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1600px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1920px) {
        .text-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
    @@media only screen and (min-width: 400px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 800px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 900px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1020px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1200px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 90%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1300px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1400px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1600px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }

    @@media only screen and (min-width: 1920px) {
        .fixed-keihisetti {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
</style>

<input type="hidden" id="KeihiSettieType" value="1" />
<div class="card">
    <div class="card-body">
        <div class="row pl-3 mb-3">
            <div class="col-xs-12 col-md-3">
                <div id="divAddKeihiSettie" >
                    <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                        経費設定追加
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i class="fa fa-search" style="padding-left:15px;"></i>
                <input type="text" id="myInput" placeholder="経費名入力" class="border border-white" style="width:70%;padding-bottom:10px">
                <table id="tblKeihi" data-request-url="@Url.Action("M_Keihi_Select_List", "api/KeihiSetteiApi")" class="tb1 col-sm-12 table-responsive{-sm|-md|-lg|-xl}" style="padding-left:0px;width:100%;">
                    <thead>
                        <tr>
                            <th style="width:15%;">経費コード</th>
                            <th style="width:30%;">経費名</th>
                            <th style="width:22%;">計上単位</th>
                            <th style="width:14%;">配賦基準</th>
                            <th style="width:18%;"></th>
                        </tr>

                    </thead>

                </table>
            </div>
            @*<div class="col-xs-12 col-md-2"></div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            KeihiSettieList_Load();
        });


        function btnAddClick() {
            location.href = '@Url.Action("KeihiSetteiEntry", "KeihiSettei")?Mode=New'
        }

         function btnEditClick(CostCD) {
             location.href = '@Url.Action("KeihiSetteiEntry", "KeihiSettei")?CostCD='+CostCD+'&Mode=Edit';
         }

        function btnDelClick(CostCD) {
            location.href = '@Url.Action("KeihiSetteiEntry", "KeihiSettei")?CostCD='+CostCD+'&Mode=Delete';
        }
    </script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/KeihiSettie.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/datatables.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/jszip.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/init/datatables-init.js")"></script>

}

