@model Models.KeihiSetteiModel
@{
    ViewBag.Title = "KeihiSetteiEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}


<div class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div>
                    <h2 class=" hr-text text-center">経費設定登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:2.5rem!important;">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" class="text-line col-xl-5 text-left" id="CostCD" name="costCD" maxlength="6" required placeholder="経費コード">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" class="text-line col-xl-5 text-left" id="CostName" name="costName" maxlength="40" required placeholder="経費名">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-left:46px; padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" class="text-line col-xl-5 text-left" id="KanjoCD" name="kanjoCD" maxlength="6" required placeholder="勘定科目選択">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-left:46px; padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" class="text-line col-xl-5 text-left" id="HojoCD" name="hojoCD" maxlength="4" required placeholder="補助科目選択">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-left:30px; padding-top:1.2rem!important;">
                    <div class="col-xl-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label class="text" style="padding-left:12px!important">計上単位</label>
                        </div>
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <div class="custom-control custom-radio" style="padding-bottom:0.6rem!important; padding-left:0px!important;">
                                <input type="radio" id="品番直接費" name="radio" checked>
                                <label style="padding-right:140px;">品番直接費</label>
                                <input type="radio" id="ブランド+シーズン" name="radio">
                                <label>ブランド+シーズン</label>
                                
                            </div>
                            <div class="custom-control custom-radio" style="padding-bottom:1rem!important; padding-left:0px!important;">
                                <input type="radio" id="プロジェクト" name="radio">
                                <label style="padding-right:85px;">プロジェクト</label>
                                <input type="radio" id="金型配賦" name="radio">
                                <label style="padding-right:85px;">金型配賦</label>
                                <input type="radio" id="自由項目" name="radio" >
                                <label>自由項目</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label class="text" style="padding-left:12px!important;">配賦基準</label>
                        </div>
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <div class="custom-control custom-radio" style="padding-bottom:4rem!important; padding-left:0px!important;">
                                <input type="radio" id="直接" name="radio1" checked>
                                <label style="padding-right:55px!important;">直接</label>
                                <input type="radio" id="総金額比" name="radio1">
                                <label style="padding-right:55px!important;">総金額比</label>
                                <input type="radio" id="生産数比" name="radio1">
                                <label style="padding-right:55px!important;">生産数比</label>
                                <input type="radio" id="固定値比" name="radio1">
                                <label>固定値比</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" onclick="btnSaveClick()" class="btn btn-dark col-xl-4 text-center">登録</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" onclick="btnCancelClick()" class="btn btn-primary col-xl-4 text-center">戻る</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="APIURL" value="@Url.Action("M_KeihiSettei_ExistsCheck", "api/KeihiSetteiApi")" />
            </div>
            <div class="col-xs-12 col-md-3"></div>
        </div>
    </div>
</div>


@section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#formtitle").text("経費設定検索");
                $("#ModeURL").val('@Model.Mode');
                $("#CostCD").focus();
                var Mode = '@Model.Mode';
                if (Mode == 'New') {
                    $('#btnSave').html('登録');
                }
                else if (Mode == 'Edit') {
                    $('#btnSave').html('更新');
                    $("#CostCD").attr('disabled', 'disabled');
                    $("#CostName").focus();
                    
                    //$("#BrandCD").prop("readonly", true);
                    ShowData();
                }
                else {
                    $('#btnSave').html('削除');
                    $("#CostCD").attr('disabled', 'disabled');
                    $("#CostName").attr('disabled', 'disabled');
                    $("#KanjoCD").attr('disabled', 'disabled');
                    $("#HojoCD").attr('disabled', 'disabled');
                    $("#Accounting").attr('disabled', 'disabled');
                    $("Allocation").attr('disabled', 'disabled');
                    $("#btnSave").focus();
                    //$("#BrandCD").prop("readonly", true);
                    //$("#BrandName").prop("readonly", true);
                    ShowData();
                     }


            });

            //set data
            function ShowData() {
                var Kmodel = {
                    CostCD: '@Model.CostCD',
                };
                $.ajax({
                    url: '@Url.Action("M_Keihi_Select_List", "api/KeihiSetteiApi")',
                    method: 'Post',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Kmodel),
                    headers:
                    {
                        Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                    },
                    success: function (data) {
                        var userdata = JSON.parse(data);
                        $("#CostCD").val(userdata[0].CostCD);
                        $("#CostName").val(userdata[0].CostName);
                        $("#KanjoCD").val(userdata[0].KanjoCD);
                        $("#HojoCD").val(userdata[0].HojoCD);
                        $("#Allocation").val(userdata[0].Allocation);
                        $("#Accounting").val(userdata[0].Accounting);
                    }
                });
            }

            //insert,update,delete
        function DoProcess() {
          focusControl = $("#CostCD");
          var Kmodel = {
              CostCD: $("#CostCD").val(),
              CostName: $("#CostName").val(),
              Mode:'@Model.Mode'
          };

           $.ajax({
              url: '@Url.Action("Keihi_CUD", "api/KeihiSetteiApi")',
              method: 'POST',
              dataType: 'json',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(Kmodel),
              headers:
              {
                  Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
              },
               success: function (msg) {
                   var message = JSON.parse(msg);
                   Swal.fire({
                       icon: message[0].status,
                       title: message[0].MessageID,
                       text: message[0].MessageText1,

                   }).then(function () {
                       if (message[0].status != "error")
                           location.href = '@Url.Action("KeihiSetteiList", "KeihiSettei")';
                       else
                          focusfocusControl = $("#CostCD");
                   });
               }
          });
        }

            var focusControl;
            function ErrorCheck() {
                if (!$("#CostName").val()) {
                    focusControl = $("#CostName");
                    return "I102";
                }
                else if (!$("#CostCD").val()) {
                    focusControl = $("#CostCD");
                    return "I102";
                }

                return "0";
            }

            //save
            function btnSaveClick() {
                 var Mode = '@Model.Mode';
                //show confirm message
                if (Mode == "Delete") {
                    $.when(GetMessage("Q102")).done(function (data) {
                        var msgdata = JSON.parse(data);
                        Swal.fire({
                            title: msgdata[0].MessageID,
                            text: msgdata[0].MessageText1,
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'はい。',
                            cancelButtonText: 'いいえ。'
                        }).then((result) => {
                            if (result.value) {
                                DoProcess();
                            }
                        })
                    })
                }
                else {
                    var msgID = ErrorCheck();
                    if (msgID == "0") {
                        DoProcess();
                        $(focusControl).focus();
                    }
                    else {
                        $.when(GetMessage("E102")).done(function (data) {
                            var msgdata = JSON.parse(data);

                            Swal.fire({
                                icon: 'error',
                                title: msgdata[0].MessageID,
                                text: msgdata[0].MessageText1,
                                }).then(function () {
                            });
                        })
                        $(focusControl).focus();
                    }
                }
            }
            function btnCancelClick() {
                location.href = '@Url.Action("KeihiSetteiList", "KeihiSettei")';
            }
        </script>
    }
