@model Models.KeihiSetteiModel
@{
    ViewBag.Title = "KeihiSetteiEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}


<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div>
                    <h2 class=" hr-text text-center">経費設定登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="1" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="経費コード">

                            <input type="text" tabindex="2" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="経費名">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="3" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="KanjoCD" name="kanjoCD" maxlength="6" required placeholder="勘定科目選択">
                            <label id="KanjoName"><b>勘定科目表示</b></label>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="4" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this,'HojoCheck')" id="HojoCD" name="hojoCD" maxlength="4" required placeholder="補助科目選択">
                            <label id="HojoName"><b>補助科目表示</b></label>

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style=" padding-top:1.2rem!important;">
                    <div class="col-xl-12" style="padding-left: 0px">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label class="text" style="padding-left:12px!important">計上単位</label>
                        </div>
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <div class="custom-control custom-radio" style="padding-bottom:0.6rem!important; padding-left:0px!important;">
                                <input type="radio" tabindex="5" id="rdoDCost" name="radio" onkeydown="KeyDown(event,this)" checked>
                                <label for="rdoCost" style="padding-right:150px;">品番直接費</label>
                                <input type="radio" id="rdoBrandSeason" name="radio">
                                <label for="rdoBrandSeason">ブランド+シーズン</label>

                            </div>
                            <div class="custom-control custom-radio" style="padding-bottom:1rem!important; padding-left:0px!important;">
                                <input type="radio" id="rdoProject" name="radio">
                                <label style="padding-right:85px;">プロジェクト</label>
                                <input type="radio" id="rdoMAllocation" name="radio">
                                <label style="padding-right:85px;">金型配賦</label>
                                <input type="radio" id="rdoFItems" name="radio">
                                <label>自由項目</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12" style="padding-left: 0px">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label class="text" style="padding-left:12px!important;">配賦基準</label>
                        </div>
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <div class="custom-control custom-radio" style="padding-bottom:4rem!important; padding-left:0px!important;">
                                <input tabindex="6" type="radio" id="rdoDirectly" name="radio1" checked>
                                <label style="padding-right:55px!important;">直接</label>
                                <input type="radio" id="rdoTMRatio" name="radio1">
                                <label style="padding-right:55px!important;">総金額比</label>
                                <input type="radio" id="rdoPNRatio" name="radio1">
                                <label style="padding-right:55px!important;">生産数比</label>
                                <input type="radio" id="rdoFVRatio" name="radio1">
                                <label>固定値比</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" tabindex="7" onclick="btnSaveClick()" class="btn btn-dark col-xl-4 text-center">登録</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" tabindex="8" onclick="btnCancelClick()" class="btn btn-primary col-xl-4 text-center">戻る</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="APIURL" value="@Url.Action("M_Keihi_ExistsCheck", "api/KeihiSetteiApi")" />
            </div>
            <div class="col-xs-12 col-md-3"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("経費設定登録");
            $("#HojoCD").attr('disabled', 'disabled');
            $("#CostCD").focus();
            var Mode = '@Model.Mode';
            if (Mode == 'New') {
                $('#btnSave').html('登録');
                $("#HojoCD").attr('disabled', 'disabled');

                RequiredCheck($("#CostCD"));
                RequiredCheck($("#CostName"));
                RequiredCheck($("#KanjoCD"));
                AlreadyExistsCheck($("#CostCD"), "Keihi", '@Url.Action("M_Keihi_ExistsCheck", "api/KeihiSetteiApi")');
                ExistsCheck($("#KanjoCD"), "Kanjo", '@Url.Action("M_Kanjo_ExistsCheck", "api/KeihiSetteiApi")', "KanjoName");
            }
            else if (Mode == 'Edit') {
                $('#btnSave').html('更新');
                $("#CostCD").attr('disabled', 'disabled');
                $("#CostName").focus();
                $("#HojoCD").attr('disabled', 'disabled');

                RequiredCheck($("#CostName"));
                RequiredCheck($("#KanjoCD"));
                ExistsCheck($("#KanjoCD"), "Kanjo", '@Url.Action("M_Kanjo_ExistsCheck", "api/KeihiSetteiApi")', "KanjoName");
                ShowData();
            }
            else  {
                $('#btnSave').html('削除');
                $("#CostCD").attr('disabled', 'disabled');
                $("#CostName").attr('disabled', 'disabled');
                $("#KanjoCD").attr('disabled', 'disabled');
                $("#HojoCD").attr('disabled', 'disabled');
                $("#Accounting").attr('disabled', 'disabled');
                $("#Allocation").attr('disabled', 'disabled');
                $("#btnSave").focus();
                ShowData();
            }
        });

            //set data
        function ShowData() {
            var Kmodel = {
                CostCD: '@Model.CostCD',
            };
            var data = CalltoApiController('@Url.Action("M_Keihi_Select_Entry", "api/KeihiSetteiApi")', Kmodel);
            var keihidata = JSON.parse(data);
            $("#CostCD").val(keihidata[0].CostCD);
            $("#CostName").val(keihidata[0].CostName);
            $("#KanjoCD").val(keihidata[0].KanjoCD);
            $("#HojoCD").val(keihidata[0].HojoCD);

            if (!keihidata[0].KanjoName)
                $("#KanjoName").text("勘定科目表示");
            else $("#KanjoName").text(keihidata[0].KanjoName);

            if (!keihidata[0].HojoName)
                $("#HojoName").text("補助科目表示");
            else $("#HojoName").text(keihidata[0].HojoName);

            //Bind Accounting
            if (keihidata[0].Accounting == "1")
                $("#rdoDCost").prop("checked", true);
            else if (keihidata[0].Accounting == "2")
                $("#rdoBrandSeason").prop("checked", true);
            else if (keihidata[0].Accounting == "3")
                $("#rdoProject").prop("checked", true);
            else if (keihidata[0].Accounting == "4")
                $("#rdoMAllocation").prop("checked", true);
            else
                $("#rdoFItems").prop("checked", true);

            //Bind Allocation
            if (keihidata[0].Allocation == "0")
                $("#rdoDirectly").prop("checked", true);
            else if (keihidata[0].Allocation == "1")
                $("#rdoTMRatio").prop("checked", true);
            else if (keihidata[0].Allocation == "2")
                $("#rdoPNRatio").prop("checked", true);
            else
                $("#rdoFVRatio").prop("checked", true);

            $("#KanjoName").css("font-weight", "Bold");
            $("#HojoName").css("font-weight", "Bold");
        }

        function DoProcess() {
            focusControl = $("#CostCD");
             var Kmodel = {
                 CostCD: $("#CostCD").val(),
                 CostName: $("#CostName").val(),
                 KanjoCD: $("#KanjoCD").val(),
                 HojoCD: $("#HojoCD").val(),
                 Accounting: $("#Accounting").val(),
                 Allocation: $("#Allocation").val(),
                 Mode:'@Model.Mode'
            };

            //For Accounting
            if ($('#rdoDCost').is(':checked'))
                Kmodel.Accounting = "1";
            else if ($('#rdoBrandSeason').is(':checked'))
                Kmodel.Accounting = "2";
            else if ($('#rdoProject').is(':checked'))
                Kmodel.Accounting = "3";
            else if ($('#rdoMAllocation').is(':checked'))
                Kmodel.Accounting = "4";
            else Kmodel.Accounting = "5";

            //For Allocation
            if ($('#rdoDirectly').is(':checked'))
                Kmodel.Allocation = "0";
            else if ($('#rdoTMRatio').is(':checked'))
                Kmodel.Allocation = "1";
            else if ($('#rdoPNRatio').is(':checked'))
                Kmodel.Allocation = "2";
            else Kmodel.Allocation = "3";

            var data = CalltoApiController('@Url.Action("Keihi_CUD", "api/KeihiSetteiApi")', Kmodel);
            ShowSuccessMessage(data,'@Url.Action("KeihiSetteiList", "KeihiSettei")');
        }

        function KanjoCheck(result) {
            if (result == 'OK') {
                if ($("#TmpVal1").val() == "1") {
                    $("#HojoCD").prop("disabled", false);
                    $("#HojoCD").focus();
                    RequiredCheck($("#HojoCD"));
                    ExistsCheck($("#HojoCD"), "Hojo", '@Url.Action("M_Hojo_ExistsCheck", "api/KeihiSetteiApi")', "HojoName", $("#KanjoCD").val());
                }
                else {
                    $("#HojoCD").prop("disabled", true);
                    RemoveRequired($("#HojoCD"));
                    RemoveExistCheck($("#HojoCD"));
                    $("#HojoCD").val('');
                    $("#HojoName").text('補助科目表示');
                }
            }
            else {
                $("#KanjoCD").focus();
                $("#KanjoName").text('勘定科目表示');
                $("#HojoCD").val('');
                $("#HojoName").text('補助科目表示');
                $("#HojoCD").prop("disabled", true);
            }
            $("#KanjoName").css("font-weight", "Bold");
            $("#HojoName").css("font-weight", "Bold");
        }

        function HojoCheck(result) {
            if (result == 'OK') {
                $("#Accounting").focus();
            }
            else {
                $("#HojoName").text('補助科目表示');
                $("#HojoCD").focus();
            }
            $("#HojoName").css("font-weight", "Bold");
        }


        function DeleteConfrim() {
            DoProcess();
        }

        //save
        function btnSaveClick() {
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var Mode = '@Model.Mode';
                //show confirm message
                if (Mode == "Delete") {
                    ShowConfirmMessage("Q102", "DeleteConfrim");
                }
                else {
                    DoProcess();
                }
            }
            else
                ShowErrorMessage(res);
        }

        function btnCancelClick() {
            location.href = '@Url.Action("KeihiSetteiList", "KeihiSettei")';
        }

    </script>
    <script src="@Url.Content("~/Scripts/datepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/datepicker.en.js")"></script>
    @*<script src="@Url.Content("~/Scripts/datepicker.ja.js")"></script>*@
}

