@model Models.Koushin_GetsujiModel
@{
    ViewBag.Title = "Koushin_Getsuji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
                <div>
                    <h3 class=" hr-text text-center">月次確定情報入力</h3>
                </div>
                <div class="pt-5 md-form">
                    <input type="text" tabindex="1" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Pdate" name="Date" maxlength="7" required placeholder="処理年月">
                    <br /><br />
                    処理年月を１ヶ月進めます。<br />
                    処理実行後は、現在の処理年月以前の日付で経費登録、納品登録は入力できません。
                    <br /><br />
                    <button id="btnSave" tabindex="2" onclick="btnSaveClick()" class="btn btn-dark col-xl-5 text-center">処理実行 </button>
                </div>                       
            </div>
            <div class="col-xs-6 col-md-4"></div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("月次確定");
            $("#Pdate").focus();
            ExistsCheck($("#Pdate"),"Koushiin", '@Url.Action("M_Contrl_YearMonth_ExitCheck", "api/Koushin_GetsujiApi")');
            YearMonthCheck($("#Pdate"),'@Url.Action("YearMonth_Checking", "api/CommonApi")');
        });

        //save
        function btnSaveClick() {
            var res = ErrorCheckOnSave();
            if (res == "0") {  
                    DoProcess();
            }
            else
                ShowErrorMessage(res);
        }

         function DoProcess() {
             focusControl = $("#Pdate");
             var kgmodel = {
                 processing_date: $("#Pdate").val(),                
            };

            var data = CalltoApiController('@Url.Action("M_Contrl_YearMonth_Update", "api/Koushin_GetsujiApi")', kgmodel);
            ShowSuccessMessage(data,'@Url.Action("Koushin_Getsuji", "Koushin_Getsuji")');           
        }

    </script>
}
