@model Models.TourokuNouhinModel

@{
    ViewBag.Title = "Touroku_NouhinEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-sm-12 col-md-1 col-lg-2"></div>
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div>
                    <h2 class=" hr-text text-center">納品登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                プロジェクト
                            </label>
                            <input type="text" tabindex="1" class="text-line col-sm-12 col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'ShowNewmodeData')" id="ProjectCD" name="txtProjectCD" maxlength="10" required placeholder="入力">
                            <label id="ProjectName"><b>プロジェクト表示</b></label>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:63px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                年度
                            </label>
                            <input type="text" tabindex="2" class="text-line col-sm-12 col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this)" id="Year" name="txtYear" maxlength="4" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:29px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                ブランド
                            </label>
                            <input type="text" tabindex="3" class="text-line col-sm-12 col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this)" id="BrandCD" name="txtBrandCD" maxlength="20" required placeholder="入力">
                            <label id="BrandName"><b>ブランド表示</b></label>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style=" padding-top:1.2rem!important;">
                    <div class="col-xl-12" style="padding-left: 25px">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <div id="rdogp" class="custom-control custom-radio" style="padding-left:0px!important;">
                                <label class="text" style="padding-right:15px!important">シーズン</label>
                                <input type="radio" tabindex="4" id="rdoAllYear" name="radio" onkeydown="KeyDown(event,this)" checked>
                                <label for="rdoC" style="padding-right:8px!important">通年</label>
                                <input type="radio" tabindex="5" id="rdoSS" name="radio" onkeydown="KeyDown(event,this)">
                                <label for="rdoS" style="padding-right:8px!important">SS</label>
                                <input type="radio" tabindex="6" id="rdoFW" name="radio" onkeydown="KeyDown(event,this)">
                                <label for="rdoF" style="padding-right:8px!important">FW</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12"style="padding-left:47px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                納品日
                            </label>
                            <input type="text" tabindex="7" class="text-line col-sm-12 col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this,'FiscalDateCheck')" id="DeliDate" name="txtDeliDate" maxlength="10" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12"style="padding-left:63px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                備考
                            </label>
                            <input type="text" tabindex="8" class="text-line col-sm-12 col-md-12 col-lg-8 text-left " onkeydown="KeyDown(event,this)" id="Remarks" name="txtRemarks" maxlength="40" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnAllCheck" tabindex="9" onclick="AllCheck()" class="btn btn-primary col-xl-2 text-center">全選択</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnAllUnCheck" tabindex="10" onclick="AllUnCheck()" class="btn btn-next col-xl-2 text-center">全解除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2"></div>
            <div class="p-5 col ">
                <div class="container">
                    <div class="row">
                        <table id ="tblNouhinEntry" class="tb1 col-sm-12" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">対象</th>
                                        <th style="width:27%">品番名</th>
                                        <th style="width:17%; text-align:right">生産数</th>
                                        <th style="width:17%; text-align:right">累計納品数</th>
                                        <th style="width:17%; text-align:right">今回納品数</th>
                                        <th style="width:17%; text-align:right">未納品数</th>
                                        <th style="width:17%; text-align:right" hidden>SEQ</th>
                                    </tr>
                                </thead>
                            </table>
                            @*<table id="tblKeihi" class="tb1 col-sm-12">
                                <thead>
                                    <tr>
                                        <td style="padding-right:17px">chk</td>
                                        <td style="padding-right:63px">HinBan</td>
                                        <td style="padding-right:8px">Production</td>
                                        <td style="padding-right:5px">DeliveryAmount</td>
                                        <td style="padding-right:23px">NoOfDeli</td>
                                        <td>NoOfunDeli</td>
                                    </tr>
                                </thead>
                            </table>*@
                    </div>
                </div>
                <div class="col-xl-12 text-center" style="padding-top:1.4rem!important;">
                    <div class="text-s text-custom1 text-uppercase mb-1" style="padding-left:30px;">
                        <button id="btnSave" tabindex="11" onclick="btnSaveClick()" class="btn btn-dark col-xl-2 text-center">登録</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button id="btnCancel" tabindex="12" onclick="btnCancelClick()" class="btn btn-primary col-xl-2 text-center">戻る</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("納品登録");
            $("#ProjectCD").focus();
            var Mode = '@Model.Mode';
            $("#HinbanCD").attr('disabled', 'disabled');
            $("#Year").attr('disabled', 'disabled');
            $("#BrandCD").attr('disabled', 'disabled');
            $("#rdoAllYear").attr('disabled', 'disabled');
            $("#rdoSS").attr('disabled', 'disabled');
            $("#rdoFW").attr('disabled', 'disabled');
            if (Mode == 'New') {
                $('#btnSave').html('登録');
                
                RequiredCheck($("#ProjectCD"));
                DoubleByteCheck($("#ProjectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");

                RequiredCheck($("#DeliDate"));
                DateCheck($("#DeliDate"), '@Url.Action("Date_Checking", "api/CommonApi")'); //E103
            }
            else if (Mode == 'Edit') {
                $('#btnSave').html('更新');

                RequiredCheck($("#ProjectCD"));
                DoubleByteCheck($("#ProjectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");

                RequiredCheck($("#DeliDate"));
                DateCheck($("#DeliDate"), '@Url.Action("Date_Checking", "api/CommonApi")'); //E103
                
                ShowData();
            }
            else {
                $('#btnSave').html('削除');
                $("#ProjectCD").attr('disabled', 'disabled');
                $("#HinbanCD").attr('disabled', 'disabled');
                $("#Year").attr('disabled', 'disabled');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#DeliDate").attr('disabled', 'disabled');
                $("#Remarks").attr('disabled', 'disabled');
                $("#btnSave").focus();

                ShowData();
            }
        });

        function FiscalDateCheck(result) {
            if (result == 'OK') {
                var model = {
                    inputdate: $("#DeliDate").val(),
                };
                var data = CalltoApiController('@Url.Action("M_Control_FiscalCheck", "api/CommonApi")', model);
                var dateData = JSON.parse(data);
                if (dateData[0].MessageID != 'E115') {
                    $("#Remarks").focus();
                }
                else {
                    $("#DeliDate").focus();
                    ShowErrorMessage("E115");
                }
            }
        }

        function FiscalDateCheckOnSave() {
            var model = {
                inputdate: $("#DeliDate").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Control_FiscalCheck", "api/CommonApi")', model);
            var dateData = JSON.parse(data);
            if (dateData[0].MessageID != 'E115') {
                $("#Remarks").focus();
                return "0";
            }
            else {
                return "E115";
            }
        }


        function ShowNewmodeData(result) {  //Dispay Project Data
            if (result == 'OK') {
                var TnModel = {
                    ProjectCD: $("#ProjectCD").val(),
                    Mode: '@Model.Mode'
                };
                var data = CalltoApiController('@Url.Action("M_Project_Select_NouhinEntry", "api/Touroku_NouhinApi")', TnModel);
                var nouhindata = JSON.parse(data);
                if (nouhindata.length > 0) {
                    $("#Year").val(nouhindata[0].Year);
                    $("#BrandCD").val(nouhindata[0].BrandCD);
                    $("#BrandName").text(nouhindata[0].BrandName);

                    if (nouhindata[0].Season == "1") 
                        $("#rdoAllYear").prop("checked", true);
                  
                    else if (nouhindata[0].Season == "2") 
                        $("#rdoSS").prop("checked", true);
                   
                    else if (nouhindata[0].Season == "3") 
                        $("#rdoFW").prop("checked", true);

                }
                else {
                    $("#Year").val('');
                    $("#BrandCD").val('');
                    $("#BrandName").text('ブランド表示');
                }
                BindTable(nouhindata);
            }
            else {
                $("#ProjectName").text('プロジェクト表示');
            }
            $("#ProjectName").css("font-weight", "Bold");
            $("#BrandName").css("font-weight", "Bold");
        }

        function ShowData() {
            
            var TnModel = {
                ProjectCD: '@Model.ProjectCD',
                Mode: '@Model.Mode'
            };
            var data = CalltoApiController('@Url.Action("M_Project_Select_NouhinEntry", "api/Touroku_NouhinApi")', TnModel);
            var nouhindata = JSON.parse(data);
            if (nouhindata.length > 0) {
                $("#ProjectCD").val(nouhindata[0].ProjectCD);
                $("#ProjectName").text(nouhindata[0].ProjectName);
                $("#Year").val(nouhindata[0].Year);
                $("#BrandCD").val(nouhindata[0].BrandCD);
                $("#BrandName").text(nouhindata[0].BrandName);
                $("#DeliDate").val(nouhindata[0].DeliveryDate);
                $("#Remarks").val(nouhindata[0].Remarks);
                if (nouhindata[0].Season == "1")
                    $("#rdoAllYear").prop("checked", true);
                else if (nouhindata[0].Season == "2")
                    $("#rdoSS").prop("checked", true);
                else if (nouhindata[0].Season == "3")
                    $("#rdoFW").prop("checked", true);
            }
            else {
                $("#Year").val('');
                $("#BrandCD").val('');
                $("#BrandName").text('ブランド表示');
            }
            $("#ProjectName").css("font-weight", "Bold");
            $("#BrandName").css("font-weight", "Bold");

            BindTable(nouhindata);
        }

        function BindTable(nouhindata) {
            table = $('#tblNouhinEntry').DataTable({
                data: nouhindata,
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy: true,
                "columns": [
                    {
                        "data": null,
                        className: "select-checkbox",
                        render: function (data, type, row) {
                           // return '<input type="checkbox"  id ="chk" />';
                            //return  '<input type="checkbox" ' + (data ? ' checked' : '') + '/>';
                            return '<input type="checkbox" id ="chk" ' + (data.checkval == "true" ? ' checked="checked"' : '') + ' value = ' + data.checkval + '>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border2",
                        render: function (data, type, row) {
                            return '<label id ="Hinbancd">' + data.HinbanCD + '</label>' + '  ' + '<label  id ="Hinbanname">' + data.HinbanName + '</label>';
                        }
                    },
                    
                    {
                        "data": null,
                        className: "Border3",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="Production" class="text-line text-right border-0" value = ' + data.Production + ' readonly>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border4",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="SumDeliveryAmount" class="text-line text-right border-0" value = ' + data.SumDeliveryAmount + ' readonly>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border5",
                        render: function (data, type, row) {
                            return '<input type="number"  id ="DeliverAmount" class="text-line text-right border-0 " onKeyPress="if(this.value.length==10) return false;" value = ' + data.DeliverAmount + '>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border6",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="UNDeliverItems" class="text-line text-right border-0" value = ' + data.UNDeliverItems + ' readonly>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border7",
                        render: function (data, type, row) {
                            return '<label id="seq" hidden>' + data.SEQ + '</label>';
                        }
                    }

                ]
            });
        }

        $('#tblNouhinEntry').on('change', '#chk', function () {
            var row = $(this).closest('tr');
            $('#chk', row).each(function () {
                if ($(this).val() == 'false') {
                    $(this).val('true');
                }
                else
                    $(this).val('false');
            });
        });

        $('#tblNouhinEntry').on('change', '#DeliverAmount', function () {  //for nouhinEntry error check
            var Deliverydata = null;
            var Undeliverdata = null;
            var row = $(this).closest('tr');
            $('#DeliverAmount', row).each(function (e) {
                if (!($(this).val())) {
                    $(this).val(0);
                }
                Deliverydata = parseInt($(this).val());
                if (Deliverydata < 0) {
                    $(this).focus();
                    ShowErrorMessage("E109");
                }
                else if (Deliverydata > (parseInt($(row).find('#Production').val()) - parseInt($(row).find('#SumDeliveryAmount').val()))) {
                    $(this).focus();
                    ShowErrorMessage("E128");
                }
                else {
                    Undeliverdata = parseInt($(row).find('#Production').val()) - parseInt($(row).find('#SumDeliveryAmount').val()) - Deliverydata;
                    $(row).find('#UNDeliverItems').val(Undeliverdata);
                }
            });

        });

        function tbErrorCheck() {
            var result;
            $('#tblNouhinEntry tr').each(function (row, tr) {
                if ($(tr).find('#chk').val() == "true") {
                    if (parseInt($(tr).find('#DeliverAmount').val()) < 0) {
                        $(tr).find('#DeliverAmount').focus();
                        result = "E109";
                        return false;
                    }
                    else if (parseInt($(tr).find('#DeliverAmount').val()) > (parseInt($(tr).find('#Production').val()) - parseInt($(tr).find('#SumDeliveryAmount').val()))) {
                        $(tr).find('#DeliverAmount').focus();
                        result = "E128";
                        return false;
                    }
                    else {
                        result = "0";
                        return true;
                    }
                }
            });
        
            return result;
        }

        function storeTblValues() {
            var TableData = new Array();
            $('#tblNouhinEntry tr').each(function (row, tr) {
                TableData[row] = {
                    "checkval": $(tr).find('#chk').val()
                    , "HinbanCD": $(tr).find('#Hinbancd').text()
                    , "Production": $(tr).find('#Production').val()
                    , "SumDeliveryAmount": $(tr).find('#SumDeliveryAmount').val()
                    , "DeliverAmount": $(tr).find('#DeliverAmount').val()
                    , "UNDeliverItems": $(tr).find('#UNDeliverItems').val()
                    , "SEQ": $(tr).find('#seq').text()
                    }
            });
            TableData.shift();  // first row will be empty - so remove
            return TableData;
        }


        //Insert,Update,Delete
        function DoProcess() {
            var tb = storeTblValues();
            var data = JSON.stringify(tb);

                //var table = $('#tblNouhinEntry').DataTable();
                //var data = JSON.stringify(table.rows().data().toArray());

                var TnModel = {
                    DeliveryStartDate: $("#DeliDate").val(),
                    ProjectCD: $("#ProjectCD").val(),
                    Remarks: $("#Remarks").val(),
                    TableData: data,
                    Mode: '@Model.Mode'

                };

                var data = CalltoApiController('@Url.Action("Nouhin_CUD", "api/Touroku_NouhinApi")', TnModel);
                ShowSuccessMessage(data, '@Url.Action("Touroku_NouhinList", "Touroku_Nouhin")?Year=' + '@Model.Year' + '&Season=' + '@Model.Season' + '&BrandCD=' + '@Model.BrandCD' + '&BrandName=' + '@Model.BrandName' + '&ProjectCD1=' + '@Model.ProjectCD1' + '&ProjectName=' + '@Model.ProjectName' + '&HinbanCD=' + '@Model.HinbanCD' + '&HinbanName=' + '@Model.HinbanName' + '&DeliveryStartDate=' + '@Model.DeliveryStartDate' + '&DeliveryEndDate=' + '@Model.DeliveryEndDate' + '&DeliveryStatus=' + '@Model.DeliveryStatus' + '&flg=' + '@Model.flg' );
            
        }

        //save
        function btnSaveClick() {
            var isChecked = false;
            var res = ErrorCheckOnSave();
            if (res == "0") {
                $('#tblNouhinEntry tr:has(td)').find('input[type="checkbox"]').each(function () {
                    if ($(this).prop("checked") == true)
                        isChecked = true;
                });
                if (isChecked == true) {
                    var Mode = '@Model.Mode';

                    if (Mode == "Delete") {   //Delete
                        ShowConfirmMessage("Q102", "DeleteConfrim");
                        DoProcess();
                    }
                    else {     // Insert/Update
                        var res1 = FiscalDateCheckOnSave();
                        if (res1 == "0") {
                            var res2 = tbErrorCheck();
                            if (res2 == "0") {
                                DoProcess();
                            }
                            else {
                                ShowErrorMessage(res2);
                            }
                        }
                        else {
                            $("#DeliDate").focus();
                            ShowErrorMessage(res1);
                        }
                    }
                }
                else
                    ShowErrorMessage("E111");
            }
            else
                ShowErrorMessage(res);
           
        }

        function AllSearch() {
         //   var res = ErrorCheckOnSave();
        //    if (res == "0") {
        //        var res1 = DateCompareCheckOnSave();
        //        if (res1 == "0") {
        //            var res2 = FiscalDateCheckOnSave();
        //            if (res2 == "0") {
            if ($('#ProjectCD').val().trim() == '') {
                $('#ProjectCD').focus();
                ShowErrorMessage("E102");
            }
            else {
                var model = {
                    value: $('#ProjectCD').val(),
                };
                var data = CalltoApiController('@Url.Action("DoubleByte_Checking", "api/CommonApi")', model);
                var byteresult = JSON.parse(data);
                if (byteresult[0].flg == "false") {
                    $('#ProjectCD').focus();
                    ShowErrorMessage("E129");
                }
                else {
                    ShowData();
                }
            }
        //            }
        //            else {
        //                $("#DeliDate").focus();
        //                ShowErrorMessage(res2);
        //            }
        //        }
        //    }
        //    else
        //        ShowErrorMessage(res);
        }

        function AllCheck() {  // 全選択
            $('#tblNouhinEntry tr:has(td)').find('input[type="checkbox"]').each(function () {
                $(this).val('true');
            });
            $('#tblNouhinEntry tbody input[type="checkbox"]').prop('checked', true);
        }

        function AllUnCheck() {  // 全解除
            $('#tblNouhinEntry tr:has(td)').find('input[type="checkbox"]').each(function () {
                $(this).val('false');
            });
            $('#tblNouhinEntry tbody input[type="checkbox"]').prop('checked', false);
        }

        function btnCancelClick() {
            location.href = '@Url.Action("Touroku_NouhinList", "Touroku_Nouhin")?Year=' + '@Model.Year' + '&Season=' + '@Model.Season' + '&BrandCD=' + '@Model.BrandCD' + '&BrandName=' + '@Model.BrandName' + '&ProjectCD1=' + '@Model.ProjectCD1' + '&ProjectName=' + '@Model.ProjectName' + '&HinbanCD=' + '@Model.HinbanCD' + '&HinbanName=' + '@Model.HinbanName' + '&DeliveryStartDate=' + '@Model.DeliveryStartDate' + '&DeliveryEndDate=' + '@Model.DeliveryEndDate' + '&DeliveryStatus=' + '@Model.DeliveryStatus' + '&flg=' + '@Model.flg' ;
        }

        $('#btnCancel').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code == 9) {
                if (e.shiftKey) {
                    //Focus previous input
                    if (thisTab == startIndex) {
                        $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                        return false;
                    }
                    else {
                        e.preventDefault();
                    }
                }
                e.preventDefault();
            }
        });


    </script>
    
}