@model Models.TourokuNouhinModel
@{
    ViewBag.Title = "Touroku_NouhinList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <button id="btnAdd" onclick="btnAdd_Click()" class="btn btn-primary col-xl-3 text-center" tabindex="38">
                                納品追加
                            </button>
                            <button id="btnB/S" onclick="btnBSNouhin_Click()" class="btn btn-primary col-xl-4 text-center" tabindex="38">
                                B/S一括納品
                            </button>
                            <button id="btnDelete" onclick="btnDelete_Click()" class="btn btn-default col-xl-2 text-center" tabindex="38" style="background-color:white; color:#1a8cff; border-radius:3px; border: 1px solid transparent; border-color:#1a8cff; margin-right: 20px;">
                                削除
                            </button>
                            <div id="registration" style="padding-top: 1.8rem!important;">
                                <div>
                                    <h4 class=" hr-text text-center">検索条件入力</h4>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:50px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:37px;">年度</label>
                                            <input type="text" tabindex="1" id="Year" name="txtYear" onkeydown="KeyDown(event,this)" class="text-line col-xl-4 text-left" maxlength="4" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:35px;">ブランド名</label>
                                            <input type="text" tabindex="2" id="BrandCD" name="txtBrandCD" onkeydown="KeyDown(event,this)" class="text-line col-xl-2 text-left" maxlength="20" required placeholder="入力">
                                            &nbsp;&nbsp;
                                            <input type="text" tabindex="3" id="BrandName" name="txtBrandName" onkeydown="KeyDown(event,this)" class="text-line col-xl-4 text-left" maxlength="40" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:16px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:35px;">シーズン</label>
                                            <input type="checkbox" tabindex="4" id="Allyear" name="chk" onkeydown="KeyDown(event,this)" checked>
                                            <label for="Allyear" style="padding-right:40px;">度年</label>
                                            <input type="checkbox" id="SS" name="chk" onkeydown="KeyDown(event,this)">
                                            <label for="SS" style="padding-right:40px;">SS</label>
                                            <input type="checkbox" id="FW" name="chk" onkeydown="KeyDown(event,this)">
                                            <label for="FW">FW</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:20px;">プロジェクト</label>
                                            <input type="text" tabindex="5" id="ProjectCD" name="txtProjectCD" onkeydown="KeyDown(event,this)" class="text-line col-xl-3 text-left" maxlength="10" required placeholder="入力">

                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding-left:120px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <input type="text" tabindex="6" id="ProjectName" name="txtProjectName" onkeydown="KeyDown(event,this)" class="text-line col-xl-10 text-left" maxlength="60" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:50px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:35px;">品番</label>
                                            <input type="text" tabindex="7" id="HinbanCD" name="txtHinbanCD" onkeydown="KeyDown(event,this)" class="text-line col-xl-4 text-left" maxlength="10" required placeholder="入力">
                                            &nbsp;&nbsp;
                                            <input type="text" tabindex="8" id="HinbanName" name="txtHinbanName" onkeydown="KeyDown(event,this)" class="text-line col-xl-4 text-left" maxlength="60" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:35px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:35px;">納品目</label>
                                            <input type="text" tabindex="9" id="StartDate" name="txtStartDate" onkeydown="KeyDown(event,this)" class="text-line col-xl-4 text-left" maxlength="10" required placeholder="入力">
                                            &nbsp;~&nbsp;
                                            <input type="text" tabindex="10" id="EndDate" name="txtEndDate" onkeydown="KeyDown(event,this,'CompareDate')" class="text-line col-xl-4 text-left" maxlength="10" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:20px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label class="text" style="padding-right:30px;">納品状況</label>
                                            <input type="checkbox" tabindex="11" id="Delleft" name="chkDelleft" checked>
                                            <label style="padding-right:50px;">納品残あり</label>
                                            <input type="checkbox" id="Delcomplete" name="chkDelcomplete">
                                            <label style="padding-right:50px;">完納</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px; padding-top:2rem;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <button id="btnSearch" tabindex="12" onclick="btnSearchClick()" class="btn btn-dark col-xl-3 text-center float-lg-right">検索</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="card-body card-block">
                    <table id="tblNouhin" class="tb1 col-sm-12" style="margin-left:10px;width:100%">
                        <thead>
                            <tr>
                                <th>納品日</th>
                                <th>ブランド</th>
                                <th>シーズン</th>
                                <th>年度</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>プロジェクト</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>品番</th>
                                <th></th>
                                <th>生産数</th>
                                <th>納品数</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            @*<div class="col-md-2"></div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("納品履歴検索");
            $("#Year").focus();
           // YearMonthCheck($("#Year"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
            ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");
            ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");
            ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_HinBan_ExistsCheck", "api/TourokuProjectApi")', "HinbanName");
            DateCheck($("#StartDate"), '@Url.Action("Date_Checking", "api/CommonApi")');
            $("#BrandName").attr('disabled', 'disabled');
            $("#ProjectName").attr('disabled', 'disabled');
            $("#HinbanName").attr('disabled', 'disabled');
            GetNouhin();

        });


        function CompareDate(result) {
            if (result == 'OK') {
                DateCheck($("#EndDate"), '@Url.Action("Date_Checking", "api/CommonApi")', "1", $("#StartDate").val());
            }
        }

        function btnSearchClick() {
            var allyear = $("#Allyear").is(":checked");
            var ss = $("#SS").is(":checked");
            var fw = $("#FW").is(":checked");
            if (!allyear && !ss && !fw) {
                var data = ShowErrorMessage("E111");
                return data;
            }
            else {
                var res = ErrorCheckOnSave();
                if (res == "0") {
                    GetNouhin();
                }
                else {
                    ShowErrorMessage(res);
                }
            }
        }

        function GetNouhin() {
            var TnModel = {
                Year: $("#Year").val(),
                BrandCD: $("#BrandCD").val(),
                BrandName: $("#BrandName").val(),
                ProjectCD: $("#ProjectCD").val(),
                ProjectName: $("#ProjectName").val(),
                HinbanCD: $("#HinbanCD").val(),
                HinbanName: $("#HinbanName").val(),
                DeliveryStartDate: $("#DeliveryStartDate").val(),
                DeliveryEndDate: $("#DeliveryEndDate").val()
            };
            if ($('#Allyear').is(':checked'))
                TnModel.Season = "1";
            else if ($('#SS').is(':checked'))
                TnModel.Season = "2";
            else TnModel.Season = "3";

            if ($('#Delleft').is(':checked'))
                TnModel.DeliveryStatus = "1";
            else TnModel.DeliveryStatus = "2";

            $.ajax({
                type: "Post",
                url: "@Url.Action("D_Delivery_Search", "api/Touroku_NouhinApi")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(TnModel),
                headers:
                {
                    Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                },
                success: function (response) {
                    if(response == "[]") {
                        BindTable(response);
                        var data = ShowErrorMessage("E104");
                        return data;
                    }
                    else {
                    BindTable(response);
                }
                }
            });
        }

        function BindTable(response) {
            table = $('#tblNouhin').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy:true,
                "columns": [
                    {
                        "data": null,
                        className:"Border1",
                        render: function (data, type, row) {
                            return '<label>' + data.DeliveryDate + '</label><br/><label>' + data.ProjectCD + '</label><br/><label>' + data.HinbanCD +  '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border2",
                        render: function (data, type, row) {
                            return '<label>' + data.BrandName + '</label><br/><label>' + data.ProjectName + '</label><br/><label>' + data.HinbanName + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border3",
                        render: function (data, type, row) {
                            return '<label>' + data.Season + '</label><br/><label>' + ' ' + '</label><br/><label>' + data.Production + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border4",
                        render: function (data, type, row) {
                            return '<label>' + data.Year + '</label><br/><label>' + '' + '</label><br/><label>' + data.DeliveryAmount  + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border5",
                        render: function (data, type, row) {
                            return '<label><a href="#" onClick="btnEditClick(\'' + data.ProjectCD + '\')" style="color:blue">編集</a></label><br/><label><a href="#" onClick="btnDelClick(\'' + data.ProjectCD +'\')" style="color:red">削除</a></label>';
                        }
                    },
                ]
                //"drawCallback": function (settings) {
                //    $("#tblNouhin thead").remove();
                //}
            });
        }

        //ButtonClick from table
        function btnAddClick() {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Mode=New'
        }

        function btnEditClick(ProjectCD) {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?ProjectCD=' + ProjectCD+'&Mode=Edit';
        }

        function btnDelClick(ProjectCD) {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?ProjectCD=' + ProjectCD+'&Mode=Delete';
        }
         //ButtonClick from table

        //ButtonClick from Searching
        function btnAdd_Click() {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Mode=New';
         }
        function btnBSNouhin_Click() {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Mode=New';
         }
        function btnDelete_Click() {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?ProjectCD=' + ProjectCD+'&Mode=Delete';
        }
        //ButtonClick from Searching
    </script>

    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/datatables.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/jszip.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/init/datatables-init.js")"></script>

}
