@model Models.TourokuNouhinModel
@{
    ViewBag.Title = "Touroku_NouhinList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}
    <style>
        .text-nouhin {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            width: 120px;
            white-space: nowrap;
            vertical-align: middle;
        }
    </style>
<div id="divMain" class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="card-body card-block" style="padding-right: 0px;">
                    <div class="row form-group">
                        <div class="col col-md-12" style="padding-right: 0px;">
                            <button id="btnAdd" tabindex="17" onclick="btnAdd_Click()" class="btn btn-primary col-xl-3 text-center" >
                                納品追加
                            </button>
                            <button id="btnBS" tabindex="18" onclick="btnBSNouhin_Click()" class="btn btn-primary col-xl-4 text-center">
                                B/S一括納品
                            </button>

                            <div id="registration" style="padding-top: 1.8rem!important;">
                                <div>
                                    <h4 class=" hr-text text-center">検索条件入力</h4>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:63px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:3px;">年度</label>
                                            <input type="text" tabindex="1" id="Year" name="txtYear" onkeydown="KeyDown(event,this)" class="text-line col-xl-3 text-left" maxlength="4" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:13px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:3px;">ブランド名</label>
                                            <input type="text" tabindex="2" id="BrandCD" name="txtBrandCD" onkeydown="KeyDown(event,this)" class="text-line col-xl-3 text-left" maxlength="20" required placeholder="入力">

                                            <input type="text" tabindex="3" id="BrandName" name="txtBrandName" onkeydown="KeyDown(event,this)" class="text-line col-xl-5 text-left" maxlength="40" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:29px;">
                                        <div id="Seasongp" class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:5px;">シーズン</label>
                                            <input type="checkbox" tabindex="4" id="Allyear" name="chk" value="1" onkeydown="KeyDown(event,this)" checked>
                                            <label for="Allyear" style="padding-right:25px;">通年</label>
                                            <input type="checkbox" tabindex="5" id="SS" name="chk" value="2" onkeydown="KeyDown(event,this)" checked>
                                            <label for="SS" style="padding-right:25px;">SS</label>
                                            <input type="checkbox" tabindex="6" id="FW" name="chk" value="3" onkeydown="KeyDown(event,this,'SeasonCheck')" checked>
                                            <label for="FW">FW</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:2px;">プロジェクト</label>
                                            <input type="text" tabindex="7" id="ProjectCD" name="txtProjectCD" onkeydown="KeyDown(event,this,'ProjectCheck')" class="text-line col-xl-3 text-left" maxlength="10" required placeholder="入力">

                                        @*</div>
                                    </div>
                                    <div class="col-md-12" style="padding-left:105px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">*@
                                            <input type="text" tabindex="8" id="ProjectName" name="txtProjectName" onkeydown="KeyDown(event,this)" class="text-line col-xl-5 text-left" maxlength="60" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:63px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:3px;">品番</label>
                                            <input type="text" tabindex="9" id="HinbanCD" name="txtHinbanCD" onkeydown="KeyDown(event,this)" class="text-line col-xl-3 text-left" maxlength="10" required placeholder="入力">

                                            <input type="text" tabindex="10" id="HinbanName" name="txtHinbanName" onkeydown="KeyDown(event,this)" class="text-line col-xl-6 text-left" maxlength="60" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:48px;">
                                        <div class="text-s text-custom1 text-uppercase mb-1">
                                            <label id="text" style="padding-right:3px;">納品日</label>
                                            <input type="text" tabindex="11" id="StartDate" name="txtStartDate" onkeydown="KeyDown(event,this)" class="text-line col-xl-3 text-left" maxlength="10" required placeholder="入力">
                                            &nbsp;~&nbsp;
                                            <input type="text" tabindex="12" id="EndDate" name="txtEndDate" onkeydown="KeyDown(event,this,'DateCompareCheck')" class="text-line col-xl-3 text-left" maxlength="10" required placeholder="入力">
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                    <div class="col-md-12" style="padding-left:33px;">
                                        <div id="Statusgp" class="text-s text-custom1 text-uppercase mb-1">
                                            <label class="text" style="padding-right:5px;">納品状況</label>
                                            <input type="checkbox" tabindex="13" id="Delleft" name="chkDelleft" onkeydown="KeyDown(event,this)"  checked>
                                            <label for="Delleft" style="padding-right:12px;">納品残あり</label>
                                            <input type="checkbox" tabindex="14" id="Delcomplete" onkeydown="KeyDown(event,this,'flgCheck')" name="chkDelcomplete" >
                                            <label for="Delcomplete">完納</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px; padding-top:2rem;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <button id="btnSearch" tabindex="15" onclick="btnSearchClick()" class="btn btn-dark col-xl-3 text-center float-lg-right">検索</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-7">
                <div class="card-body card-block" style="padding-left: 0px;">
                    <table id="tblNouhin" class="tb1 col-sm-12" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <table class="col-md-12">
                                        <tr>
                                            <th style="width: 20%">納品日</th>
                                            <th style="width: 28%">ブランド</th>
                                            <th style="width: 22%; text-align:center;">シーズン</th>
                                            <th style="width: 22%;text-align:center;">年度</th>
                                            <th style="width: 10%"></th>
                                        </tr>
                                        <tr>
                                            <th>プロジェクト</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th>品番</th>
                                            <th></th>
                                            <th style="text-align:right;">生産数</th>
                                            <th style="text-align:right;">納品数</th>
                                            <th></th>
                                        </tr>
                                    </table>
                                </th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            @*<div class="col-md-2"></div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formtitle").text("納品履歴検索");
            if ('@Model.flg' == "list") {
                $("#Year").val('@Model.Year');
                $("#BrandCD").val('@Model.BrandCD');
                $("#BrandName").val('@Model.BrandName');
                $("#ProjectCD").val('@Model.ProjectCD1');
                $("#ProjectName").val('@Model.ProjectName');
                $("#HinbanCD").val('@Model.HinbanCD');
                $("#HinbanName").val('@Model.HinbanName');
                $("#StartDate").val('@Model.DeliveryStartDate');
                $("#EndDate").val('@Model.DeliveryEndDate');

               var str = '@Model.Season';
               if (str.includes("1"))
                   $("#Allyear").prop("checked", true);
               else $("#Allyear").prop("checked", false);
               if (str.includes("2"))
                   $("#SS").prop("checked", true);
               else $("#SS").prop("checked", false);
               if (str.includes("3"))
                   $("#FW").prop("checked", true);
               else $("#FW").prop("checked", false);

             var str1 = '@Model.DeliveryStatus';
               if (str1.includes("1"))
                   $("#Delleft").prop("checked", true);
               else $("#Delleft").prop("checked", false);
               if (str1.includes("2"))
                   $("#Delcomplete").prop("checked", true);
               else $("#Delcomplete").prop("checked", false);

            }

            $("#Year").focus();
            YearCheck($("#Year"), '@Url.Action("Year_Checking", "api/CommonApi")');

            DoubleByteCheck($("#BrandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");

            DoubleByteCheck($("#ProjectCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");

            DoubleByteCheck($("#HinbanCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
           // ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_HinBan_ExistsCheck", "api/TourokuProjectApi")', "HinbanName");
           // ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "HinbanName", $("#ProjectCD").val());

            DateCheck($("#StartDate"), '@Url.Action("Date_Checking", "api/CommonApi")');
            DateCheck($("#EndDate"), '@Url.Action("Date_Checking", "api/CommonApi")');

            //$("#BrandName").attr('disabled', 'disabled');
            //$("#ProjectName").attr('disabled', 'disabled');
            //$("#HinbanName").attr('disabled', 'disabled');
            //GetNouhin();

        });
        function ProjectCheck(result) {
            if (result == 'OK') {
                ExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', "HinbanName", $("#ProjectCD").val());
            }
        }

        function DateCompareCheck(result) {
           if (result == 'OK') {
               if (!($('#StartDate').val().trim() == '' || $('#EndDate').val().trim() == '')) {
                   var model = {
                       startDate: $("#StartDate").val(),
                       endDate: $("#EndDate").val()
                   };
                   @*var data = CalltoApiController('@Url.Action("DateComapre", "api/CommonApi")', model);
                   var dateData = JSON.parse(data);*@
                   if (model.startDate <= model.endDate) {
                       $("#Delleft").focus();
                   }
                   else {
                       $("#EndDate").focus();
                       ShowErrorMessage("E112");
                   }
               }
           }
        }

        function DateCompareCheckOnSave() {
            if (!($('#StartDate').val().trim() == '' || $('#EndDate').val().trim() == '')) {
               var model = {
                   startDate: $("#StartDate").val(),
                   endDate: $("#EndDate").val()
               };
               @*var data = CalltoApiController('@Url.Action("DateComapre", "api/CommonApi")', model);
               var dateData = JSON.parse(data);*@
                if (model.startDate <= model.endDate) {
                   return "0";
               }
               else {
                   return "E112";
               }
           }
           else return "0";
        }

        function SeasonCheck(result) {
            if (result == 'OK') {
                var allyear = $("#Allyear").is(":checked");
                var ss = $("#SS").is(":checked");
                var fw = $("#FW").is(":checked");
                if (!allyear && !ss && !fw) {
                    $("#FW").focus();
                    ShowErrorMessage("E111");
                }
            }
        }

        function flgCheck(result) {
            if (result == 'OK') {
                if (!$("#Delleft").is(":checked") && !$("#Delcomplete").is(":checked")) {
                    $("#Delcomplete").focus();
                    ShowErrorMessage("E111");
                }
            }
        }

        function btnSearchClick() {
            var allyear = $("#Allyear").is(":checked");
            var ss = $("#SS").is(":checked");
            var fw = $("#FW").is(":checked");
            if (!allyear && !ss && !fw) {
                $("#FW").focus();
                var data = ShowErrorMessage("E111");
                return data;
            }
            else if (!$("#Delleft").is(":checked") && !$("#Delcomplete").is(":checked")) {
                $("#Delcomplete").focus();
                var data = ShowErrorMessage("E111");
                return data;
            }
            else {
                    var res = ErrorCheckOnSave();
                        if (res == "0") {
                        var res1 = DateCompareCheckOnSave();
                            if (res1 == "0") {
                            GetNouhin();
                            }
                            else {
                            $("#EndDate").focus();
                            ShowErrorMessage(res1);
                            }
                        }
                    else {
                        ShowErrorMessage(res);
                   }
            }
        }

        function GetNouhin() {
            var TnModel = {
                Year: $("#Year").val(),
                BrandCD: $("#BrandCD").val(),
                BrandName: $("#BrandName").val(),
                ProjectCD: $("#ProjectCD").val(),
                ProjectName: $("#ProjectName").val(),
                HinbanCD: $("#HinbanCD").val(),
                HinbanName: $("#HinbanName").val(),
                DeliveryStartDate: $("#StartDate").val(),
                DeliveryEndDate: $("#EndDate").val()
            };
            var selected = new Array();
            $("#Seasongp input[type=checkbox]:checked").each(function () {
                selected.push(this.value);
            });
            if (selected.length > 0)
                TnModel.Season = selected.join(",");

            if ($('#Delleft').is(':checked'))
                TnModel.DeliveryStatus = "1";
            else TnModel.DeliveryStatus = "2";

            $.ajax({
                type: "Post",
                url: "@Url.Action("D_Delivery_Search", "api/Touroku_NouhinApi")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(TnModel),
                headers:
                {
                    Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                },
                success: function (response) {
                    if(response == "[]") {
                        BindTable(response);
                        var data = ShowErrorMessage("E104");
                        return data;
                    }
                    else {
                    BindTable(response);
                }
                }
            });
        }

        function BindTable(response) {
            table = $('#tblNouhin').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy:true,
                "columns": [
                    {
                        "data": null,
                        className: "Border1",
                        render: function (data, type, row) {
                            return '<table class="col-md-12"><tr><td style="width: 20%">' + data.DeliveryDate + '</td><td class="text-nouhin">' + data.BrandCD + '  ' + data.BrandName + '</td><td style="width: 22%" class="text-center">' + data.Season + '</td><td style="width: 22%" class="text-center">' + data.Year + '</td><td><label><a href="#" onClick="btnEditClick(\'' + data.ProjectCD + '\')" style="color:blue">編集</a></label><br/></td></tr>' +
                                '<tr><td>' + data.ProjectCD + '</td><td class="text-nouhin">' + data.ProjectName + '</td><td></td><td></td><td></td></tr>' +
                                '<tr><td>' + data.HinbanCD + '</td><td class="text-nouhin">' + data.HinbanName + '</td><td style="text-align: right; ">' + data.Production + '</td><td style="text-align: right;">' + data.DeliveryAmount + '</td><td><label><a href="#" onClick="btnDelClick(\'' + data.ProjectCD + '\')" style="color:red">削除</a></label></td></tr></table>';


                        }
                    },
                ]
                //"drawCallback": function (settings) {
                //    $("#tblNouhin thead").remove();
                //}
            });
        }

        @*//ButtonClick from table
        function btnAddClick() {
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Mode=New'
        }*@

        function btnEditClick(ProjectCD) {
            var TnModel = NouhinData();
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Year=' + TnModel.Year + '&BrandCD=' + TnModel.BrandCD + '&BrandName=' + TnModel.BrandName + '&Season=' + TnModel.Season + '&ProjectCD1=' + TnModel.ProjectCD1 + '&ProjectName=' + TnModel.ProjectName + '&HinbanCD=' + TnModel.HinbanCD + '&HinbanName=' + TnModel.HinbanName + '&DeliveryStartDate=' + TnModel.DeliveryStartDate + '&DeliveryEndDate=' + TnModel.DeliveryEndDate + '&DeliveryStatus=' + TnModel.DeliveryStatus + '&flg=' + TnModel.flg + '&ProjectCD=' + ProjectCD+'&Mode=Edit';
        }

        function btnDelClick(ProjectCD) {
            var TnModel = NouhinData();
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Year=' + TnModel.Year + '&BrandCD=' + TnModel.BrandCD + '&BrandName=' + TnModel.BrandName + '&Season=' + TnModel.Season + '&ProjectCD1=' + TnModel.ProjectCD1 + '&ProjectName=' + TnModel.ProjectName + '&HinbanCD=' + TnModel.HinbanCD + '&HinbanName=' + TnModel.HinbanName + '&DeliveryStartDate=' + TnModel.DeliveryStartDate + '&DeliveryEndDate=' + TnModel.DeliveryEndDate + '&DeliveryStatus=' + TnModel.DeliveryStatus + '&flg=' + TnModel.flg + '&ProjectCD=' + ProjectCD+'&Mode=Delete';
        }
         //ButtonClick from table

        //ButtonClick from Searching
        function btnAdd_Click() {
            var TnModel = NouhinData();
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?Year=' + TnModel.Year + '&BrandCD=' + TnModel.BrandCD + '&BrandName=' + TnModel.BrandName + '&Season=' + TnModel.Season + '&ProjectCD1=' + TnModel.ProjectCD1 + '&ProjectName=' + TnModel.ProjectName + '&HinbanCD=' + TnModel.HinbanCD + '&HinbanName=' + TnModel.HinbanName + '&DeliveryStartDate=' + TnModel.DeliveryStartDate + '&DeliveryEndDate=' + TnModel.DeliveryEndDate + '&DeliveryStatus=' + TnModel.DeliveryStatus + '&flg='+ TnModel.flg + '&Mode=New';
         }
        function btnBSNouhin_Click() {
            var TnModel = NouhinData();
            location.href = '@Url.Action("Touroku_BSNouhinEntry", "Touroku_Nouhin")?Year=' + TnModel.Year + '&BrandCD=' + TnModel.BrandCD + '&BrandName=' + TnModel.BrandName + '&Season=' + TnModel.Season + '&ProjectCD1=' + TnModel.ProjectCD1 + '&ProjectName=' + TnModel.ProjectName + '&HinbanCD=' + TnModel.HinbanCD + '&HinbanName=' + TnModel.HinbanName + '&DeliveryStartDate=' + TnModel.DeliveryStartDate + '&DeliveryEndDate=' + TnModel.DeliveryEndDate +'&DeliveryStatus='+TnModel.DeliveryStatus+ '&flg=' + TnModel.flg +'&Mode=New';
        }

        @*function btnDelete_Click() {
            var model = NouhinData();
            location.href = '@Url.Action("Touroku_NouhinEntry", "Touroku_Nouhin")?ProjectCD=' + ProjectCD+'&Mode=Delete';
        }*@
        //ButtonClick from Searching


        function NouhinData() {
            var TnModel = {
                Year: $("#Year").val(),
                BrandCD: $("#BrandCD").val(),
                BrandName: $("#BrandName").val(),
                ProjectCD1: $("#ProjectCD").val(),
                ProjectName: $("#ProjectName").val(),
                HinbanCD: $("#HinbanCD").val(),
                HinbanName: $("#HinbanName").val(),
                DeliveryStartDate: $("#StartDate").val(),
                DeliveryEndDate: $("#EndDate").val(),
                flg: "list"
            };
            var selected = new Array();
            $("#Seasongp input[type=checkbox]:checked").each(function () {
                selected.push(this.value);
            });
            if (selected.length > 0)
                TnModel.Season = selected.join(",");

            if ($('#Delleft').is(':checked'))
                TnModel.DeliveryStatus = "1";
            else TnModel.DeliveryStatus = "2";

            return TnModel;
        }

        $('#btnBS').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code == 9) {
                if (e.shiftKey) {
                    //Focus previous input
                    if (thisTab == startIndex) {
                        $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                        return false;
                    }
                    else {
                        e.preventDefault();
                    }
                }
                e.preventDefault();
            }
        });
    </script>

    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/datatables.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/jszip.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/lib/data-table/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/init/datatables-init.js")"></script>

}
