@model Models.TourokuNouhinModel
@{
    ViewBag.Title = "Touroku_BSNouhinEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}
<style>
    .text-BSEntry {
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        width: 100px;
        white-space: nowrap;
        vertical-align: middle;
        padding-top: 2%;
    }
</style>
<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-sm-12 col-md-1 col-lg-2"></div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div>
                    <h2 class=" hr-text text-center">B/S一括納品登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:38px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                年度
                            </label>
                            <input type="text" tabindex="1" class="text-line col-sm-12 col-md-12 col-lg-2  text-left" onkeydown="KeyDown(event,this)" id="Year" name="txtYear" maxlength="4" required placeholder="入力">
                        </div>
                    </div>
                </div>

                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:7px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                ブランド
                            </label>
                            <input type="text" tabindex="2" class="text-line col-sm-12 col-md-12 col-lg-2  text-left" onkeydown="KeyDown(event,this,'BrandCheck')" id="BrandCD" name="txtBrandCD" maxlength="6" required placeholder="入力">
                            <input type="button" id="btnBrandSearch" value="..." onclick="Search(1)" />
                            <label id="BrandName"  style="text-transform: none;"><b>@*ブランド表示*@</b></label>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style=" padding-top:1.2rem!important;">
                    <div class="col-xl-12" style="padding-left: 0px">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <div class="custom-control custom-radio" style="padding-left:0px!important;">
                                <label class="text" style="padding-right:20px!important">シーズン</label>
                                <input type="radio" tabindex="3" id="rdoAllYear" name="radio" onkeydown="KeyDown(event,this)" checked>
                                <label for="rdoC" style="padding-right:8px!important">通年</label>
                                <input type="radio" tabindex="4" id="rdoSS" name="radio" onkeydown="KeyDown(event,this)">
                                <label for="rdoS" style="padding-right:8px!important">SS</label>
                                <input type="radio" tabindex="5" id="rdoFW" name="radio" onkeydown="KeyDown(event,this)">
                                <label for="rdoF" style="padding-right:8px!important">FW</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 12px;">予定期間</label>
                            <input type="text" tabindex="6" class="text-line col-sm-12 col-md-12 col-lg-2  text-left" id="PeriodStart" name="periodstart" onkeydown="KeyDown(event,this)" maxlength="6" required placeholder="入力">
                            &nbsp;~&nbsp;
                            <input type="text" tabindex="7" class="text-line col-sm-12 col-md-12 col-lg-2  text-left" id="PeriodEnd" name="periodend" onkeydown="KeyDown(event,this,'DateCompareCheck')" maxlength="6" required placeholder="入力">

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:23px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                納品日
                            </label>
                            <input type="text" tabindex="8" class="text-line col-sm-12 col-md-12 col-lg-3  text-left" onkeydown="KeyDown(event,this,'FiscalDateCheck')" id="DeliDate" name="txtDeliDate" maxlength="10" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:40px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                備考
                            </label>
                            <input type="text" tabindex="9" class="text-line col-sm-12 col-md-12 col-lg-10 text-left" onkeydown="KeyDown(event,this)" id="Remarks" name="txtRemarks" maxlength="40" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-right">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSearch" tabindex="10" onclick="AllSearch()" class="btn btn-dark col-xl-2 text-center">検索</button>
                            &nbsp;
                            <button id="btnAllCheck" tabindex="11" onclick="AllCheck()" class="btn btn-primary col-xl-2 text-center">全選択</button>
                            &nbsp;
                            <button id="btnAllUnCheck" tabindex="12" onclick="AllUnCheck()" class="btn btn-next col-xl-2 text-center">全解除</button>

                        </div>
                    </div>
                </div>
                @*<div class="pt-3 md-form">
                        <div class="col-xl-12 text-right">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <button id="btnAllCheck" tabindex="11" onclick="AllCheck()" class="btn btn-primary col-xl-3 text-center">全選択</button>
                                &nbsp;&nbsp;&nbsp;
                                <button id="btnAllUnCheck" tabindex="12" onclick="AllUnCheck()" class="btn btn-next col-xl-3 text-center">全解除</button>

                            </div>
                        </div>
                    </div>*@
            </div>
            @* <div class="col-sm-12 col-md-1 col-lg-2"></div>*@
            <div class="p-5 col ">
                <div class="container">
                    <div class="row">
                        <table id="tblNouhinBS" class="tb1 col-sm-12" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:5%;">対象</th>
                                    <th style="width:25%;">プロジェクト</th>
                                    <th style="width:20%">品番名</th>
                                    <th style="width:13%; text-align:right">生産数</th>
                                    <th style="width:13%; text-align:right">累計納品数</th>
                                    <th style="width:13%; text-align:right">今回納品数</th>
                                    <th style="width:13%; text-align:right">未納品数</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-xl-12 text-center" style="padding-top:1.4rem!important;">
                    <div class="text-s text-custom1 text-uppercase mb-1" style="padding-left:30px;">
                        <button id="btnSave" tabindex="13" onclick="btnSaveClick()" class="btn btn-dark col-xl-2 text-center">登録</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button id="btnCancel" tabindex="14" onclick="btnCancelClick()" class="btn btn-primary col-xl-2 text-center">戻る</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Search/SearchBase.cshtml")

@section Scripts{
    <script src="@Url.Content("~/ElaAdmin/assets/js/Brand.js")"></script>
    <script type="text/javascript">
        var Deliverydata = null;
        $(document).ready(function () {
            $("#formtitle").text("B/S一括納品登録");
            var Mode = '@Model.Mode';
            $('#btnSave').html('登録');
            $("#Year").focus();

            RequiredCheck($("#Year"));
            YearCheck($("#Year"), '@Url.Action("Year_Checking", "api/CommonApi")');
            RequiredCheck($("#BrandCD"));
            DoubleByteCheck($("#BrandCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
            ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");
            RequiredCheck($("#PeriodStart"));
            YearMonthCheck($("#PeriodStart"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
            RequiredCheck($("#PeriodEnd"));
            YearMonthCheck($("#PeriodEnd"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
            RequiredCheck($("#DeliDate"));
            DateCheck($("#DeliDate"), '@Url.Action("Date_Checking", "api/CommonApi")'); //E103

            //ShowData();
            $("#divSearch").iziModal({
                top: 50,
                width: "70%",
                overlayClose: false,
                zindex: 1000,
            });
        });

        function BrandCheck(result) {
            if (result == 'OK')
                $("#BrandName").css("font-weight", "Bold");
            else {
                $("#BrandName").text('');
                $("#BrandName").css("font-weight", "Bold");
            }
        }

         function DateCompareCheck(result) {
           if (result == 'OK') {
               if (!($('#PeriodStart').val().trim() == '' || $('#PeriodEnd').val().trim() == '')) {
                   var model = {
                       startDate: $("#PeriodStart").val(),
                       endDate: $("#PeriodEnd").val()
                   };
                   @*var data = CalltoApiController('@Url.Action("DateComapre", "api/CommonApi")', model);
                   var dateData = JSON.parse(data);*@
                   if (model.startDate <= model.endDate) {
                       $("#DeliDate").focus();
                   }
                   else {
                       $("#PeriodEnd").focus();
                       ShowErrorMessage("E112");
                   }
               }
           }
         }

       function DateCompareCheckOnSave() {
           if (!($('#PeriodStart').val().trim() == '' || $('#PeriodEnd').val().trim() == '')) {
               var model = {
                   startDate: $("#PeriodStart").val(),
                   endDate: $("#PeriodEnd").val()
               };
               @*var data = CalltoApiController('@Url.Action("DateComapre", "api/CommonApi")', model);
               var dateData = JSON.parse(data);*@
               if (model.startDate <= model.endDate) {
                   return "0";
               }
               else {
                   return "E112";
               }
           }
           else return "0";
       }

        function FiscalDateCheck(result) {
            if (result == 'OK') {
                var model = {
                    inputdate: $("#DeliDate").val(),
                };
                var data = CalltoApiController('@Url.Action("M_Control_FiscalCheck", "api/CommonApi")', model);
                var dateData = JSON.parse(data);
                if (dateData[0].MessageID != 'E115') {
                    $("#Remarks").focus();
                }
                else {
                    $("#DeliDate").focus();
                    ShowErrorMessage("E115");
                }
            }
        }

        function FiscalDateCheckOnSave() {
            var model = {
                inputdate: $("#DeliDate").val(),
            };

            var data = CalltoApiController('@Url.Action("M_Control_FiscalCheck", "api/CommonApi")', model);
            var dateData = JSON.parse(data);
            if (dateData[0].MessageID != 'E115') {
                $("#Remarks").focus();
                return "0";
            }
            else {
                return "E115";
            }
        }

        function ShowData() {
            var TnModel = {
                Year: $("#Year").val(),
                BrandCD: $("#BrandCD").val(),
                PeriodStart: ($("#PeriodStart").val()).replace("/",""),
                PeriodEnd: ($("#PeriodEnd").val()).replace("/","")
            };

            if ($('#rdoAllYear').is(':checked'))
                TnModel.Season = "1";
            else if ($('#rdoSS').is(':checked'))
                TnModel.Season = "2";
            else TnModel.Season = "3";

            var data = CalltoApiController('@Url.Action("M_NouhinBS_Select", "api/Touroku_NouhinApi")', TnModel);
            var nouhindata = JSON.parse(data);

            BindTable(nouhindata);
        }

        function BindTable(nouhindata) {
            table = $('#tblNouhinBS').DataTable({
                data: nouhindata,
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy: true,
                "columns": [
                    {
                        "data": null,
                        className: "Border1",
                        render: function (data, type, row) {
                           // return '<input type="checkbox"  id ="chk"  value = "0"/>  ';
                            //return  '<input type="checkbox" ' + (data ? ' checked' : '') + '/>';
                            return '<input type="checkbox" id ="chk" ' + (data.checkval == "true" ? ' checked="checked"' : '') + ' value = ' + data.checkval +'>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border2",
                        render: function (data, type, row) {
                            return '<label id ="Projectcd" style="padding-top:5px; text-transform: none;">' + data.ProjectCD + '</label>' + '  ' + '<label class="text-BSEntry" id ="Projectname">' + data.ProjectName + '</label>';
                            //return '<label id ="Projectcd">' + data.ProjectCD + '</label>' + '  ' + '<input type="text"  id ="Production" class="text-line text-right border-0" value = ' + data.Production + ' readonly>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border3",
                        render: function (data, type, row) {
                            return '<label id ="Hinbancd" style="padding-top:5px; text-transform: none;">' + data.HinbanCD + '</label>' + '  ' + '<label class="text-BSEntry" id ="Hinbanname">' + data.HinbanName  + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border4",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="Production" class="text-line text-right border-0" value = ' + data.Production + ' readonly>';
                            //return '<label class="text-BSEntry" id ="Projectname">' + data.ProjectName + '</label>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border5",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="SumDeliveryAmount" class="text-line text-right border-0" value = ' + data.DeliveryAmount + ' readonly>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border6",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="DeliverAmount" class="text-line text-right border-0 "  value = ' + data.DeliverTimes + '>';
                        }
                    },
                    {
                        "data": null,
                        className: "Border7",
                        render: function (data, type, row) {
                            return '<input type="text"  id ="UNDelivertimes" class="text-line text-right border-0" value = ' + data.UNDeliverTimes + ' readonly>';
                        }
                    }
                ]
            });
        }

        $('#tblNouhinBS').on('change', '#chk', function () {
            var row = $(this).closest('tr');
            $('#chk', row).each(function () {
                if ($(this).val() == 'false') {
                    $(this).val('true');
                }
                else
                    $(this).val('false');
            });
        });
        //$('#tblNouhinBS').on('keyup', '#DeliverAmount', function () {
        //    var r = $(this).closest('tr');
        //    $('#DeliverAmount', r).each(function (e) {
        //        //alert(Deliverydata);
        //        //$(r).find('input:text').val(Deliverydata);
        //        alert($(r).find('input:text').text());
        //    });
        //});

        //$('#tblNouhinBS').on('click', '#DeliverAmount', function () {
        //    var row1 = $(this).closest('tr');
        //    $('#DeliverAmount', row1).each(function (e) {
        //        Deliverydata = $(this).val();
        //    });

        //});

        $('#tblNouhinBS').on('change', '#DeliverAmount', function () {  //for nouhinEntry error check
            var row = $(this).closest('tr');
            $('#DeliverAmount', row).each(function (e) {
                if (!($(this).val())) {
                    $(this).val(0);
                }
            });

        });

        $('#tblNouhinBS').on('keyup', '#DeliverAmount', function (e) {  //Allow only numer with comma for 今回納品数
            if (e.which >= 37 && e.which <= 40) event.preventDefault();

            // format number
            $(this).val(function (index, value) {
                return value
                    .replace(/\D/g, "")
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                    ;
            });
            //if (this.value.length == 10) event.preventDefault();
        });

        $('#tblNouhinBS').on('keypress', '#DeliverAmount', function (e) {  // check Maxlength for 今回納品数
            if (this.value.length == 10) event.preventDefault();
        });

        function storeTblValues() {
            var TableData = new Array();
            $('#tblNouhinBS tr').each(function (row, tr) {
                    TableData[row] = {
                        "checkval": $(tr).find('#chk').val()
                        , "ProjectCD": $(tr).find('#Projectcd').text()
                        , "HinbanCD": $(tr).find('#Hinbancd').text()
                        , "Production": $(tr).find('#Production').val()
                        , "SumDeliveryAmount": $(tr).find('#SumDeliveryAmount').val()
                        , "DeliverAmount": $(tr).find('#DeliverAmount').val()
                        , "UNDelivertimes": $(tr).find('#UNDelivertimes').val()
                    }
            });
            TableData.shift();  // first row will be empty - so remove
            return TableData;

        }

        //Insert,Update,Delete
        function DoProcess() {

            var tb = storeTblValues();
            var data = JSON.stringify(tb);

             var TnModel = {
                 DeliveryStartDate: $("#DeliDate").val(),
                 Remarks: $("#Remarks").val(),
                 TableData: data,
                 Mode:'@Model.Mode'
            };
            var data = CalltoApiController('@Url.Action("M_NouhinBS_Insert", "api/Touroku_NouhinApi")', TnModel);
            ShowSuccessMessage(data,'@Url.Action("Touroku_NouhinList", "Touroku_Nouhin")?Year=' + '@Model.Year' + '&Season=' + '@Model.Season' + '&BrandCD=' + '@Model.BrandCD' + '&BrandName=' + '@Model.BrandName' + '&ProjectCD1=' + '@Model.ProjectCD1' + '&ProjectName=' + '@Model.ProjectName' + '&HinbanCD=' + '@Model.HinbanCD' + '&HinbanName=' + '@Model.HinbanName' + '&DeliveryStartDate=' + '@Model.DeliveryStartDate' + '&DeliveryEndDate=' + '@Model.DeliveryEndDate' + '&DeliveryStatus=' + '@Model.DeliveryStatus' + '&flg=' + '@Model.flg' );
        }

        //save
        function btnSaveClick() {
            var isChecked = false;
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var res1 = DateCompareCheckOnSave();
                if (res1 == "0") {
                    var res2 = FiscalDateCheckOnSave();
                    if (res2 == "0") {
                        $('#tblNouhinBS tr:has(td)').find('input[type="checkbox"]').each(function () {
                            if ($(this).prop("checked") == true)
                                isChecked = true;
                        });
                        if (isChecked == true) {

                            DoProcess();
                        }
                        else {
                            ShowErrorMessage("E111");
                        }
                    }
                    else {
                        $("#DeliDate").focus();
                        ShowErrorMessage(res2);
                    }
                }
                else {
                    $("#PeriodEnd").focus();
                    ShowErrorMessage(res1);
                }

            }
            else
                ShowErrorMessage(res);

        }

        function AllSearch() {
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var res1 = DateCompareCheckOnSave();
                if (res1 == "0") {
                    var res2 = FiscalDateCheckOnSave();
                    if (res2 == "0") {
                       ShowData();
                    }
                    else {
                        $("#DeliDate").focus();
                        ShowErrorMessage(res2);
                    }
                }
                else {
                    $("#PeriodEnd").focus();
                    ShowErrorMessage(res1);
                }
            }
            else
                ShowErrorMessage(res);
        }

        function AllCheck() {  // 全選択
            $('#tblNouhinBS tr:has(td)').find('input[type="checkbox"]').each(function () {
                $(this).val('true');
            });
            $('#tblNouhinBS tbody input[type="checkbox"]').prop('checked', true);
        }

        function AllUnCheck() {  // 全解除
            $('#tblNouhinBS tr:has(td)').find('input[type="checkbox"]').each(function () {
                $(this).val('false');
            });
            $('#tblNouhinBS tbody input[type="checkbox"]').prop('checked', false);
        }

        function btnCancelClick() {
            location.href = '@Url.Action("Touroku_NouhinList", "Touroku_Nouhin")?Year=' + '@Model.Year' + '&Season=' + '@Model.Season' + '&BrandCD=' + '@Model.BrandCD' + '&BrandName=' + '@Model.BrandName' + '&ProjectCD1=' + '@Model.ProjectCD1' + '&ProjectName=' + '@Model.ProjectName' + '&HinbanCD=' + '@Model.HinbanCD' + '&HinbanName=' + '@Model.HinbanName' + '&DeliveryStartDate=' + '@Model.DeliveryStartDate' + '&DeliveryEndDate=' + '@Model.DeliveryEndDate'+ '&DeliveryStatus=' + '@Model.DeliveryStatus' +'&flg=' + '@Model.flg';
        }

        $('#btnCancel').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code == 9) {
                if (e.shiftKey) {
                    //Focus previous input
                    if (thisTab == startIndex) {
                        $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                        return false;
                    }
                    else {
                        e.preventDefault();
                    }
                }
                e.preventDefault();
            }
        });

    </script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/Search.js")"></script>
}
