@model Models.TourokuProjectModel
@{
    ViewBag.Title = "TourokuHinban_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-3 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            @*<div class="col-sm-1 col-md-12 col-lg-1"></div>*@
            <div class="col-sm-1 col-md-12 col-lg-12">
                <div>
                    <h2 class=" hr-text text-center">品番登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:112px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                プロジェクト
                            </label>
                            <input type="text" tabindex="1" class="text-line col-sm-12 col-md-12 col-lg-3 text-left" onkeydown="KeyDown(event,this,'ProjectCheck')" id="proCD" name="ProjectCD" maxlength="15" required placeholder="入力" style="width:110px;">&nbsp;
                            <input type="button" id="btnProjectSearch" value="..." onclick="Search(6)" />
                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-6 text-left" onkeydown="KeyDown(event,this)" id="proName" name="ProjectName" maxlength="60" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:106px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                年度/シーズン
                            </label>
                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-3 text-left" onkeydown="KeyDown(event,this)" id="Year" name="Year" maxlength="4" required placeholder="入力">&nbsp;

                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-3 text-left" onkeydown="KeyDown(event,this)" id="Season" name="Season" maxlength="4" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:144px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                ブランド
                            </label>
                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this)" id="BrandCD" name="BrandCD" maxlength="20" required placeholder="入力">&nbsp;

                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-7 text-left" onkeydown="KeyDown(event,this)" id="BrandName" name="BrandName" maxlength="40" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:138px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label style="padding-right:5px;">予定期間</label>
                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-3 text-left" onkeydown="KeyDown(event,this)" id="StartDate" name="StartDate" maxlength="7" required placeholder="入力">
                            &nbsp;~&nbsp;
                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-3 text-left" onkeydown="KeyDown(event,this)" id="EndDate" name="EndDate" maxlength="7" required placeholder="入力">

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:85px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                総生産数/総金額
                            </label>
                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-4 text-right" onkeydown="KeyDown(event,this)" id="totalProNo" name="totalProNo" maxlength="10" required placeholder="入力">&nbsp;

                            <input type="text" tabindex="-1" class="text-line col-sm-12 col-md-12 col-lg-4 text-right" onkeydown="KeyDown(event,this)" id="totalamount" name="totalamount" maxlength="10" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:132px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                品番/色数
                            </label>

                            <input type="text" tabindex="2" class="text-line col-sm-12 col-md-12 col-lg-2 text-left" onkeydown="KeyDown(event,this)"
                                   id="HinbanCD" name="HinbanCD" maxlength="6" required placeholder="入力" style="width:73px;">
                            <input type="button" id="btnHinbanSearch" value="..." onclick="Search(3)" />
                            <input type="text" tabindex="3" class="text-line col-sm-12 col-md-12 col-lg-8 text-left" onkeydown="KeyDown(event,this)" id="HinbanName" name="HinbanName" maxlength="60" required placeholder="入力">
                            <label id="proCD1" hidden></label><label id="hCD" hidden></label>
                            <input type="text" tabindex="4" class="text-line col-sm-12 col-md-12 col-lg-1 text-right input-numeral14" onkeydown="KeyDown(event,this)" id="Color" name="Color" maxlength="2" required placeholder="入力" style="width:45px;">
                        </div>

                    </div>
                </div>

                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:66px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                生産数/累計納品数
                            </label>
                            <input type="text" tabindex="5" class="text-line col-sm-12 col-md-12 col-lg-4 text-right input-numeral3" onkeydown="KeyDown(event,this,'CheckProduction')" id="Production" name="Production" maxlength="10" required placeholder="入力">&nbsp;

                            <input type="text" tabindex="6" class="text-line col-sm-12 col-md-12 col-lg-4 text-right" onkeydown="KeyDown(event,this)" id="DeliverNo" name="DeliverNo" maxlength="10" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:81px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                予定単価/総金額
                            </label>
                            <input type="text" tabindex="7" class="text-line col-sm-12 col-md-12 col-lg-4 text-right input-numeral4" onkeydown="KeyDown(event,this,'CalculateTotalAmt')" id="saleprice" name="saleparice" maxlength="10" required placeholder="入力">&nbsp;

                            <input type="text" tabindex="8" class="text-line col-sm-12 col-md-12 col-lg-4 text-right" onkeydown="KeyDown(event,this)" id="Amount" name="Amount" maxlength="10" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12" style="padding-left:166px;">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right:5px;">金型</label>
                            <input type="text" tabindex="9" class="text-line col-sm-12 col-md-12 col-lg-4 text-left" onkeydown="KeyDown(event,this)" id="CastingCD" name="CastingCD" maxlength="10" required placeholder="入力">&nbsp;
                            <input type="button" id="btnKanagataSearch" value="..." onclick="Search(4)" />
                            <input type="text" tabindex="10" class="text-line col-sm-12 col-md-12 col-lg-6 text-left" onkeydown="KeyDown(event,this)" id="CastingName" name="CastingName" maxlength="40" required placeholder="入力">

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label id="text" style="padding-right: 5px;">
                                自由配賦項目/配賦用固定値
                            </label>
                            <input type="text" tabindex="11" class="text-line col-sm-12 col-md-12 col-lg-3 text-left" onkeydown="KeyDown(event,this)" id="freeitem1" name="freeitem1" maxlength="10" required placeholder="入力">&nbsp;

                            <input type="text" tabindex="12" class="text-line col-sm-12 col-md-12 col-lg-3 text-left input-numeral13" onkeydown="KeyDown(event,this)" id="freeitem2" name="freeitem2" maxlength="4" required placeholder="入力">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" tabindex="13" onclick="btnSaveClick()" class="btn btn-dark col-xl-3 text-center">登録</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" tabindex="14" onclick="btnCancelClick()" class="btn btn-primary col-xl-3 text-center">戻る</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-12 col-md-3"></div>*@
        </div>
    </div>
</div>
@Html.Partial("~/Views/Search/SearchBase.cshtml")

@section Scripts{
    <script src="@Url.Content("~/ElaAdmin/assets/js/Search.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/Hinban.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/Kanagata.js")"></script>
    <script src="@Url.Content("~/ElaAdmin/assets/js/Project.js")"></script>
    <script type="text/javascript">
        var Mode = '@Model.Mode';
        $(document).ready(function () {
            $("#formtitle").text("品番登録");

            $("#ProjectName").attr('disabled', 'disabled');
            $("#Year").attr('disabled', 'disabled');
            $("#Season").attr('disabled', 'disabled');
            $("#BrandCD").attr('disabled', 'disabled');
            $("#BrandName").attr('disabled', 'disabled');
            $("#StartDate").attr('disabled', 'disabled');
            $("#EndDate").attr('disabled', 'disabled');
            $("#totalProNo").attr('disabled', 'disabled');
            $("#totalamount").attr('disabled', 'disabled');
            $("#DeliverNo").attr('disabled', 'disabled');
            $("#Amount").attr('disabled', 'disabled');
            //$("#CastingName").attr('disabled', 'disabled');

            
            if (Mode == 'New') {
                $('#btnSave').html('登録');

                $("#proCD").focus();
                RequiredCheck($("#proCD"));
                DoubleByteCheck($("#proCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#proCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "proName");

                RequiredCheck($("#HinbanCD"));
                DoubleByteCheck($("#HinbanCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                RequiredCheck($("#HinbanName"));

                RequiredCheck($("#Production"));
                LessthanZeroCheck($("#Production"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                RequiredCheck($("#saleprice"));
                LessthanZeroCheck($("#saleprice"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                DoubleByteCheck($("#CastingCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName");

            }
            else if (Mode == 'Edit') {
                ShowData();
                $("#hCD").val($("#HinbanCD").val());
                $('#btnSave').html('更新');
                $("#HinbanCD").focus();

                $("#proCD").attr('disabled', 'disabled');
                $("#proName").attr('disabled', 'disabled');
                $("#btnProjectSearch").attr('disabled', 'disabled');
                //$("#HinbanCD").attr('disabled', 'disabled');
                //$("#HinbanName").attr('disabled', 'disabled');
                $("#DeliverNo").attr('disabled', 'disabled');
                $("#CastingName").attr('disabled', 'disabled');

                DoubleByteCheck($("#proCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#proCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "proName");

                RequiredCheck($("#HinbanName"));

                RequiredCheck($("#Production"));
                LessthanZeroCheck($("#Production"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                RequiredCheck($("#saleprice"));
                LessthanZeroCheck($("#saleprice"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                DoubleByteCheck($("#CastingCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName");

            }

            else if (Mode == 'Copy') {
                ShowData();
                $('#btnSave').html('登録');
                $("#btnProjectSearch").attr('disabled', 'disabled');
                $("#proCD").attr('disabled', 'disabled');
                $("#proName").attr('disabled', 'disabled');
                $("#DeliverNo").attr('disabled', 'disabled');
                $("#Year").attr('disabled', 'disabled');
                $("#Season").attr('disabled', 'disabled');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#BrandName").attr('disabled', 'disabled');
                $("#StartDate").attr('disabled', 'disabled');
                $("#EndDate").attr('disabled', 'disabled');
                $("#totalProNo").attr('disabled', 'disabled');
                $("#totalamount").attr('disabled', 'disabled');
                $("#HinbanCD").focus();
                //$("#proCD").focus();
                //$("#HinbanCD").focus();
                DoubleByteCheck($("#proCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                //$("#CastingName").attr('disabled', 'disabled');
                ExistsCheck($("#proCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "proName");

                RequiredCheck($("#HinbanCD"));
                DoubleByteCheck($("#HinbanCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                AlreadyExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', $("#proCD").val());

                RequiredCheck($("#HinbanName"));

                RequiredCheck($("#Production"));
                LessthanZeroCheck($("#Production"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                RequiredCheck($("#saleprice"));
                LessthanZeroCheck($("#saleprice"), '@Url.Action("LessthanZero_Checking", "api/CommonApi")');

                DoubleByteCheck($("#CastingCD"), '@Url.Action("DoubleByte_Checking", "api/CommonApi")');
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName");

            }
            else if (Mode == 'Delete') {
                $('#btnSave').html('削除');
                ShowData();
                $("#proCD").attr('disabled', 'disabled');
                $("#proName").attr('disabled', 'disabled');
                $("#HinbanCD").attr('disabled', 'disabled');
                $("#HinbanName").attr('disabled', 'disabled');
                $("#Color").attr('disabled', 'disabled');
                $("#Production").attr('disabled', 'disabled');
                $("#DeliverNo").attr('disabled', 'disabled');
                $("#saleprice").attr('disabled', 'disabled');
                $("#Amount").attr('disabled', 'disabled');
                $("#CastingCD").attr('disabled', 'disabled');
                $("#CastingName").attr('disabled', 'disabled');
                $("#freeitem1").attr('disabled', 'disabled');
                $("#freeitem2").attr('disabled', 'disabled');
                $("#btnProjectSearch").attr('disabled', 'disabled');
                $("#btnHinbanSearch").attr('disabled', 'disabled');
                $("#btnKanagataSearch").attr('disabled', 'disabled');

                $("#btnSave").focus();

            }

            $("#divSearch").iziModal({
                top: 50,
                width: "80%",
                overlayClose: false,
                zindex: 1000,
            });
        });

        function ProjectCheck(result) {
            if (result == 'OK') {
                AlreadyExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', $("#proCD").val());
                ShowProjectData();
            }
            else {
                $("#proName").val('');
                $("#Year").val('');
                $("#Season").val('');
                $("#BrandCD").val('');
                $("#BrandName").val('');
                $("#StartDate").val('');
                $("#EndDate").val('');
                $("#totalProNo").val('');
                $("#totalamount").val('');
            }
        }

        function ShowProjectData() {
            //AlreadyExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', $("#proCD").val());
            var Tmodel = {
                ProjectCD: $('#proCD').val(),
            };
            var data = CalltoApiController('@Url.Action("M_Hinban_Check_List", "api/TourokuProjectApi")', Tmodel);
            var hbdata = JSON.parse(data);
            $("#proCD").val(hbdata[0].ProjectCD);
            $("#proName").val(hbdata[0].ProjectName);
            $("#Year").val(hbdata[0].Year);
            $("#Season").val(hbdata[0].Season);
            $("#BrandCD").val(hbdata[0].BrandCD);
            $("#BrandName").val(hbdata[0].BrandName);
            $("#StartDate").val(hbdata[0].PeriodStart);
            $("#EndDate").val(hbdata[0].PeriodEnd);
            $("#totalProNo").val(hbdata[0].TotalProduction);
            $("#totalamount").val(hbdata[0].TotalSP);
            //$("#DeliverNo").val(hbdata[0].TotalDeliveryAmount);
            //$("#Amount").val(hbdata[0].TotalSP);


            
        }

    function CalculateTotalAmt(result) {
        if (result == 'OK') {
            if ($('#saleprice').val() && $('#Production').val()) {
                var result = parseInt($('#Production').val().replace(",", "")) * parseInt($('#saleprice').val().replace(",", ""));
                $('#Amount').val(result.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            }
        }
    }

        function CheckProduction(result) {
            if (result == 'OK') {
                var pro = $('#Production').val();
                var del = $('#DeliverNo').val();
                var Production = pro.replace(",", "");
                Production = parseInt(Production);
                var DeliverNo = del.replace(",", "");
                DeliverNo = parseInt(DeliverNo);

                if (Production < DeliverNo) {
                    $('#Production').focus();
                    ShowErrorMessage("E125");
                }
                else {
                    $('#saleprice').focus();
                }
            }
        }

        function CheckProductionOnSave() {
            if (!($('#Production').val().trim()) == '') {
                var pro = $('#Production').val();
                var del = $('#DeliverNo').val();
                var Production = pro.replace(",", "");
                Production = parseInt(Production);
                var DeliverNo = del.replace(",", "");
                DeliverNo = parseInt(DeliverNo);

                if (Production < DeliverNo) {
                    $('#Production').focus();
                    return "E125";
                }
                else {
                    return "0";
                }
            }
        }

        function GetSearchData() {
            ExistsCheck($("#divMainList #HLHinbanCD"), "Hinban", $("#divMainList #HLHinbanCD").data('existcheck-url'), "HinbanName", $("#proCD").val());
            var Tmodel = {
                HinbanCD: $("#HinbanCD").val(),
                ProjectCD: $("#proCD1").val()

            };
            var data = CalltoApiController('@Url.Action("M_HinBan_Select_Edit", "api/TourokuProjectApi")', Tmodel);
            var hinbandata = JSON.parse(data);
            if (Mode == 'Edit') {
                $("#Production").val(hinbandata[0].Production);
                $("#saleprice").val(hinbandata[0].SalesPrice);
                $("#DeliverNo").val(hinbandata[0].TotalDeliveryAmount);
                $("#Amount").val(hinbandata[0].SP);
                $("#CastingCD").val(hinbandata[0].CastingCD);
                $("#CastingName").val(hinbandata[0].CastingName);
                $("#Color").val(hinbandata[0].Color);
                $("#freeitem1").val(hinbandata[0].FreeItem1);
                $("#freeitem2").val(hinbandata[0].FreeItem2);
                $("#HinbanCD").val($("#hCD").val());
            } else {
                $("#HinbanCD").val(hinbandata[0].HinbanCD);
                $("#HinbanName").val(hinbandata[0].HinbanName);
                $("#Production").val(hinbandata[0].Production);
                $("#saleprice").val(hinbandata[0].SalesPrice);
                if (Mode == 'New' || Mode == 'Copy') $("#DeliverNo").val(0);
                else $("#DeliverNo").val(hinbandata[0].TotalDeliveryAmount);
                $("#Amount").val(hinbandata[0].SP);
                $("#CastingCD").val(hinbandata[0].CastingCD);
                $("#CastingName").val(hinbandata[0].CastingName);
                $("#Color").val(hinbandata[0].Color);
                $("#freeitem1").val(hinbandata[0].FreeItem1);
                $("#freeitem2").val(hinbandata[0].FreeItem2);
            }
            
        }

         function ShowData() {
            var Tmodel = {
                HinbanCD: '@Model.HinbanCD',
                ProjectCD: '@Model.ProjectCD'

            };

            var data = CalltoApiController('@Url.Action("M_HinBan_Select_Edit", "api/TourokuProjectApi")', Tmodel);
            var hinbandata = JSON.parse(data);
             $("#proCD").val(hinbandata[0].ProjectCD);
             $("#proName").val(hinbandata[0].ProjectName);
            $("#Season").val(hinbandata[0].Season);
            $("#Year").val(hinbandata[0].Year);
            $("#BrandCD").val(hinbandata[0].BrandCD);
            $("#BrandName").val(hinbandata[0].BrandName);
            $("#StartDate").val(hinbandata[0].PeriodStart);
            $("#EndDate").val(hinbandata[0].PeriodEnd);
            $("#Production").val(hinbandata[0].Production);
            $("#saleprice").val(hinbandata[0].SalesPrice);
            $("#totalProNo").val(hinbandata[0].TotalProduction);
            $("#totalamount").val(hinbandata[0].TotalSP);
            $("#HinbanCD").val(hinbandata[0].HinbanCD);
             $("#HinbanName").val(hinbandata[0].HinbanName);
             if (Mode == 'Copy') $("#DeliverNo").val(0);
             else $("#DeliverNo").val(hinbandata[0].TotalDeliveryAmount);
             $("#Amount").val(hinbandata[0].SP);
            $("#CastingCD").val(hinbandata[0].CastingCD);
            $("#CastingName").val(hinbandata[0].CastingName);
            $("#Color").val(hinbandata[0].Color);
            $("#freeitem1").val(hinbandata[0].FreeItem1);
            $("#freeitem2").val(hinbandata[0].FreeItem2);

        }

        function btnSaveClick() {
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var Mode = '@Model.Mode';
                //show confirm message
                if (Mode == "Delete") {
                    var res1 = ErrorCheckBreforeDelete();
                    if (res1 == "0") {
                        ShowConfirmMessage("Q102", "DeleteConfrim");
                        DoProcess();
                    }
                    else {
                        ShowErrorMessage(res1);
                    }
                }
                else {
                    var res2 = CheckProductionOnSave();
                    if (res2 == "0") {
                        CalculateTotalAmt('OK');
                        DoProcess();
                    }
                    else
                        ShowErrorMessage(res2);
                }
            }
            else
                ShowErrorMessage(res);
        }

        //insert,update
        function DoProcess() {
            @*var Mode = '@Model.Mode';
            if (Mode == 'Delete') {
                var cost = DCost_Check();
                if (cost == "E119") {
                    ShowErrorMessage("E119");
                }
                else {
                    var delivery = D_Delivery_Check();
                    if (delivery == "E126") {
                        ShowErrorMessage("E126");
                    }
                    else {
                        var Tmodel = {
                            HinbanCD: $("#HinbanCD").val(),
                            ProjectCD: $("#ProjectCD").val(),
                            Mode: '@Model.Mode'
                        };
                        var data = CalltoApiController('@Url.Action("Hinban_CUD", "api/TourokuProjectApi")', Tmodel);
                        ShowSuccessMessage(data, '@Url.Action("TourokuHinban_List", "TourokuProject")');
                    }
                }
            }
            else {*@
                 var Tmodel = {
                     ProjectCD: $("#proCD").val(),
                    HinbanCD: $("#HinbanCD").val(),
                    HinbanName: $("#HinbanName").val(),
                    Color: $("#Color").val(),
                    CastingCD: $("#CastingCD").val(),
                    Production: $("#Production").val(),
                    SalePrice: $("#saleprice").val(),
                    FreeItem1: $("#freeitem1").val(),
                    //FreeItem2: $("#freeitem2").val(),

                    Mode: '@Model.Mode'
            };
            if (!$("#freeitem2").val())
                Tmodel.FreeItem2 = 0;
            else Tmodel.FreeItem2 = $("#freeitem2").val();

            var data = CalltoApiController('@Url.Action("Hinban_CUD", "api/TourokuProjectApi")', Tmodel);
            ShowSuccessMessage(data, '@Url.Action("TourokuHinban_List", "TourokuProject")?ProjectCD1=' + '@Model.ProjectCD1' + '&ProjectName=' + '@Model.ProjectName' + '&BrandCD1=' + '@Model.BrandCD1' + '&BrandName=' + '@Model.BrandName' + '&StartDate=' + '@Model.startDate' + '&EndDate=' + '@Model.endDate' + '&Year=' + '@Model.Year' + '&Season=' + '@Model.Season' + '&Production=' + '@Model.Production' + '&TotalAmount=' + '@Model.TotalAmount' + '&HinbanCD1=' + '@Model.HinbanCD1' + '&HinbanName=' + '@Model.HinbanName' + '&CastingCD=' + '@Model.CastingCD' + '&CastingName=' + '@Model.CastingName' + '&StartPrice=' + '@Model.StartPrice' + '&EndPrice=' + '@Model.EndPrice' + '&CompleteYM=' + '@Model.CompleteYM' + '&flg=' + '@Model.flg');
            //}

        }

        function DeleteConfrim() {
            DoProcess();
        }

        @*function DCost_Check() {
            var Tmodel = {
                 HinbanCD: $("#HinbanCD").val(),
                 ProjectCD: $("#ProjectCD").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Hinban_DCost_Check", "api/TourokuProjectApi")', Tmodel);
            var checkdata = JSON.parse(data);
            if (checkdata[0].MessageID == 'E119') {
                return checkdata[0].MessageID;
            }
            else {
                return checkdata[0].MessageID;
            }
        }

        function D_Delivery_Check() {
            var Tmodel = {
                 HinbanCD: $("#HinbanCD").val(),
                 ProjectCD: $("#ProjectCD").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Hinban_D_Delivery_Check", "api/TourokuProjectApi")', Tmodel);
            var checkdata = JSON.parse(data);
            if (checkdata[0].MessageID == 'E126') {
                return checkdata[0].MessageID;
            }
            else {
                return checkdata[0].MessageID;
            }
        }*@

     function ErrorCheckBreforeDelete() {
        var Tmodel = {
            ProjectCD: $("#proCD").val(),
            HinbanCD: $("#HinbanCD").val()
        };
        var data = CalltoApiController('@Url.Action("D_Cost_ExistsDeleteCheck", "api/TourokuProjectApi")', Tmodel);
        var costcheck = JSON.parse(data);
            if (costcheck[0].MessageID == "E119") {
                return "E119";
            }
            else {
                   var data = CalltoApiController('@Url.Action("D_Devliery_ExistsDeleteCheck", "api/TourokuProjectApi")', Tmodel);
                   var deliverycheck = JSON.parse(data);
                    if (deliverycheck[0].MessageID == "E126") {
                        return "E126";
                    }
                   else {
                           return "0";
                    }
           }
        return "0";
    }

     function btnCancelClick() {
         location.href = '@Url.Action("TourokuHinban_List", "TourokuProject")?ProjectCD1=' + '@Model.ProjectCD1' + '&ProjectName=' + '@Model.ProjectName' + '&BrandCD1=' + '@Model.BrandCD1' + '&BrandName=' + '@Model.BrandName' + '&StartDate=' + '@Model.startDate' + '&EndDate=' + '@Model.endDate' + '&Year=' + '@Model.Year' + '&Season=' + '@Model.Season' + '&Production=' + '@Model.Production' + '&TotalAmount=' + '@Model.TotalAmount' + '&HinbanCD1=' + '@Model.HinbanCD1' + '&HinbanName=' + '@Model.HinbanName' + '&CastingCD=' + '@Model.CastingCD' + '&CastingName=' + '@Model.CastingName' + '&StartPrice=' + '@Model.StartPrice' + '&EndPrice=' + '@Model.EndPrice' + '&CompleteYM=' + '@Model.CompleteYM' + '&flg=' + '@Model.flg';
     }

    $('#btnCancel').keydown(function (e) {
        var code = e.keyCode || e.which;
        if (code == 9) {
            if (e.shiftKey) {
                //Focus previous input
                if (thisTab == startIndex) {
                    $("." + tabLimitInID).find('[tabindex=' + lastIndex + ']').focus();
                    return false;
                }
                else {
                    e.preventDefault();
                }
            }
            e.preventDefault();
        }
    });

    </script>
}