@model Models.TourokuProjectModel
@{
    ViewBag.Title = "TourokuHinban_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div>
                    <h2 class=" hr-text text-center">品番登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="1" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this,'ProjectCheck')" id="ProjectCD" name="ProjectCD" maxlength="10" required placeholder="プロジェクトコード">

                            <input type="text" tabindex="2" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="ProjectName" name="ProjectName" maxlength="60" required placeholder="プロジェクト名">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="3" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Year" name="Year" maxlength="4" required placeholder="年度">

                            <input type="text" tabindex="4" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Season" name="Season" maxlength="4" required placeholder="シーズン">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="5" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="BrandCD" name="BrandCD" maxlength="20" required placeholder="ブランドコード">

                            <input type="text" tabindex="6" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="BrandName" name="BrandName" maxlength="40" required placeholder="ブランド名">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label style="padding:initial;width: 130px;">予定期間</label>

                            <input type="text" tabindex="7" class="text-line col-xl-3" onkeydown="KeyDown(event,this)" id="StartDate" name="StartDate" maxlength="7" required>
                            <label class="col-xl-1">~</label>
                            <input type="text" tabindex="8" class="text-line col-xl-3" onkeydown="KeyDown(event,this)" id="EndDate" name="EndDate" maxlength="7" required>

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="9" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="totalProNo" name="totalProNo" maxlength="10" required placeholder="総生産数">

                            <input type="text" tabindex="10" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="totalamount" name="totalamount" maxlength="10" required placeholder="総金額">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">

                            <input type="text" tabindex="11" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this)" id="HinbanCD" name="HinbanCD" maxlength="10" required placeholder="品番コード">
                            <input type="text" tabindex="12" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="HinbanName" name="HinbanName" maxlength="60" required placeholder="品番名">
                            <input type="text" tabindex="13" class="text-line col-xl-2 text-left" onkeydown="KeyDown(event,this)" id="Color" name="Color" maxlength="5" required placeholder="色数">
                        </div>

                    </div>
                </div>
              
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="14" class="text-line col-xl-5 text-left input-numeral3" onkeydown="KeyDown(event,this,'CheckProduction')" id="Production" name="Production" maxlength="10" required placeholder="生産数">

                            <input type="text" tabindex="15" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="DeliverNo" name="DeliverNo" maxlength="10" required placeholder="累計納品数">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="16" class="text-line col-xl-5 text-left input-numeral4" onkeydown="KeyDown(event,this)" id="saleprice" name="saleparice" maxlength="7" required placeholder="予定単価">

                            <input type="text" tabindex="17" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Amount" name="Amount" maxlength="10" required placeholder="総金額">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label class="col-xl-2" style="padding:initial;">金型</label>
                            <input type="text" tabindex="18" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this)" id="CastingCD" name="CastingCD" maxlength="20" required>
                            <input type="text" tabindex="19" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this)" id="CastingName" name="CastingName" maxlength="40" required>

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="20" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="freeitem1" name="freeitem1" maxlength="10" required placeholder="自由配賦項目">

                            <input type="text" tabindex="21" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="freeitem2" name="freeitem2" maxlength="4" required placeholder="配賦用固定値">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" tabindex="22" onclick="btnSaveClick()" class="btn btn-dark col-xl-4 text-center">登録</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" tabindex="23" onclick="btnCancelClick()" class="btn btn-primary col-xl-4 text-center">戻る</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var Mode = '@Model.Mode'; 
            if (Mode == 'New') {
                $('#btnSave').html('登録');
             
                RequiredCheck($("#HinbanCD"));
              
                @*ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");*@
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName");
                ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");
                YearMonthCheck($("#StartDate"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
                YearMonthCheck($("#EndDate"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
                LessthanZeroCheck($("#Production"), "Production", '@Url.Action("Production_LessthanCheck", "api/TourokuProjectApi")');
                LessthanZeroCheck($("#saleprice"), "SalePrice", '@Url.Action("SalePrice_LessthanCheck", "api/TourokuProjectApi")');

            }
            else if (Mode == 'Edit') {
                $('#btnSave').html('更新');
                ShowData();

                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName");
                ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");
                YearMonthCheck($("#StartDate"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
                YearMonthCheck($("#EndDate"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
                LessthanZeroCheck($("#Production"), "Production", '@Url.Action("Production_LessthanCheck", "api/TourokuProjectApi")');
                LessthanZeroCheck($("#saleprice"), "SalePrice", '@Url.Action("SalePrice_LessthanCheck", "api/TourokuProjectApi")');

                $("#ProjectCD").attr('disabled', 'disabled');
                $("#HinbanCD").attr('disabled', 'disabled');
                $("#ProjectName").attr('disabled', 'disabled');
                $("#HinbanName").attr('disabled', 'disabled');
            }

            else if (Mode == 'Copy') {
                $('#btnSave').html('更新');
                ShowData();
                RequiredCheck($("#HinbanCD"));
                ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName");
                ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");
                YearMonthCheck($("#StartDate"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
                YearMonthCheck($("#EndDate"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
                LessthanZeroCheck($("#Production"), "Production", '@Url.Action("Production_LessthanCheck", "api/TourokuProjectApi")');
                LessthanZeroCheck($("#saleprice"), "SalePrice", '@Url.Action("SalePrice_LessthanCheck", "api/TourokuProjectApi")');
                 AlreadyExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', $("#ProjectCD").val());
            }
            else if (Mode == 'Delete') {
                $('#btnSave').html('削除');
                $("#ProjectCD").attr('disabled', 'disabled');
                $("#ProjectName").attr('disabled', 'disabled');
                $("#Year").attr('disabled', 'disabled');
                $("#Season").attr('disabled', 'disabled');
                $("#BrandCD").attr('disabled', 'disabled');
                $("#BrandName").attr('disabled', 'disabled');
                $("#StartDate").attr('disabled', 'disabled');
                $("#EndDate").attr('disabled', 'disabled');
                $("#totalProNo").attr('disabled', 'disabled');
                $("#totalamount").attr('disabled', 'disabled');
                $("#HinbanCD").attr('disabled', 'disabled');
                $("#HinbanName").attr('disabled', 'disabled');
                $("#Color").attr('disabled', 'disabled');
                $("#Production").attr('disabled', 'disabled');
                $("#DeliverNo").attr('disabled', 'disabled');
                $("#saleprice").attr('disabled', 'disabled');
                $("#Amount").attr('disabled', 'disabled');
                $("#CastingCD").attr('disabled', 'disabled');
                $("#CastingName").attr('disabled', 'disabled');
                $("#freeitem1").attr('disabled', 'disabled');
                $("#freeitem2").attr('disabled', 'disabled');
                $("#btnSave").focus();
                ShowData();
            }
        });

        function ProjectCheck(result) {
            if (result == 'OK') {
                RequiredCheck($("#HinbanCD"));
                AlreadyExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinban_ProjectExistCheck", "api/TourokuProjectApi")', $("#ProjectCD").val());
                prjCheck();
            }
        }

        function CheckProduction(result) {
            if (result == 'OK') {
                var pro = $('#Production').val();
                var del = $('#DeliverNo').val();
                var Production = parseInt(pro);
                var DeliverNo = parseInt(del);
                if (Production < DeliverNo) {
                    ShowErrorMessage("E125");
                }
            }
        }

        function btnSaveClick() {
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var Mode = '@Model.Mode';
                //show confirm message
                if (Mode == "Delete") {
                    ShowConfirmMessage("Q102", "DeleteConfrim");
                }
                else {
                 
                    DoProcess();
                }
            }
            else
                ShowErrorMessage(res);
        }

        function ShowData() {

            var Tmodel = {
                HinbanCD: '@Model.HinbanCD',
                ProjectCD: '@Model.ProjectCD'

            };
            var data = CalltoApiController('@Url.Action("M_HinBan_Select_Edit", "api/TourokuProjectApi")', Tmodel);
            var hinbandata = JSON.parse(data);
            $("#ProjectCD").val(hinbandata[0].ProjectCD);
            $("#ProjectName").val(hinbandata[0].ProjectName);
            $("#Season").val(hinbandata[0].Season);
            $("#Year").val(hinbandata[0].Year);
            $("#BrandCD").val(hinbandata[0].BrandCD);
            $("#BrandName").val(hinbandata[0].BrandName);
            $("#StartDate").val(hinbandata[0].PeriodStart);
            $("#EndDate").val(hinbandata[0].PeriodEnd);
            $("#Production").val(hinbandata[0].Production);
            $("#saleprice").val(hinbandata[0].SalesPrice);
            $("#totalProNo").val(hinbandata[0].TotalProduction);
            $("#totalamount").val(hinbandata[0].TotalSalesPrice);
            $("#HinbanCD").val(hinbandata[0].HinbanCD);
            $("#HinbanName").val(hinbandata[0].HinbanName);
            $("#DeliverNo").val(hinbandata[0].DeliveryAmount);
            $("#CastingCD").val(hinbandata[0].CastingCD);
            $("#CastingName").val(hinbandata[0].CastingName);
            $("#Color").val(hinbandata[0].Color);
            $("#freeitem1").val(hinbandata[0].FreeItem1);
            $("#freeitem2").val(hinbandata[0].FreeItem2);

        }
        
        //insert,update
        function DoProcess() {
            var Mode = '@Model.Mode';
            if (Mode == 'New' || Mode == 'Edit' || Mode == 'Copy') {
                var Tmodel = {
                    ProjectCD: $("#ProjectCD").val(),
                    HinbanCD: $("#HinbanCD").val(),
                    HinbanName: $("#HinbanName").val(),
                    Color: $("#Color").val(),
                    CastingCD: $("#CastingCD").val(),
                    Production: $("#Production").val(),
                    SalePrice: $("#saleprice").val(),
                    FreeItem1: $("#freeitem1").val(),
                    FreeItem2: $("#freeitem2").val(),
                    
                    Mode: '@Model.Mode'
                };
                        var data = CalltoApiController('@Url.Action("Hinban_CUD", "api/TourokuProjectApi")', Tmodel);
                        ShowSuccessMessage(data, '@Url.Action("TourokuHinban_List", "TourokuProject")');
            }
            else if (Mode == 'Delete') {
                var cost = DCost_Check();
                if (cost == "E119") {
                    ShowErrorMessage("E119");
                }
                else {
                    var delivery = D_Delivery_Check();
                    if (delivery == "E126") {
                        ShowErrorMessage("E126");
                    }
                    else {
                        var Tmodel = {
                            HinbanCD: $("#HinbanCD").val(),
                            ProjectCD: $("#ProjectCD").val(),
                            Mode: '@Model.Mode'
                        };
                        var data = CalltoApiController('@Url.Action("Hinban_CUD", "api/TourokuProjectApi")', Tmodel);
                        ShowSuccessMessage(data, '@Url.Action("TourokuHinban_List", "TourokuProject")');
                    }
                }
            }
           
        }

        function DeleteConfrim() {
            DoProcess();
        }

        function DCost_Check() {
            var Tmodel = {
                 HinbanCD: $("#HinbanCD").val(),
                 ProjectCD: $("#ProjectCD").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Hinban_DCost_Check", "api/TourokuProjectApi")', Tmodel);
            var checkdata = JSON.parse(data); 
            if (checkdata[0].MessageID == 'E119') {
                return checkdata[0].MessageID;
            }
            else {
                return checkdata[0].MessageID;
            }
        }

        function D_Delivery_Check() {
            var Tmodel = {
                 HinbanCD: $("#HinbanCD").val(),
                 ProjectCD: $("#ProjectCD").val(),
            };
            var data = CalltoApiController('@Url.Action("M_Hinban_D_Delivery_Check", "api/TourokuProjectApi")', Tmodel);
            var checkdata = JSON.parse(data);
            if (checkdata[0].MessageID == 'E126') {
                return checkdata[0].MessageID;
            }
            else {
                return checkdata[0].MessageID;
            }
        }
     
        function btnCancelClick() {
            location.href = '@Url.Action("TourokuHinban_List", "TourokuProject")';
        }

        function prjCheck() {
            var Tmodel = {
                ProjectCD: $('#ProjectCD').val(),
                //HinbanCD: $('#HinbanCD').val(),
            };
            var data = CalltoApiController('@Url.Action("M_Hinban_Check_List", "api/TourokuProjectApi")', Tmodel);
            var hbdata = JSON.parse(data);
            $("#ProjectCD").val(hbdata[0].ProjectCD);
            $("#ProjectName").val(hbdata[0].ProjectName);
            $("#Year").val(hbdata[0].Year);
            $("#Season").val(hbdata[0].Season);
            $("#BrandCD").val(hbdata[0].BrandCD);
            $("#BrandName").val(hbdata[0].BrandName);
            $("#StartDate").val(hbdata[0].PeriodStart);
            $("#EndDate").val(hbdata[0].PeriodEnd);
            $("#totalProNo").val(hbdata[0].TotalProduction);
            $("#totalamount").val(hbdata[0].TotalSalesPrice);
            $("#DeliverNo").val(hbdata[0].DeliverNo);

        }

      
    </script>
   
}