@{
    ViewBag.Title = "TourokuProject_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @*<link rel="stylesheet" href="@Url.Content(" ~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}
<div class="card">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-sm-12">
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-12">
                        <button id="btnAdd" onclick="btnAddClick()" class="btn" tabindex="38" style="background-color:#1a8cff; color:azure; border:1px solid transparent; border-radius: 3px; margin-right: 20px;">
                            プロジェクト追加
                        </button>
                        <button id="btnnext" onclick="btnNextClick()" class="btn" tabindex="38" style="background-color:white; color:#1a8cff; border-radius:3px; border: 1px solid transparent; border-color:#1a8cff; margin-right: 20px;">
                            品番登録
                        </button>

                        <button id="btnCSV" onclick="btnCSVClick()" class="btn" tabindex="38" style="background-color:white; color:black; border-radius:3px; border: 1px solid transparent; border-color:black;">
                            CSV
                        </button>
                        <div id="registration" style="padding-top: 1.8rem!important;">
                            <div class="">
                                <h4 class=" hr-text text-center">経費設定登録</h4>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 24px;">ブランド名</label>
                                        <input type="text" tabindex="1" class="text-line text-left" id="BrandCD" name="brandcd" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:110px;">
                                        <input type="text" tabindex="2" class="text-line text-left" id="BrandName" name="brandname" maxlength="40" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:110px;">

                                    </div>
                                </div>
                            </div>

                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label class="text" style="padding-right:20px;">シーズン</label>
                                        <input type="checkbox" tabindex="3" id="Degreeyear" name="checkbox" checked>
                                        <label style="padding-right:50px;" >度年</label>
                                        <input type="checkbox" id="SS" name="checkbox">
                                        <label style="padding-right:50px;">SS</label>
                                        <input type="checkbox" id="FW" name="checkbox">
                                        <label>FW</label>

                                    </div>
                                </div>
                            </div>

                            <div class="pt-3 md-form" style="padding-top:0.5rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 73px;">年度</label>
                                        <input type="text" tabindex="4" class="text-line text-left" id="Year" name="year" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:220px;">
                                    </div>
                                </div>
                            </div>

                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 12px;">プロジェクト</label>
                                        <input type="text" tabindex="5" class="text-line text-left" id="ProjectCD" name="projectcd" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:105px;">
                                        <input type="text" tabindex="6" class="text-line text-left" id="ProjectName" name="projectname" maxlength="40" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:105px;">

                                    </div>
                                </div>
                            </div>

                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 38px;">予定期間</label>
                                        <input type="text" tabindex="7" class="text-line text-left" id="PeriodStart" name="periodstart" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:110px;">
                                        <input type="text" tabindex="8" class="text-line text-left" id="PeriodEnd" name="periodend" maxlength="40" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:110px;">

                                    </div>
                                </div>
                            </div>

                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label id="text" style="padding-right: 50px;">責任者</label>
                                        <input type="text" tabindex="9" class="text-line text-left" id="ProjectManager" name="projectmanager" maxlength="6" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:113px;">
                                        <input type="text" tabindex="10" class="text-line text-left" id="ProjectManagerName" name="projectmanagername" maxlength="40" onkeydown="KeyDown(event,this)" required placeholder="入力" style="width:113px;">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:0px; padding-top:2rem;">
                                <div class="text-s text-custom1 text-uppercase mb-1">
                                    <button id="btnSearch" tabindex="11" onclick="btnSearchClick()" class="btn btn-primary col-xl-5 text-center" style="background-color:#413839; color:azure;width:80px; height:35px; float:right;">検索</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="card-body card-block">
                <table id="tblProject" class="tb1 col-sm-12" style="margin-left:10px;">
                    <thead>
                        <tr>
                            <th>ブランドコード</th>
                            <th>ブランド名</th>
                            <th>シーズン</th>
                            <th>年度</th>
                        </tr>
                        <tr>
                            <th>プロジェクトコード</th>
                            <th>プロジェクト名</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>予定期間</th>
                            <th>予定期間</th>
                            <th>総生産数</th>
                            <th>総金額</th>
                        </tr>

                    </thead>
                    @*<tbody>
                        <tr>
                            <td>BrandCD</td>
                            <td>BrandName</td>
                            <td>Season</td>
                            <td>Year</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>ProjectCD</td>
                            <td>ProjectName</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>PeriodStart</td>
                            <td>PeriodEnd</td>
                            <td>TotalProduction</td>
                            <td>TotalSalesPrice</td>
                        </tr>
                    </tbody>*@
                </table>
                </div>
            </div>
        <div class="col xl-1"></div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#formtitle").text("プロジェクト検索");
        $("#BrandCD").focus();
         ExistsCheck($("#BrandCD"), "Brand", '@Url.Action("M_Brand_ExistsCheck", "api/BrandApi")', "BrandName");
         YearMonthCheck($("#Year"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
         ExistsCheck($("#ProjectCD"), "Project", '@Url.Action("M_Project_ExistsCheck", "api/TourokuProjectApi")', "ProjectName");
         YearMonthCheck($("#PeriodStart"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
         YearMonthCheck($("#PeriodEnd"), '@Url.Action("YearMonth_Checking", "api/CommonApi")');
         ExistsCheck($("#ProjectManager"), "User", '@Url.Action("M_User_ExistsCheck", "api/UserApi")', "ProjectManagerName");
        $("#BrandName").attr('disabled', 'disabled');
        $("#ProjectName").attr('disabled', 'disabled');
        $("#ProjectManagerName").attr('disabled', 'disabled');

        GetProject();
    });

         

        function btnSearchClick() {
            var degreeyear = $("#Degreeyear").is(":checked");
            var ss = $("#SS").is(":checked");
            var fw = $("#FW").is(":checked");
            if (!degreeyear && !ss && !fw) {
                var data = ShowErrorMessage("E111");
                return data;
            }
            else {
                var res = ErrorCheckOnSave();
                if (res == "0") {
                    GetProject()
                }
                else
                    ShowErrorMessage(res);
            }

        }

    function GetProject() {
        var Tmodel = {
            BrandCD: $('#BrandCD').val(),
            BrandName: $('#BrandName').val(),
            Year: $('#Year').val(),
            ProjectCD: $('#ProjectCD').val(),
            ProjectName: $('#ProjectName').val(),
            PeriodStart: $('#PeriodStart').val(),
            PeriodEnd: $('#PeriodEnd').val(),
            ProjectManager: $('#ProjectManager').val(),
            ProjectManagerName: $('#ProjectManagerName').val(),
        };

        if ($('#Degreeyear').is(':checked'))
            Tmodel.Season = "1";
        else if ($('#SS').is(':checked'))
            Tmodel.Season = "2";
        else Tmodel.Season = "3";

        $.ajax({
            type: "Post",
            url: "@Url.Action("M_Project_Select_List", "api/TourokuProjectApi")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(Tmodel),
            headers:
            {
                Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
            },
            success: function (response) {
                BindTable(response);
            }
        });
    }

    function BindTable(response) {
        table = $('#tblProject').DataTable({

            data: JSON.parse(response),
            "bFilter": false,
            "bLengthChange": false,
            "bInfo": false,
            //"bSort": false,
            destroy: true,
            "columns": [

                {
                    "data": null,
                    className: "Border1",
                    render: function (data, type, row) {
                        return '<b><label>' + data.BrandCD + '</label></b><br/><label>' + data.ProjectCD + '</label></b><br/><label>' + data.PeriodStart + '</label>';
                    }
                },
                {
                    "data": null,
                    className: "Border2",
                    render: function (data, type, row) {
                        return '<b><label>' + data.BrandName + '</label></b><br/><label>' + data.ProjectName + '</label></b><br/><label>' + data.PeriodEnd + '</label>';
                    }
                },
                {
                    "data": null,
                    className: "Border3",
                    render: function (data, type, row) {
                        return '<b><label>' + data.Season + '</label></b><br/><label>' + '' + '</label></b><br/><label>' + data.TotalProduction + '</label>';
                    } 
                },

                {
                    "data": null,
                    className: "Border4",
                    render: function (data, type, row) {
                        return '<b><label>' + data.Year + '</label></b><br/><label>' + '' + '</label></b><br/><label>'+ data.TotalSalesPrice + '</label>';
                    }
                },
                
                {
                    "data": null,
                    className: "Border5",
                    render: function (data, type, row) {
                        return '<label><a href="#" onClick="btnEditClick(\'' + data.BrandCD + '\',\'' + data.ProjectCD + '\')" style="color:blue">編集</a></label><br/><label><a href="#" onClick="btnDelClick(\'' + data.BrandCD + '\',\'' + data.ProjectCD + '\')" style="color:red">削除</a></label> <br/> <label><a href="#" onClick="btnCopyClick(\'' + data.BrandCD + '\',\'' + data.ProjectCD + '\')" style="color:green">複写</a></label><br/>';
                    }
                },
            ]
            //"drawCallback": function (settings) {
            //    $("#tblProject thead").remove();
            //}
        });

    }

    function btnAddClick() {
        location.href = '@Url.Action("TourokuProject_Entry", "TourokuProject")?Mode=New'
    }

     function btnNextClick() {
        location.href = '@Url.Action("TourokuHinban_List", "TourokuProject")?Mode=New'
    }

    function btnEditClick(BrandCD, ProjectCD) {
        location.href = '@Url.Action("TourokuProject_Entry", "TourokuProject")?ProjectCD=' + ProjectCD + '&BrandCD=' + BrandCD + '&Mode=Edit';
    }

        function btnCopyClick(BrandCD, ProjectCD) {
            location.href = '@Url.Action("TourokuProject_Entry", "TourokuProject")?ProjectCD=' + ProjectCD + '&BrandCD=' + BrandCD + '&Mode=Copy';

        }
    function btnDelClick(BrandCD, ProjectCD) {
        location.href = '@Url.Action("TourokuProject_Entry", "TourokuProject")?ProjectCD=' + ProjectCD + '&BrandCD=' + BrandCD + '&Mode=Delete';
    }
    </script>


}