@model Models.TourokuProjectModel
@{
    ViewBag.Title = "TourokuHinban_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

<div id="divMain" class="container-fluid">
    <div class="content">
        <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div>
                    <h2 class=" hr-text text-center">品番登録</h2>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="1" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this,'ProjectCheck')" id="ProjectCD" name="ProjectCD" maxlength="10" required placeholder="プロジェクトコード">

                            <input type="text" tabindex="2" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="ProjectName" name="ProjectName" maxlength="60" required placeholder="プロジェクト名">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="3" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Year" name="Year" maxlength="4" required placeholder="年度">

                            <input type="text" tabindex="4" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Season" name="Season" maxlength="4" required placeholder="シーズン">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="5" class="text-line col-xl-10 text-left" onkeydown="KeyDown(event,this)" id="BrandCD" name="BrandCD" maxlength="20" required placeholder="ブランド">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label style="padding:initial;width: 130px;">予定期間</label>

                            <input type="text" tabindex="6" class="text-line col-xl-3" onkeydown="KeyDown(event,this)" id="StartDate" name="StartDate" maxlength="7" required>
                            <label class="col-xl-1">~</label>
                            <input type="text" tabindex="7" class="text-line col-xl-3" onkeydown="KeyDown(event,this)" id="EndDate" name="EndDate" maxlength="7" required>

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="8" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="totalProNo" name="totalProNo" maxlength="10" required placeholder="総生産数">

                            <input type="text" tabindex="9" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="totalamount" name="totalamount" maxlength="10" required placeholder="総金額">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">

                            <input type="text" tabindex="10" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this)" id="HinbanCD" name="HinbanCD" maxlength="10" required placeholder="品番コード">
                            <input type="text" tabindex="11" class="text-line col-xl-7 text-left" onkeydown="KeyDown(event,this)" id="HinbanName" name="HinbanName" maxlength="60" required placeholder="品番名">
                        </div>

                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="12" class="text-line col-xl-10 text-left" onkeydown="KeyDown(event,this)" id="Color" name="Color" maxlength="5" required placeholder="色数">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="13" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Production" name="Production" maxlength="10" required placeholder="生産数">

                            <input type="text" tabindex="14" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="DeliverNo" name="DeliverNo" maxlength="10" required placeholder="累計納品数">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="15" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="saleparice" name="saleparice" maxlength="7" required placeholder="予定単価">

                            <input type="text" tabindex="16" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="Amount" name="Amount" maxlength="10" required placeholder="総金額">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <label class="col-xl-2" style="padding:initial;">金型</label>
                            <input type="text" tabindex="17" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this)" id="CastingCD" name="CastingCD" maxlength="20" required>
                            <input type="text" tabindex="18" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this)" id="CastingName" name="CastingName" maxlength="40" required>

                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                    <div class="col-xs-12">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <input type="text" tabindex="19" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="freeitem1" name="freeitem1" maxlength="10" required placeholder="自由配賦項目">

                            <input type="text" tabindex="20" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="freeitem2" name="freeitem2" maxlength="4" required placeholder="配賦用固定値">
                        </div>
                    </div>
                </div>
                <div class="pt-3 md-form">
                    <div class="col-xl-12 text-center">
                        <div class="text-s text-custom1 text-uppercase mb-1">
                            <button id="btnSave" tabindex="21" onclick="btnSaveClick()" class="btn btn-dark col-xl-4 text-center">登録</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="btnCancel" tabindex="22" onclick="btnCancelClick()" class="btn btn-primary col-xl-4 text-center">戻る</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
          
            var Mode = '@Model.Mode'; 
            if (Mode == 'New') {
                $('#btnSave').html('登録');
                RequiredCheck($("#ProjectCD"));
                RequiredCheck($("#HinbanCD"));
                RequiredCheck($("#HinbanName"));
                RequiredCheck($("#Production"));
                RequiredCheck($("#unitprice"));
                ExistsCheck($("#CastingCD"), "Casting", '@Url.Action("M_Casting_ExistsCheck", "api/TourokuProjectApi")', "CastingName"); 
                YearMonthCheck($("#StartDate"),'@Url.Action("YearMonth_Checking", "api/CommonApi")');
                YearMonthCheck($("#EndDate"),'@Url.Action("YearMonth_Checking", "api/CommonApi")');
            }
        });

        function ProjectCheck(result) {
            if (result == 'OK') {
                RequiredCheck($("#HinbanCD"));
                AlreadyExistsCheck($("#HinbanCD"), "Hinban", '@Url.Action("M_Hinan_Select", "api/TourokuProjectApi")', $("#ProjectCD").val());
            }
        }

        function btnSaveClick() {
            var res = ErrorCheckOnSave();
            if (res == "0") {
                var Mode = '@Model.Mode';
                //show confirm message
                if (Mode == "Delete") {
                    ShowConfirmMessage("Q102", "DeleteConfrim");
                }
                else {
                    DoProcess();
                }
            }
            else
                ShowErrorMessage(res);
        }
        

         function DoProcess() {
            focusControl = $("#ProjectCD");
             var Tmodel = {
                 HinbanCD: $("#HinbanCD").val(),
                 HinbanName: $("#HinbanName").val(),
                 ProjectCD: $("#ProjectCD").val(),
                 CastingCD: $("#CastingCD").val(),
                 FreeItem1: $("#freeitem1").val(),
                 FreeItem2: $("#freeitem2").val(),
                 Color: $("#Color").val(),
                 Production: $("#Production").val(),
                 SalePrice: $("#saleprice").val(),
               
                 Mode:'@Model.Mode'
            };

             var data = CalltoApiController('@Url.Action("Hinban_CUD", "api/TourokuProjectApi")', Tmodel);
            ShowSuccessMessage(data,'@Url.Action("TourokuProject_Entry", "TourokuProject")');           
        }

      
    </script>
   
}